<div class="content">
  <div class="container-fluid">
    <div class="row">
      <%= form_for(@service) do |f| %>
        <div class="col-md-12 ">
          <button type="submit" class="btn btn-success pull-right">
            <i class="material-icons">save</i>
            Guardar</button>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-header" data-background-color="blue">
              <h4 class="title"><%= @title %></h4>
              <p class="category"></p>
            </div>
            <div class="card-content">
              <% if @service.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@service.errors.count, "error") %> prohibited this category from being saved:</h2>
                    <ul>
                      <% @service.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group label-floating is-empty">
                    <label class="label">Nombre </label>
                    <%= f.text_field :name, class: 'form-control' %>
                    <span class="material-input"></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating is-empty" id="select_categories">
                    <label class="label">Categoría de servicio</label>
                    <input  type="hidden" id="selected_categories"  name="service[service_category_id]" value="0">
                    <input  type="hidden" disabled id="selected_categories1"  name="service[service_category_id]" value="0">
                    <select id="select_cat"  class="selectpicker" data-live-search="true" required>
                      <option value="0">Sin Categoría de servicio</option>
                      <% @categories.each do |c|  %>
                        <option data-tokens="<%= c.name%>" value="<%= c.id %>"
                          <%= @service_category ? @service_category.id === c.id ? "selected" : "" : ""%>
                        ><%= c.name%></option>
                      <% end %>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header" data-background-color="blue">
              <h4 class="title">Imagen</h4>
            </div>
            <div class="card-content">
              <div class="col-md-12">
                <%= image_tag @service.image.url, {class: 'thumbnail img form_img no-float center-block',id:'img_form'} %>
                <%= f.file_field :image, id: 'file_img' %>
                <br>
              </div>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    document.getElementById("file_img").onchange = function () {
        var reader = new FileReader();

        reader.onload = function (e) {
            // get loaded data and render thumbnail.
            document.getElementById("img_form").src = e.target.result;
        };

        // read the image file as a data URL.
        reader.readAsDataURL(this.files[0]);
    };
</script>