<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="option_buttons">
            <%= link_to   new_service_path, class: 'white-text pull-right', :'title'=>'Nuevo Servicio' do %>
                <i class="material-icons">edit</i>
                Nuevo Servicio
                <div class="ripple-container"></div>
            <% end %>
          </div>
          <div class="card-header" data-background-color="blue">
            <h4 class="title">Listado de Servicios</h4>
          </div>
          <div class="card-content">
            <div id="typography">
              <% if @services.count < 1 %>
                  <div class="col-md-6 alert alert-warning center-block no-float alert-with-icon">
                    <i data-notify="icon" class="material-icons">info_outline</i>
                    <span class="message">
                      <b> Oops! - </b> No hay servicios para mostrar,
                      <%= link_to 'haga click aquí para crear uno nuevo', new_service_path %></span>
                  </div>
              <% else %>
                  <div class="title">
                  </div>
                  <div class="row">
                    <table class="table">
                      <thead class="text-primary">
                      <tr>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Opciones</th>
                      </tr></thead>
                      <tbody>
                      <% @services.each do |service| %>
                          <tr>
                            <td><%= service.name %></td>
                            <td><%= service.service_category.name %></td>
                            <td><%= link_to 'Ver', service ,{class: 'btn btn-success'} %>
                              <%= link_to 'Editar', edit_service_path(service) ,{class: 'btn btn-info'} %>
                              <%= link_to 'Eliminar', service, method: :delete, data: { confirm: '¿Esta seguro?' }, class: 'btn btn-danger' %></td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                  <%= paginate @services %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

