<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 center-block no-float">
        <div class="card card-profile">
          <div class="card-avatar">
            <%= image_tag @service.image.url, {class: 'thumbnail form_img'} %>
          </div>
          <div class="content" style="padding: 5px 2em;">
            <p class="card-content" >
              <span>Servicio <strong> <%= @service.name %></strong></span>
              <hr>
              <%= link_to 'EDITAR', edit_service_path(@service),{class: 'btn btn-info'} %> |
              <%= link_to 'VOLVER', services_path,{class: 'btn btn-alert'} %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
