<div class="content">
  <div class="container-fluid">
    <div class="row">
      <%= form_for(@slider)do |f|  %>
          <div class="col-md-12 ">
            <button type="submit" class="btn btn-success pull-right">
              <i class="material-icons">save</i>
              Guardar</button>
          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="blue">
                <h4 class="title"><%= @title %></h4>
                <p class="category"></p>
              </div>
              <div class="card-content">
                <% if @slider.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@slider.errors.count, "error") %> prohibited this slider from being saved:</h2>

                      <ul>
                        <% @slider.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>
                <div class="row">
                  <div class="col-md-6">
                    <div class="col-md-12">
                      <div class="form-group label-floating is-empty">
                        <label class="label">Nombre </label>
                        <%= f.text_field :name, class: 'form-control' , :requried => 'required' %>
                        <span class="material-input"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                      <label class="label">Tipo de Slider </label>
                      <input type="hidden" name="slider[slider_type_id]" ><br />
                      <form id="check_form">
                        <input type="radio" class="slider_type_id" value="1" id="home_slider" name="slider_type_id"<%= @slider.slider_type_id != nil ?   @slider.slider_type_id == 1 ? 'checked' : '': ''  %>/><label for="home_slider"> Home Slider</label>
                        <span class="info">1920x530</span>
                        <br />
                        <input type="radio" class="slider_type_id" value="3" id="bottom_slider" name="slider_type_id"<%= @slider.slider_type_id != nil ?  @slider.slider_type_id == 3   ? 'checked' : '': ''  %>/><label for="bottom_slider"> Promo Slider</label>
                        <span class="info">1070x200</span>
                        <br />
                        <input type="radio" class="slider_type_id" value="2" id="bottom_slider" name="slider_type_id"<%= @slider.slider_type_id != nil ?  @slider.slider_type_id == 2   ? 'checked' : '': ''  %>/><label for="bottom_slider"> Bottom Slider</label>
                        <span class="info">1000x200</span>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <input type="hidden" name="slider[status]" value="1">
      <% end %>
      <div class="col-md-12">
        <div class="card">
        <div class="option_buttons">
          <%= link_to  new_slider_video_path+'?slider_id='+ @slider.id.to_s, class: 'white-text pull-right', :'title'=>'Nuevo Video' do %>
            <i class="material-icons">camera</i>
            Nuevo Video
            <div class="ripple-container"></div>
          <% end %>
          <%= link_to  new_slider_image_path+'?slider_id='+ @slider.id.to_s, class: 'white-text pull-right', :'title'=>'Nuevo Slider' do %>
            <i class="material-icons">edit</i>
            Nueva Imagen
            <div class="ripple-container"></div>
          <% end %>
        </div>
        <div class="card-header" data-background-color="blue">
          <h4 class="title">Listado de Archivos</h4>
        </div>
        <div class="card-content">
          <div id="typography">
            <% if @slider_images.nil?   %>
                <div class="col-md-6 alert alert-warning center-block no-float alert-with-icon">
                  <i data-notify="icon" class="material-icons">info_outline</i>
                  <span class="message">
                      <b> Oops! - </b> No hay imagenes para mostrar,
                    <%= link_to 'haga click aquí para crear uno nuevo', new_slider_image_path + '?slider_id=' + @slider.id.to_s %></span>
                </div>
            <% else %>
                <div class="title">
                </div>
                <div class="row">
                  <table class="table">
                    <thead class="text-primary">
                    <tr>
                      <th>Imagen</th>
                      <th>Opciones</th>
                    </tr></thead>
                    <tbody>
                    <% @slider_images.each do |slider| %>
                      <% if !slider.is_video %>
                        <tr>
                          <td><%= image_tag slider.image.url(:thumb) , :style => "max-width:180px"%> </td>
                          <td>
                            <%= link_to 'Editar', edit_slider_image_path(slider)+ '?slider_id=' + @slider.id.to_s ,{class: 'btn btn-info'} %>
                            <%= link_to 'Eliminar', slider, method: :delete, data: { confirm: '¿Esta seguro?' }, class: 'btn btn-danger' %></td>
                        </tr>
                      <% else %>
                        <tr>
                          <td><%= image_tag slider.image.url(:thumb) , :style => "max-width:80px"%> </td>
                          <td>
                            <%= link_to 'Editar', edit_slider_video_path(@slider,slider),{class: 'btn btn-info'} %>
                            <%= link_to 'Eliminar', slider, method: :delete, data: { confirm: '¿Esta seguro?' }, class: 'btn btn-danger' %></td>
                        </tr>
                      <% end %>
                    <% end %>
                    </tbody>
                  </table>
                </div>
                <%= paginate @slider_images %>
            <% end %>

          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  $(document).on('ready',function(){
    var data = <%= @slider.slider_type_id.nil? ? '' : @slider.slider_type_id %>
    $('input[name="slider[slider_type_id]"]').val(data);

    $('.slider_type_id').change(function(){
      $('input[name="slider[slider_type_id]"]').val($(this).val());
    });

  });
</script>
