<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="option_buttons">
            <%= link_to  new_slider_path, class: 'white-text pull-right', :'title'=>'Nuevo Slider' do %>
                <i class="material-icons">edit</i>
                Nuevo Slider
                <div class="ripple-container"></div>
            <% end %>
          </div>
          <div class="card-header" data-background-color="blue">
            <h4 class="title">Listado de Sliders</h4>
          </div>
          <div class="card-content">
            <div id="typography">
              <% if @sliders.count < 1 %>
                  <div class="col-md-6 alert alert-warning center-block no-float alert-with-icon">
                    <i data-notify="icon" class="material-icons">info_outline</i>
                    <span class="message">
                      <b> Oops! - </b> No hay Sliders para mostrar,
                      <%= link_to 'haga click aquí para crear uno nuevo', new_slider_path %></span>
                  </div>
              <% else %>
                  <div class="title">
                  </div>
                  <div class="row">
                    <table class="table">
                      <thead class="text-primary">
                      <tr>
                        <th>Nombre</th>
                        <th>Tipo Slider</th>
                        <th>Opciones</th>
                      </tr></thead>
                      <tbody>
                      <% @sliders.each do |slider| %>
                          <% slider.slider_type_id == 1 ? @class = 'home_slider' : @class = 'bottom_slider' %>
                          <tr class="<%= @class %>">
                            <td><%= slider.name %></td>
                            <td><%= slider.slider_type_id == 1 ?  'Home Slider' :  'Bottom Slider' %></td>
                            <td><%= link_to 'Ver', slider ,{class: 'btn btn-success'} %>
                              <%= link_to 'Editar', edit_slider_path(slider) ,{class: 'btn btn-info'} %>
                              <%= link_to 'Eliminar', slider, method: :delete, data: { confirm: '¿Esta seguro?' }, class: 'btn btn-danger' %></td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                  <%= paginate @sliders %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

