<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 center-block no-float">
        <div class="card card-profile">
          <div class="content" style="padding: 5px 2em;">
            <p class="card-content" >
              <span>Nombre <strong> <%= @slider.name %></strong></span>
            <hr>
            <span>Tipo <strong> <%= @slider.slider_type_id %></strong></span>
            <hr>
            <%= link_to 'EDITAR', edit_slider_path(@slider),{class: 'btn btn-info'} %> |
            <%= link_to 'VOLVER', '/admin/sliders',{class: 'btn btn-alert'} %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
