<%= javascript_include_tag Ckeditor.cdn_url %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <%= form_for(@menu) do |f| %>
          <div class="col-md-12 ">
            <button type="submit" class="btn btn-success pull-right" id="save_button">
              <i class="material-icons">save</i>
              Guardar</button>

          </div>
          <div class="col-md-12">

            <div class="card">
              <div class="card-header" data-background-color="blue">
                <h4 class="title"><%= @title %></h4>
                <p class="category"></p>
              </div>
              <div class="card-content">
                <% if @menu.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this product from being saved:</h2>

                      <ul>
                        <% @menu.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-6">
                      <div class="form-group label-floating is-empty">
                        <label class="label">Nombre </label>
                        <%= f.text_field :name, class: 'form-control' %>
                        <span class="material-input"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group label-floating is-empty">
                        <label class="label">URL </label>
                        <%= select("menu","url",Page.all.collect {|b| [b.title , b.slug] } , {include_bank: true} , {:class => "form-control"} )%>
                        <span class="material-input"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                      <label class="label">¿Activado? </label>
                      <input type="hidden" name="menu[status]" value="<%= @menu.status.nil? ? 0 : @menu.status %>">
                      <input type="checkbox" class="principal_page" value="1" id="status" name="status"<%=  @menu.status != nil ?   @menu.status == 1 ? 'checked' : '': ''  %>/>
                      <span class="material-input"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <% if @menu_id %>
              <%= f.hidden_field :menu_id, class: 'form-control', value: @menu_id%>
          <% end %>
      <% end %>
    </div>

  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).on('ready',function(){
        $('#status').change(function(){
            var c = $(this).is(':checked') ? "1" : "0";
            $('input[name="menu[status]"]').val(c);
        });
    });
</script>

