<div class="content">
  <div class="container-fluid">
    <div class="row">
      <%= render "layouts/admin/search" %>
      <div class="col-md-12">
        <div class="card">
          <div class="option_buttons">
            <%= link_to  new_menu_path, class: 'white-text pull-right', :'title'=>'Nuevo Menu' do %>
                <i class="material-icons">edit</i>
                Nueva Menu
                <div class="ripple-container"></div>
            <% end %>
          </div>
          <div class="card-header" data-background-color="blue">
            <h4 class="title">Listado de Menus</h4>
          </div>
          <div class="card-content">
            <div id="typography">
              <% if @menus.count < 1 %>
                  <div class="col-md-6 alert alert-warning center-block no-float alert-with-icon">
                    <i data-notify="icon" class="material-icons">info_outline</i>
                    <span class="message">
                      <b> Oops! - </b> No hay menus para mostrar,
                      <%= link_to 'haga click aquí para crear uno nuevo', new_menu_path %></span>
                  </div>
              <% else %>
                  <div class="title">
                  </div>
                  <div class="row">
                    <table class="table">
                      <thead class="text-primary">
                      <tr>
                        <th>Nombre</th>
                        <th>URL</th>
                        <th>Opciones</th>
                      </tr></thead>
                      <tbody>
                      <% @menus.each do |menu| %>
                        <%if menu.child_menu(menu.id).count > 0
                             @sub_menus = menu.child_menu(menu.id)
                             %>
                              <tr>
                                <td><%= menu.name %>
                                </td>
                                <td><%= menu.url %></td>
                                <td><%= link_to 'Ver', menu ,{class: 'btn btn-success'} %>
                                  <%= link_to 'Editar', edit_menu_path(menu) ,{class: 'btn btn-info'} %>
                                  <%= link_to 'Eliminar', menu, method: :delete, data: { confirm: '¿Esta seguro?' }, class: 'btn btn-danger' %>
                                  <%= link_to 'Crear sub menu', new_menu_path(:menu_id => menu.id), class: 'btn btn-warning' %></td>
                              </tr>
                            <%
                             @sub_menus.each do |sm|
                            %>
                                  <tr class="child">
                                    <td><i class="material-icons">call_missed_outgoing</i><%= sm.name %>
                                    </td>
                                    <td><%= sm.url %></td>
                                    <td><%= link_to 'Ver', sm ,{class: 'btn btn-success'} %>
                                      <%= link_to 'Editar', edit_menu_path(sm) ,{class: 'btn btn-info'} %>
                                      <%= link_to 'Eliminar', sm, method: :delete, data: { confirm: '¿Esta seguro?' }, class: 'btn btn-danger' %>
                                    </td>
                                  </tr>
                            <%
                              end
                           else
                            if menu.menu_id == nil
                        %>
                            <tr>
                              <td><%= menu.name %>
                              </td>
                              <td><%= menu.url %></td>
                              <td><%= link_to 'Ver', menu ,{class: 'btn btn-success'} %>
                                <%= link_to 'Editar', edit_menu_path(menu) ,{class: 'btn btn-info'} %>
                                <%= link_to 'Eliminar', menu, method: :delete, data: { confirm: '¿Esta seguro?' }, class: 'btn btn-danger' %>
                                <%= link_to 'Crear sub menu', new_menu_path(:menu_id => menu.id), class: 'btn btn-warning' %>
                              </td>
                            </tr>
                            <% end %>
                          <% end %>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                  <%= paginate @menus %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


