<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 center-block no-float">
        <div class="card card-profile">
          <div class="card-avatar">
            <%= image_tag asset_path('logo.png') , {class: 'thumbnail form_img'} %>
          </div>
          <div class="content" style="padding: 5px 2em;">
            <p class="card-content" >
              <span>Producto <strong> <%= @menu.name %></strong></span>
            <hr>
            <span>URL <strong> <%= @menu.url %></strong></span>
            <hr>
            <span>Estado <strong> <%= @menu.status %></strong></span>
            <hr>
            <%= link_to 'EDITAR', edit_menu_path(@menu),{class: 'btn btn-info'} %> |
            <%= link_to 'VOLVER', '/admin/menus',{class: 'btn btn-alert'} %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
