<div class="content">
  <div class="container-fluid">
    <div class="row">
      <%= form_for(@partner) do |f| %>
          <div class="col-md-12 ">
            <button type="submit" class="btn btn-success pull-right">
              <i class="material-icons">save</i>
              Guardar</button>

          </div>
          <div class="col-md-8">
            <div class="card">
              <div class="card-header" data-background-color="blue">
                <h4 class="title"><%= @title %></h4>
                <p class="category"></p>
              </div>
              <div class="card-content">
                <% if @partner.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@partner.errors.count, "error") %> no se ha podido guardar este elemento:</h2>

                      <ul>
                        <% @partner.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>
                <div class="row">
                  <div class="col-md-6">
                      <div class="form-group label-floating is-empty">
                        <label class="label">Nombre </label>
                        <%= f.text_field :name, class: 'form-control' , :requried => 'required' %>
                        <span class="material-input"></span>
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                      <label class="label">URL </label>
                      <%= f.text_field :url, class: 'form-control' , :requried => 'required' %>
                      <span class="material-input"></span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                      <label class="label">Teléfono</label>
                      <%= f.text_field :phone, class: 'form-control'  %>
                      <span class="material-input"></span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                      <label class="label">Tìtulo</label>
                      <%= f.text_field :title, class: 'form-control'  %>
                      <span class="material-input"></span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                      <label class="label">Custom Class</label>
                      <%= f.text_field :custom_class, class: 'form-control'  %>
                      <span class="material-input"></span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group label-floating is-empty">
                      <input type="hidden" name="partner[is_partner]" >
                        <input type="checkbox" class="is_partner" value="1" id="is_partner" name="is_partner"<%=  @partner.is_partner != nil ?   @partner.is_partner == 1 ? 'checked' : '': ''  %>/><label for="is_partner">¿Es Partner?</label><br />
                      <span class="material-input"></span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group label-floating is-empty">
                      <input type="hidden" name="partner[in_header]" >
                        <input type="checkbox" class="in_header" value="1" id="in_header" name="in_header"<%=  @partner.in_header != nil ?   @partner.in_header == 1 ? 'checked' : '': ''  %>/><label for="is_partner">¿Mostrar en header?</label><br />
                      <span class="material-input"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header" data-background-color="blue">
                <h4 class="title">Logo</h4>
              </div>
              <div class="card-content">
                <div class="col-md-12">
                  <%= image_tag @partner.logo.url, {class: 'thumbnail img form_img no-float center-block',id:'img_form'} %>
                  <%= f.file_field :logo, id: 'file_img' %>
                  <br>
                </div>
              </div>

            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).on('ready',function(){
    $('#product_price').val('0');

    var data = <%= @partner.is_partner == nil ?  0 : @partner.is_partner %>;
    $('input[name="partner[is_partner]"]').val(data);

    $('.is_partner').change(function(){
      var c = $(this).is(':checked') ? "1" : "0";
      $('input[name="partner[is_partner]"]').val(c);
    });
    $('.in_header').change(function(){
      var c = $(this).is(':checked') ? "1" : "0";
      $('input[name="partner[in_header]"]').val(c);
    });

  })
  document.getElementById("file_img").onchange = function () {
    var reader = new FileReader();

    reader.onload = function (e) {
      // get loaded data and render thumbnail.
      document.getElementById("img_form").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
  };
</script>