<div class="content">
  <div class="container-fluid">
    <div class="row">
      <%= render "layouts/admin/search" %>
      <div class="col-md-12">
        <div class="card">
          <div class="option_buttons">
            <%= link_to  new_partner_path, class: 'white-text pull-right', :'title'=>'Nuevo Producto' do %>
                <i class="material-icons">edit</i>
                Nuevo Partner
                <div class="ripple-container"></div>
            <% end %>
          </div>
          <div class="card-header" data-background-color="blue">
            <h4 class="title">Listado de Marcas Asociadas</h4>
          </div>
          <div class="card-content">
            <div id="typography">
              <% if @partners.count < 1 %>
                  <div class="col-md-6 alert alert-warning center-block no-float alert-with-icon">
                    <i data-notify="icon" class="material-icons">info_outline</i>
                    <span class="message">
                      <b> Oops! - </b> No hay partners para mostrar,
                      <%= link_to 'haga click aquí para crear uno nuevo', new_partner_path %></span>
                  </div>
              <% else %>
                  <div class="title">
                  </div>
                  <div class="row">
                    <table class="table">
                      <thead class="text-primary">
                      <tr>
                        <th>Nombre</th>
                        <th>Website</th>
                        <th>Teléfono</th>
                        <th>Logo</th>
                        <th></th>
                      </tr></thead>
                      <tbody>
                      <% @partners.each do |partner| %>
                          <% partner.is_partner == 1 ? @class = 'patner_' : @class = '' %>
                          <tr class="<%= @class %>">
                            <td><%= partner.name %></td>
                            <td><%= partner.url %></td>
                            <td><%= partner.phone %></td>
                            <td><%= image_tag partner.logo.url(:medium), :style=>'max-width:100px' %></td>
                            <td><%= link_to 'Ver', partner ,{class: 'btn btn-success'} %>
                              <%= link_to 'Editar', edit_partner_path(partner) ,{class: 'btn btn-info'} %>
                              <%= link_to 'Eliminar', partner, method: :delete, data: { confirm: '¿Esta seguro?' }, class: 'btn btn-danger' %></td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                  <%= paginate @partners %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
