<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 center-block no-float">
        <div class="card card-profile">
          <div class="card-avatar">
            <%= image_tag @partner.logo.url(:thumb), {class: 'thumbnail form_img'} %>
          </div>
          <div class="content" style="padding: 5px 2em;">
            <p class="card-content" >
              <span>Nombre <strong> <%= @partner.name %></strong></span>
            <hr>
            <span>Website <strong> <%= @partner.url %></strong></span>
            <hr>
            <span>Teléfono <strong> <%= @partner.phone %></strong></span>
            <hr>
            <%= link_to 'EDITAR', edit_partner_path(@partner),{class: 'btn btn-info'} %> |
            <%= link_to 'VOLVER', '/admin/partners',{class: 'btn btn-alert'} %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

