<table class="table table-hover">
  <thead class="text-warning">
  <th>#Chat</th>
  <th>Email</th>
  <th>Empresa</th>
  <th>Nombre</th>
  <th>Estado</th>
  <th></th>
  </thead>
  <tbody>
  <% defined? @pending_chats  %>
    <% @pending_chats.each do |pc| %>
        <tr>
          <td>#<%= pc.room_name %></td>
          <td><%= pc.customer.customer_email %></td>
          <td><%= pc.customer.customer_company %></td>
          <td><%= pc.customer.customer_name %></td>
          <td><%= pc.status %></td>
          <td>
            <a href="#" class="btn btn-info conectar" data-customer_email="<%= pc.customer.customer_email %>" data-room_id="<%= pc.id %>" data-sid="<%= pc.room_name %>">Conectar</a>
            <a href="#" class="btn btn-danger cancelar" data-customer_email="<%= pc.customer.customer_email %>"  data-room_id="<%= pc.id %>">Cancelar</a>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>