<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="orange">
            <h4 class="title">Chats Pendientes</h4>
            <p class="category">Listado de solicitudes de chat pendientes</p>
          </div>
          <div class="card-content table-responsive" id="chat-table">
              <%= render "admin/chatTable" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
  //canal de las solicitudes de chat
  var channel_new_chat_request =  pusher.subscribe('channel_chat_requests') ;
  //espera a nuevas solicitudes de chats
  channel_new_chat_request.bind('new_request',function(data_request){
    $('#chat-table').append('<div class="preloader-2"> <img src="<%= asset_path('preloader.gif') %>" /> </div>');
    $.get('/admin/chat/refresh_table')
        .success(function(data){
          $('#chat-table').html(data);
          $('.preloader-2').remove();
          if(data_request['pending_chats'] >9){
            var pending_chats = '9+';
          }else{
            var pending_chats = data_request['pending_chats'];
          }
          $('#notification-chats').text(pending_chats);
        });
  });

  //cambio de status del monitor
  $('#cm_status').change(function(e){
    e.preventDefault();
    var data = {socket_id: pusher.connection.socket_id};
    if(this.value == 1 ){
      $.get('/admin/chat/change_status/?sid='+ data.socket_id+'&val='+this.value)
          .success(function(data){
          });
    }
    if(this.value == 0 ){
      $.get('/admin/chat/change_status/?sid='+ data.socket_id+'&val='+this.value)
          .success(function(url){
            console.log(this);
          });
    }

  });

  //conectar al chat
  $(document).on('click','.conectar',function(e){
    var customer_id = $(this).data('customer_id');
    var room_id = $(this).data('room_id');
    var room = $(this).data('sid');
    var customer_email = $(this).data('customer_email');
    $('#chat-table').append('<div class="preloader-2"> <img src="<%= asset_path('preloader.gif') %>" /> </div>');
    $.get('/admin/chat/accept_chat?room='+room_id+'&customer_email='+customer_email+'&cm='+<%= current_user.id %>)
        .success(function(data){
          $('#chat-table').html(data);
          $('.preloader-2').remove();
          var href = '../chat/room/'+room;
            window.open(href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=900,height=550');
            return false
        });
  });

  //cancelar chat
  $(document).on('click','.cancelar',function(e){
    e.preventDefault;
    var customer_email = $(this).data('customer_email');
    var room_id = $(this).data('room_id');
    var sid = pusher.connection.socket_id;
    $('#chat-table').append('<div class="preloader-2"> <img src="<%= asset_path('preloader.gif') %>" /> </div>');
    $.get('/admin/chat/cancel_chat?room='+room_id+'&sid='+sid+'&customer_email='+customer_email)
        .success(function(data){
          $('#chat-table').html(data);
          $('.preloader-2').remove();
          var pending_chats =  $('#notification-chats').text() - 1 ;
          $('#notification-chats').text(pending_chats);
        });
  });
</script>
