<div class="content">
  <div class="container-fluid">
    <% if current_user.user_type_id == 1%>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="orange">
            <i class="material-icons">shopping_cart</i>
          </div>
          <div class="card-content">
            <p class="category">Productos</p>
            <h3 class="title"><%= @products.count %><small> </small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-info">info</i> <a href="/admin/products">Ver todos los productos...</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="green">
            <i class="material-icons">bubble_chart</i>
          </div>
          <div class="card-content">
            <p class="category">Proyectos en Ejecución</p>
            <h3 class="title"><%= @projects_e.count %><small> </small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-info">info</i> <a href="/admin/projects">Ver todas los proyectos...</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="red">
            <i class="material-icons">info_outline</i>
          </div>
          <div class="card-content">
            <p class="category">Proyectos Ejecutados</p>
            <h3 class="title"><%= @projects.count %><small> </small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-info">info</i> <a href="/admin/projects">Ver todos los proyectos...</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="blue">
            <i class="material-icons">content_copy</i>
          </div>
          <div class="card-content">
            <p class="category">Páginas</p>
            <h3 class="title"><%= @pages.count %><small> </small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-info">info</i> <a href="/admin/pages">Ver todos las páginas...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" >
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="card">
          <div class="card-header" data-background-color="orange">
            <h4 class="title">Editar Páginas</h4>
            <p class="category"></p>
          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
              <th>#</th>
              <th>Titulo</th>
              <th>Slug</th>
              <th>Opciones</th>
              </thead>
              <tbody>
              <% @pages.each do |page| %>
                <% page.principal_page == 1 ? @class = 'principal_page' : @class = '' %>
                <tr class="<%= @class %>">
                  <td><%= page.id %></td>
                  <td><%= page.title %></td>
                  <td><%= page.slug %></td>
                  <td>
                    <%= link_to 'Editar', edit_page_path(page) ,{class: 'btn btn-info', style: 'margin-top: -2px;' } %>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>



