<div class="content">
  <div class="container-fluid">
    <% if current_user.user_type_id == 1%>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card card-stats">
          <div class="card-header" style="margin-bottom:4rem;width:20%;background: #fff;box-shadow: 10px 5px 14px -15px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)" >
            <img src="<%=asset_path("logo.png") %>" style="width:100%" alt="">
          </div>
          <div class="card-content">
            <p class="category">Editar</p>
            <h3 class="title"> Home Page<small> </small></h3>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="stats col-lg-6  col-md-12 col-sm-12">
                <form action="/admin/home_slider/update" method="post" class="col-lg-12">
                  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                  <button type="submit" class="btn btn-success" style="position: absolute;right: 45px;z-index: 999999;bottom:30px">
                    <i class="material-icons">save</i>
                  </button>
                  <i class="material-icons">edit</i> Seleccionar Slider Principal &nbsp;
                  <%= select("","slider_id",Slider.all.collect {|b| [b.name , b.id] } , {include_bank: "Seleccione una opción", :selected => @home_page.slider_id} , {:class => "form-control"} )%>
                </form>
              </div>
              <div class="stats col-lg-6  col-md-12 col-sm-12">
                <form action="/admin/home_promo_slider/update" method="post" class="col-lg-12">
                  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                  <button type="submit" class="btn btn-success" style="position: absolute;right: 45px;z-index: 999999;bottom:30px">
                    <i class="material-icons">save</i>
                  </button>
                  <i class="material-icons">edit</i> Seleccionar Slider Promoción
                  <%= select("","slider_id",Slider.all.collect {|b| [b.name , b.id] } , {include_bank: "Seleccione una opción", :selected => @home_page.promo_slider_id} , {:class => "form-control"} )%>
                </form>
              </div>
            </div>
            <br>
            <hr>
            <br>
            <br>
            <div class="row">
              <div class=" col-lg-12 col-md-12 col-sm-12">
                <h3>Textos home</h3>
                <form action="/admin/home_texts/update" method="post">
                  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                  <button type="submit" class="btn btn-success" >
                    <i class="material-icons">save</i>
                  </button>
                  <div class="form-group">
                    <span>Título </span>
                    <input type="text" name="home_texts[title]" class="form-control" value="<%= @home_texts.title %>">
                  </div>
                  <div class="form-group">
                    <span>Contenido </span>
                    <textarea class="form-control" name="home_texts[description]" rows="5" style="width:600px"><%= @home_texts.description.gsub("<br/>","\n") %></textarea>
                  </div>
                </form>
              </div>
            </div>
            <br>
            <hr>
            <br>
            <br>
            <div class="row">
              <% @home_images.each_with_index do |hi,index| %>
                <div class="stats col-lg-4  col-md-12 col-sm-12">
                  <form action="/admin/home_images/update" method="post" class="col-lg-12" enctype="multipart/form-data">
                    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                    <input type="hidden" name="id" value="<%= hi.id %>">
                    <button type="submit" class="btn btn-success" style="position: absolute;right: 45px;z-index: 999999;bottom:30px">
                      <i class="material-icons">save</i>
                    </button>
                    <div class="col-lg-12 col-home">
                      <span>Título </span>
                      <input type="text" name="title" class="form-control"value="<%= hi.title %>">
                    </div>
                    <div class="col-lg-12 col-home">
                      <span>URL </span>
                      <input type="text" name="url" class="form-control"value="<%= hi.url %>">
                    </div>
                    <div class="col-lg-12">
                      <i class="material-icons">edit</i>  Imagen Home  <%= index + 1 %>
                      <% id_img = 'img_form' + (index+1).to_s %>
                      <%= image_tag hi.home_image.url,
                                    {class: 'thumbnail img form_img no-float center-block',id: id_img } %>
                      <input type="file" id="file_img<%= index+1 %>" name="home_image">
                    </div>
                  </form>
                </div>
                <script type="text/javascript" charset="utf-8">
                    document.getElementById("file_img<%= index+1 %>").onchange = function () {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            // get loaded data and render thumbnail.
                            document.getElementById("<%= id_img %>").src = e.target.result;
                        };
                        // read the image file as a data URL.
                        reader.readAsDataURL(this.files[0]);
                    };
                </script>
              <% end %>
            </div>
            <br>
            <hr>
            <br>
            <br>
            <div class="row">
              <div class="stats col-lg-12  col-md-12 col-sm-12">
                <i class="material-icons">edit</i> Editar Números
                <br>
              </div>
              <% @p_numbers.each do |p| %>
                <form action="/admin/numbers/update" method="post" class="col-lg-6">
                  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                  <input type="hidden" name="id" class="form-control"value="<%= p.id %>">
                  <button type="submit" class="btn btn-success" style="position: absolute;right: 45px;z-index: 999999;">
                    <i class="material-icons">save</i>
                  </button>
                  <div class="stats col-lg-12  col-md-12 col-sm-12">
                    <div class="stats col-lg-6  col-md-6 col-sm-12" style="border-bottom: 1px dashed rgba(0,0,0,0.2);">
                      <div class="form-group label-floating is-empty" style="width:100%" >
                        <label class="label">Nombre </label>
                        <input type="text" name="name" class="form-control"value="<%= p.name %>">
                      </div>
                    </div>
                    <div class="stats col-lg-6  col-md-6 col-sm-12" style="border-right: 1px dashed rgba(0,0,0,0.2);">
                      <div class="form-group label-floating is-empty" style="width:100%" >
                        <label class="label">Número </label>
                        <input type="text" name="number" class="form-control" value="<%= p.number %>">
                        <br>
                      </div>
                    </div>
                  </div>
                </form>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>



