<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="/">
            VideoCorp.com
          </a>
        </li>
        <li>
          <a href="/admin">
            Dashboard
          </a>
        </li>
        <li>
          <a href="/admin/products">
            Productos
          </a>
        </li>

      </ul>
    </nav>
    <p class="copyright pull-right">
      &copy; 2016 <a href="#">VideoCorp</a>
    </p>
  </div>
</footer>