<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar bar1"></span>
        <span class="icon-bar bar2"></span>
        <span class="icon-bar bar3"></span>
      </button>
      <a class="navbar-brand" href="#"><%= @section %></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">

        <li>
          <%=
            link_to 'Cerrar Sesión',
                    destroy_user_session_path,
                    method: 'DELETE',
                    class: 'btn btn-xs btn-danger',
                    data: {no_turbolink: true}
          %>
        </li>
        <% if current_user.user_type_id == 4 %>
            <li>
              <select name="cm_status" id="cm_status">
                <% if current_user.chat_user_status == 1%>
                   <option value="1">Conectado</option>
                   <option value="0">Desconectado</option>
                <% else %>
                    <option value="0">Desconectado</option>
                    <option value="1">Conectado</option>
                <% end %>
              </select>
            </li>

        <% end %>
      </ul>

    </div>
  </div>
</nav>

