<div class="col-md-12">
    <form class="navbar-form navbar-right" action="" method="get" role="search">
        <div class="form-group  is-empty">
            <input type="text" class="form-control" name="search" placeholder="Buscar ...">
            <span class="material-input"></span>
            <span class="material-input"></span></div>
        <button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i><div class="ripple-container"></div>
        </button>
    </form>
</div>
