<div class="sidebar" data-color="blue" data-image="<%= asset_path('sidebar-3.jpg') %>">
  <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->

  <div class="logo">
    <a href="#" class="simple-text">
      VideoCorp
    </a>
  </div>

  <div class="sidebar-wrapper">
    <ul class="nav">
      <% if current_user.user_type_id == 1  %>
      <li class="<%= 'active' if @path == 'admin' %>">
        <a href="/admin">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="<%= 'active' if @path == 'home' %>">
        <a href="/admin/home">
          <i class="material-icons">home</i>
          <p>Home Page</p>
        </a>
      </li>
      <li class="<%= 'active' if @path == 'services' %>">
        <a href="/admin/services">
          <i class="material-icons">home</i>
          <p>Servicios</p>
        </a>
      </li>
      <li class="<%= 'active' if @path == 'sliders' %>">
        <a href="/admin/sliders">
          <i class="material-icons">collections</i>
          <p>Sliders</p>
        </a>
      </li>
      <li class="<%= 'active' if @path == 'users' %>">
        <a href="/admin/users">
          <i class="material-icons">people</i>
          <p>Usuarios</p>
        </a>
      </li>
          <li class="<%= 'active' if @path == 'menu' %>">
            <a href="/admin/menus">
              <i class="material-icons">library_books</i>
              <p>Menú</p>
            </a>
          </li>
      <li class="<%= 'active' if @path == 'pages' %>">
        <a href="/admin/pages">
          <i class="material-icons">content_copy</i>
          <p>Páginas Interiores</p>
        </a>
      </li>
      <li class="<%= 'active' if @path == 'partners' %>">
        <a href="/admin/partners">
          <i class="material-icons">people</i>
          <p>Marcas Asociadas</p>
        </a>
      </li>
      <li class="<%= 'active' if @path == 'projects' %>">
        <a href="/admin/projects">
          <i class="material-icons">work</i>
          <p>Proyectos</p>
        </a>
      </li>
      <!--li class="<%= 'active' if @path == 'categories' %>">
        <a href="/admin/categories">
          <i class="material-icons">bubble_chart</i>
          <p>Tipos de productos</p>
        </a>
      </li
      <li class="<%= 'active' if @path == 'products' %>">
        <a href="/admin/products">
          <i class="material-icons">shopping_cart</i>
          <p>Productos</p>
        </a>
      </li-->
      <li class="<%= 'active' if @path == 'brands' %>">
        <a href="/admin/brands">
          <i class="material-icons">shopping_cart</i>
          <p>Marcas [Productos]</p>
        </a>
      </li>
      <% end %>
      <% if current_user.user_type_id == 4  %>
          <li class="<%= 'active' if @path == 'chat' %>">
            <a href="/admin/chat">
              <i class="material-icons">chat</i>
              <p>Chat</p>
            </a>
          </li>
      <% end %>

    </ul>
  </div>
</div>