<div class="content">
  <div class="container-fluid">
    <div class="row">
      <%= form_for(@user) do |f| %>
          <div class="col-md-12 ">
            <button type="submit" class="btn btn-success pull-right">
              <i class="material-icons">save</i>
              Guardar</button>

          </div>
      <div class="col-md-6 center-block no-float">
        <div class="card">
          <div class="card-header" data-background-color="blue">
            <h4 class="title"><%= @title %></h4>
            <p class="category"></p>
          </div>
          <div class="card-content">
            <% if @user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this product from being saved:</h2>

                <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                      <label class="label">Nombre </label>
                      <%= f.text_field :name, class: 'form-control' %>
                      <span class="material-input"></span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                      <label class="label">Apellido</label>
                         <%= f.text_field :last_name, class: 'form-control' %>
                      <span class="material-input"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                      <label class="label">Correo electrónico </label>
                      <%= f.email_field :email, class: 'form-control' %>
                      <span class="material-input"></span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                      <label class="label">Contraseña</label>
                         <%= f.password_field :password, class: 'form-control', required: 'required' %>
                      <span class="material-input"></span>
                    </div>
                  </div>
                </div>
              </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group label-floating is-empty">
                  <label class="label">Tipo de usuario</label>
                  <select   name="user[user_type_id]" class="selectpicker" data-live-search="true">
                    <% @user_types.each do |u|  %>
                      <% if @user.user_type_id != nil  && @user.user_type_id == u.id %>
                            <option data-tokens="<%= u.name %>" value="<%= u.id %>" selected><%= u.name %></option>
                      <% else %>
                            <option data-tokens="<%= u.name%>" value="<%= u.id %>"><%= u.name%></option>
                      <% end %>
                    <% end %>
                  </select>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
          <input type="hidden" name="user[status]" value="1">
      <% end %>
    </div>

  </div>
</div>
