<div class="content">
  <div class="container-fluid">
    <div class="row">
      <%= render "layouts/admin/search" %>
      <div class="col-md-12">
        <div class="card">
          <div class="option_buttons">
            <%= link_to  new_user_path, class: 'white-text pull-right', :'title'=>'Nuevo Usuario' do %>
                <i class="material-icons">edit</i>
                Nuevo Usuario
                <div class="ripple-container"></div>
            <% end %>
          </div>
          <div class="card-header" data-background-color="blue">
            <h4 class="title">Listado de Usuarios</h4>
          </div>
          <div class="card-content">
            <div id="typography">
              <% if @users.count < 1 %>
                  <div class="col-md-6 alert alert-warning center-block no-float alert-with-icon">
                    <i data-notify="icon" class="material-icons">info_outline</i>
                    <span class="message">
                      <b> Oops! - </b> No hay usuarios para mostrar,
                      <%= link_to 'haga click aquí para crear uno nuevo', new_user_path %></span>
                  </div>
              <% else %>
              <div class="title">
              </div>
              <div class="row">
                <table class="table">
                  <thead class="text-primary">
                  <tr>
                    <th>Nombre</th>
                    <th>Tipo de usuario</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                  </tr></thead>
                  <tbody>
                  <% @users.each do |user| %>
                      <tr>
                        <td><%= user.name %></td>
                        <td><%= user.user_type.name %></td>
                        <td><%= link_to 'Ver', user ,{class: 'btn btn-success'} %>
                          <% unless current_user.id != user .id && user.user_type_id == 1%>
                               <%= link_to 'Editar', edit_user_path(user) ,{class: 'btn btn-info'} %>
                          <% end %>
                          <% unless current_user.id == user .id || user.user_type_id == 1%>
                               <%=    link_to 'Eliminar', user, method: :delete, data: { confirm: '¿Esta seguro?' }, class: 'btn btn-danger'%></td>
                          <% end %>
                          </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

