<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 center-block no-float">
        <div class="card card-profile">
          <div class="card-avatar">
            <%= image_tag asset_path('user_avatar.png'), {class: 'thumbnail form_img'} %>
          </div>
          <div class="content" style="padding: 5px 2em;">
            <p class="card-content" >
              <span>Nombre <strong> <%= @user.name %>   <%= @user.last_name %></strong></span>

            <hr>
              <span>Email <strong> <%= @user.email %></strong></span>
            <hr>
              <span>Tipo usuario <strong> <%= @user.user_type.name %></strong></span>
            <hr>

            <%= link_to 'EDITAR', edit_user_path(@user),{class: 'btn btn-info'} %> |
            <%= link_to 'VOLVER', '/admin/users',{class: 'btn btn-alert'} %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
