<!-- Home slider -->
<div id="home_slider" class="carousel slide">
  <div class="carousel-inner">
    <% @home_slider.each_with_index do  |hs,index |%>
      <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
        <% if hs.is_video? %>
          <% if !hs.video_url.nil? %>
            <!--video id="vid" class="video-slide" controls autoplay>
              <source src="< %= asset_path('videos/videocorp_VOZ1.mov') %>" type="video/mp4" autoplay>
              Your browser does not support the video tag.
            </video-->
            <div id="player-<%= hs.youtube_video_id %>" class="video-slide"></div>
            <script>
              $(document).on('ready', function() {
                 $('#vid').play();
              });
                var tag = document.createElement('script');
                tag.src = "https://www.youtube.com/iframe_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
                var player;
                function onYouTubeIframeAPIReady() {
                    player = new YT.Player('player-<%= hs.youtube_video_id %>', {
                        autoplay: 0,
                        playerVars: {
                            rel: 0,
                            ecver: 2,
                            loop: 0,
                            controls: 1,
                            showinfo: 0,
                            autohide: 0,
                            modestbranding: 1},
                        videoId: 'WLg6nBbzEfo',
                        events: {
                            'onReady': onPlayerReady,
                            'onStateChange': onPlayerStateChange
                        }
                    });
                }
                function onPlayerReady(event) {
                    event.target.playVideo();
                    $('#home_slider').carousel('pause');
                }
                function onPlayerStateChange(event) {
                    if(event.data == YT.PlayerState.PLAYING || event.data == YT.PlayerState.BUFFERING || event.data == YT.PlayerState.CUED) {
                        $('#home_slider').carousel('pause');
                    }
                    // if end or pause carousel continue
                    if(event.data == YT.PlayerState.ENDED || event.data == YT.PlayerState.PAUSED) {
                        setTimeout(function(){$('.carousel-control-next').trigger('click');},2000)
                    }
                }
            </script>
          <% end %>
        <% else %>
          <%= image_tag hs.image.url(:home_slider) %>
        <% end %>
      </div>
    <% end %>

  </div>
  <a class="carousel-control-prev" href="#home_slider" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#home_slider" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- // Home slider -->
<!-- Home Info-->
<div id="home-info" class="container-fluid home-info">
  <div class="title">
    <h2><%= @home_texts.title %></h2>
  </div>
  <div class="content">
    <p><%= raw(@home_texts.description) %></p>
    <div class="icons">
      <div class="item">
        <a href="#"><img src="<%= asset_path('home/soluciones-audiovisuales.png') %>" alt="Soluciones Audiovisuales"></a>
      </div>
      <div class="item">
        <a href="#"><img src="<%= asset_path('home/soluciones-seguridad.png') %>" alt="Soluciones Seguridad"></a>
      </div>
      <div class="item">
        <a href="#"><img src="<%= asset_path('home/soluciones-broadcasting.png') %>" alt="Soluciones Broadcasting"></a>
      </div>
      <div class="item">
        <a href="#"><img src="<%= asset_path('home/soluciones-educativas.png') %>" alt="Soluciones Educativas"></a>
      </div>
    </div>
  </div>
</div>
<!-- // Home Info-->
<!-- Home Services-->
<div id="home-services" class="home-services">
  <div class="service-container container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="content">
          <div class="title">
            <h2><img src="<%= asset_path('home/icono-corporativo.jpg') %>" alt="Corporativo"> Corporativo</h2>
          </div>
          <div class="list">
            <% @services.each do |service, index|  %>
              <% if service.service_category.id === 1 %>
                <div class="item <%= index === 0 ? "active" : "" %>">
                  <i class="fa fa-angle-right"></i>
                  <a class="service-" data-url="<%= service.image.url %>" data-service="<%= index %>" data-toggle="modal" data-target="#service_modal"><%= service.name %></a>
                </div>
              <% end %>
            <% end %>
            <!-- service modal -->
            <div id="service_modal" class="modal fade" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <div id="carouselServices" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img id="service-image-modal" src="" class="d-block w-100" >
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselServices" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselServices" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>

                </div>
              </div>
            </div>
            <!-- // service modal -->
          </div>
        </div>
      </div>
      <div class="image">
        <img class="service-image" src="<%= asset_path('home/servicios/corporativo/control-de-acceso.jpg') %>"
             data-default-src="<%= asset_path('home/servicios/corporativo/control-de-acceso.jpg') %>" >
      </div>
    </div>
  </div>
  <div class="service-container container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="content">
          <div class="title">
            <h2><img src="<%= asset_path('home/icono-educacion-y-medios.jpg') %>" alt="Educación y medios"> Educación y medios</h2>
          </div>
          <div class="list">
            <% @services.each do |service, index|  %>
              <% if service.service_category.id === 2 %>
                <div class="item <%= index === 0 ? "active" : "" %>">
                  <i class="fa fa-angle-right"></i>
                  <a class="service-" data-url="<%= service.image.url %>" data-service="<%= index %>" data-toggle="modal" data-target="#service_modal"><%= service.name %></a>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="image">
        <img class="service-image" src="<%= asset_path('home/servicios/educacion/estudio-de-tv.jpg') %>"
             data-default-src="<%= asset_path('home/servicios/educacion/estudio-de-tv.jpg') %>" alt="Educación y medios">
      </div>
    </div>
  </div>
</div>
<!-- // Home Services -->
<!-- Home Blocks -->
<div id="home-blocks" class="container-fluid home-blocks">
  <div class="row justify-content-space-between">
    <% @home_images.each_with_index do |hi,index| %>
      <div class="block">
        <div class="block-title <%= index == 0 ? 'blue' : index == 1 ? 'purple-int' : 'purple'  %>">
          <h3><%= hi.title %></h3>
        </div>
        <a href="<%= hi.url %>" class="block-content">
          <img class="block-image" src="<%= hi.home_image.url %>">
        </a>
      </div>
    <% end %>
  </div>
</div>
<!-- // Home Blocks -->
<!-- Home Numbers -->
<div id="home-numbers" class="container-fluid home-numbers">
  <input type="hidden" value="0" id="num_q">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <% i = 0 %>
      <% @numbers.each do |n| %>
        <div class="col-md-12 purple2-text nums">
          <label class="number" id="num_<%= i %>"  data-number="<%= n.number %>"><%= n.number %></label>
          <br> <p class="grey-text fsize-16"><%= n.name %>
        </div>
        <% i += 1%>
        <% i == 3 ? break : '' %>
      <% end %>
    </div>
    <div class="col-md-4 flip-card-container">
      <div id="youtube-link" class="flip-card-content">
        <div class="flip-card-side-a flip-card-face" style="background-image:url(<%= asset_path('home/Imagen-Home-Numeros.jpg') %>)">
        </div>
        <div class="flip-card-side-b" style="background-image:url(<%= asset_path('home/servicios/educacion/estudio-de-tv.jpg') %>)">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <% @numbers.each_with_index do |n,index| %>
        <% next if index < 3 %>
        <div class="col-md-12 purple2-text nums"> <label class="number" id="num_<%= i %>"  data-number="<%= n.number %>"><%= n.number %></label> <br> <p class="grey-text fsize-16"><%= n.name %></div>
        <% i += 1%>
        <% i == 6 ? break : '' %>
      <% end %>
    </div>
    <div class="col-md-12 bottom-numbers">
      <% @numbers.each_with_index do |n,index| %>
        <% next if index < 6 %>
        <div class="col-md-3 purple2-text nums"> <label class="number" id="num_<%= i %>"   data-number="<%= n.number %>"><%= n.number %></label> <br> <p class="grey-text fsize-16"><%= n.name %></p> </div>
        <% i += 1%>
        <% i == 9 ? break : '' %>
      <% end %>
    </div>
  </div>
</div>
<!-- // Home Numbers -->