<div class="flex-container">
  <div class="row">
    <div class="col header-section">
      <h1><%= @page.title %></h1>
    </div>
  </div>
  <div class="row tab-contenido">
    <div class="col-lg-6 col-sm-12 col-xs-12">
      <form id="send_form" action="/contacto/chile" method="post" class="row">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <div class="col-lg-6 col-sm-12 col-xs-12  small-section-padding">
          <input type="text" name="name" placeholder="Nombre" class="form-control">
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12  small-section-padding">
          <input type="text" name="email" placeholder="Correo Electrónico" class="form-control">
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12  small-section-padding">
          <input type="text" name="phone" placeholder="Teléfono" class="form-control" required>
        </div>
        <!--div class="col-lg-6 col-sm-12 col-xs-12  small-section-padding">
          <% grouped_options = [
          ['Chile',[
              ['Santiago','santiago'],['Antofagasta','antofagasta'],['Concepción','concepcion'],['Viña del Mar','viña del mar'],['Talca','talca'],['Temuco','temuco'],['Osorno','osorno']
          ]
          ],
          ['Otros Países',[
              ['Perú','peru'],['Colombia','colombia'],['Brasil','brasil'],['Estados Unidos','usa']
          ]
          ]
      ] %>
          <%= select_tag("sucursal",grouped_options_for_select(grouped_options,:selected=>@sucursal), :class=>"form-control")%>
        </div-->
        <div class="col-lg-12 col-sm-12 col-xs-12  small-section-padding">
      <textarea type="textarea" name="mensaje" placeholder="Mensaje" class="form-control">
      </textarea>
        </div>
        <div class="col-lg-12 col-sm-12 col-xs-12 ">
          <div class="g-recaptcha" data-sitekey="6LfL3x8UAAAAAPZNJKBHomFMRgHzGFbvSCuiG7MH" data-callback="check"></div>

          <button style="width:100%" href=#" class="btn blue white-text">Enviar</button>
        </div>
      </form>
    </div>
    <div class="col-lg-6 col-sm-12 col-xs-12  purple-int-text contact-info">
      <h4><i class="fa fa-map-marker"></i> Dirección
        <img class="banderas" src="<%= asset_path('/assets/header/1Chile.png')%>" alt=""></h4>
      <p>Santiago: Av Boulevard Aeropuerto 9646, Pudahuel, ENEA</p>
      <p>Antofagasta: Matías Rojas 559</p>
      <p>Concepción: Lincoyán 41-A</p>
      <hr>
        <h4><i class="fa fa-phone"></i> Teléfono</h4>
      <p>Santiago: (56-2) 2431 61 00</p>
      <p>Antofagasta: (56 - 55) 247 9549 / 224 4332</p>
      <p>Concepción: (41) 2887230</p>
        <hr>
      <h4> Contacto</h4>
      <p>contacto@videocorp.com</p>
    </div>
  </div>
  <div class="row tab-contenido pt-5">
    <div class="col-lg-6 col-sm-12 col-xs-12">
      <form id="send_form" action="/contacto/peru" method="post" class="row">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <div class="col-lg-6 col-sm-12 col-xs-12  small-section-padding">
          <input type="text" name="name" placeholder="Nombre" class="form-control">
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12  small-section-padding">
          <input type="text" name="email" placeholder="Correo Electrónico" class="form-control">
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12  small-section-padding">
          <input type="text" name="phone" placeholder="Teléfono" class="form-control" required>
        </div>
        <div class="col-lg-12 col-sm-12 col-xs-12  small-section-padding">
      <textarea type="textarea" name="mensaje" placeholder="Mensaje" class="form-control">
      </textarea>
        </div>
        <div class="col-lg-12 col-sm-12 col-xs-12 ">
          <div class="g-recaptcha" data-sitekey="6LfL3x8UAAAAAPZNJKBHomFMRgHzGFbvSCuiG7MH" data-callback="check"></div>

          <button style="width:100%" href=#" class="btn blue white-text">Enviar</button>
        </div>
      </form>
    </div>
    <div class="col-lg-6 col-sm-12 col-xs-12  purple-int-text contact-info">
      <h4><i class="fa fa-map-marker"></i> Direccion
        <img class="banderas" src="<%= asset_path('/assets/header/2peru.png')%>" alt=""></h4>
      <p>Andrés Reyes 360, Oficina 302-B, San Isidro.</p>
      <hr>
        <h4><i class="fa fa-phone"></i> Teléfono</h4>
        <p>(511) 680 3003</p>
        <hr>
      <h4> Contacto</h4>
      <p>ventasperu@videocorp.com</p>
    </div>
  </div>
  <div class="row tab-contenido pt-5">
    <div class="col-lg-6 col-sm-12 col-xs-12">
      <form id="send_form" action="/contacto/colombia" method="post" class="row">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <div class="col-lg-6 col-sm-12 col-xs-12  small-section-padding">
          <input type="text" name="name" placeholder="Nombre" class="form-control">
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12  small-section-padding">
          <input type="text" name="email" placeholder="Correo Electrónico" class="form-control">
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12  small-section-padding">
          <input type="text" name="phone" placeholder="Teléfono" class="form-control" required>
        </div>
        <div class="col-lg-12 col-sm-12 col-xs-12  small-section-padding">
      <textarea type="textarea" name="mensaje" placeholder="Mensaje" class="form-control">
      </textarea>
        </div>
        <div class="col-lg-12 col-sm-12 col-xs-12 ">
          <div class="g-recaptcha" data-sitekey="6LfL3x8UAAAAAPZNJKBHomFMRgHzGFbvSCuiG7MH" data-callback="check"></div>

          <button style="width:100%" href=#" class="btn blue white-text" >Enviar</button>
        </div>
      </form>
    </div>
    <div class="col-lg-6 col-sm-12 col-xs-12  purple-int-text contact-info">
      <h4><i class="fa fa-map-marker"></i> Dirección
        <img class="banderas" src="<%= asset_path('/assets/header/3colombia.png')%>" alt=""></h4>
      <p>Calle 85A # 28b-21 , Barrio el Polo, Bogotá</p>
      <hr>
        <h4><i class="fa fa-phone"></i> Telefono</h4>
        <p>(57-1) 6168 25 5</p>
        <hr>
      <h4> Contacto</h4>
      <p>vmatamala@videocorp.com</p>
    </div>
  </div>
</div>