<script type="text/javascript" charset="utf-8">
  $(document).on('turbolinks:load',function(){
    $('.carousel').carousel({
      interval: 5500,
      pause: false,
      cycle: true
    });
  });
</script>
<%= render "layouts/common/home_slider" %>
<!-- Slider publicidad -->
<section id="banner_home">
  <div class="container container-home">
    <div class="row"></div>
    <div class="col-md-12">
      <div class="carousel  slide" id="Carousel1">

        <div class="carousel-inner">
          <% @promo_slider.slider_images.each_with_index do  |hs,index |%>
              <div class="item <%= index == 0 ? 'active' : '' %>" style="">
                <div class="row">
                  <div class="col-md-12">
                    <%= image_tag hs.image.url(:home_slider), style: "width:1070px;height:200px;margin-left:calc(50% - 537px)!important" %>
                  </div>
                </div>

              </div>
          <% end %>

        </div>

        <!--a class="left carousel-control a" data-slide="prev" href="#Carousel">
          ‹
        </a>
        <a class="right carousel-control a" data-slide="next" href="#Carousel">
          ›
        </a-->
      </div>
    </div>
  </div>
</section>

<!-- Menu 3 imagenes -->
<section class="big-section-padding" id="who">
  <div class="container container-home" style="margin-left:calc(50% - 540px)">
    <div class="row">
      <% @home_images.each_with_index do |hi,index| %>
        <div class="col-sm-12 col-md-4 post-container">
          <div class="post">
            <div class="post-img-content">
              <img class="img-responsive" src="<%= hi.home_image.url %>">
              <span class="post-title <%= index == 0 ? 'blue' : index == 1 ? 'purple-int' : 'purple'  %>">
              <b><%= hi.title %></b>
              </span>
              <div class="post-img-footer">
                <a class="btn btn-vermas btn-sm blue-text bold" href="<%= hi.url %>">VER MÁS</a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section class="big-section-padding" id="nums">
  <input type="hidden" value="0" id="num_q">
  <div class="container container-home">
    <div class="col-md-12 center-block no-float">
      <div class="col-md-4">
        <% i = 0 %>
        <% @numbers.each do |n| %>
            <div class="col-md-12 purple2-text nums"> <label class="number" id="num_<%= i %>"  data-number="<%= n.number %>"><%= n.number %></label> <br> <p class="grey-text fsize-16"><%= n.name %></div>
          <% i += 1%>
          <% i == 3 ? break : '' %>
        <% end %>
      </div>
      <div class="col-md-4">
        <div class="col-md-12 "><a href="https://www.youtube.com/channel/UCm_3HQyszGXoH7aixyytVKg/videos" target="_blank"><img src="<%= asset_path('home/Imagen-Home-Numeros.jpg') %>"  style="width:100%" alt=""></a></div>
      </div>
      <div class="col-md-4">
        <% @numbers.each_with_index do |n,index| %>
            <% next if index < 3 %>
          <div class="col-md-12 purple2-text nums"> <label class="number" id="num_<%= i %>"  data-number="<%= n.number %>"><%= n.number %></label> <br> <p class="grey-text fsize-16"><%= n.name %></div>
            <% i += 1%>
            <% i == 6 ? break : '' %>
        <% end %>
      </div>
      <div class="col-md-12">
        <% @numbers.each_with_index do |n,index| %>
            <% next if index < 6 %>
          <div class="col-md-4 purple2-text nums"> <label class="number" id="num_<%= i %>"   data-number="<%= n.number %>"><%= n.number %></label> <br> <p class="grey-text fsize-16"><%= n.name %></p> </div>
            <% i += 1%>
            <% i == 9 ? break : '' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section class="big-section-padding" id="youtube-mobile">
  <%= link_to "#{image_tag("youtube-videocorp.jpg")}".html_safe , "https://www.youtube.com/channel/UCm_3HQyszGXoH7aixyytVKg/videos" , target: "_blank" %>
</section>
<section class="big-section-padding" id="companies">
  <div class="container container-home">
      <div class="col-md-12 col-sm-12 purple text-center white-text ">
        <h4 style="padding: 10px;">Empresas Asociadas</h4>
      </div>
    <div class="col-md-12">
      <div class="carousel slide" id="CarouselCompanies">

        <div class="carousel-inner">
          <% @videocorp_partners.each_with_index  do |vp , index| %>
              <div class="item <%= index == 0 ? 'active' : '' %>" style="">
                <div class="row">
                  <div class="col-md-12">
                    <%= image_tag vp.logo.url(:medium), style: "" %>
                  </div>
                </div>

              </div>
          <% end %>
        </div>

        <a class="left carousel-control" href="#CarouselCompanies" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="right carousel-control" href="#CarouselCompanies" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</section>
