<script type="text/javascript" charset="utf-8">
  $(document).on('turbolinks:load',function(){
    $('.carousel').carousel({
      interval: 4000,
      pause: false,
      cycle: true
    });
  });
</script>
<div class="flex-container">
  <div class="row">
    <% if @page.slug != 'porque-videocorp' %>
      <div class="col header-section">
        <h1><%= @page.title %></h1>
      </div>
    <% end %>
  </div>
  <div class="row interior-page">
    <div class="col-lg-12">
      <%= raw @page.content %>
    </div>
  </div>
  <div class="row">
    <section id="banner_bottom">
      <div class="flex-container">
        <% if @no_slider == nil %>
        <div class="col-md-12">
          <div class="carousel slide" id="Carousel">
            <ol class="carousel-indicators">
              <% @slider.slider_images.each_with_index do  |hs,index |%>
               <li data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>" data-target="#Carousel<%= @page.title %>"></li>
              <% end %>
            </ol>
            <div class="carousel-inner">
              <% @slider.slider_images.each_with_index do  |hs,index |%>
                  <div class="item <%= index == 0 ? 'active' : '' %>" >
                    <div class="row">
                      <div class="col-md-12">
                        <a href="#">
                          <%= image_tag hs.image.url(:bottom_slider) , :style => "width:1000px;height:200px;margin-left:calc(50% - 500px)" %>
                        </a>
                      </div>
                    </div>
                  </div>

              <% end %>
            </div>
            <a class="left carousel-control a" data-slide="prev" href="#Carousel" style="top: 0;">
              ‹
            </a>
            <a class="right carousel-control a" data-slide="next" href="#Carousel" style="top:0 ">
              ›
            </a>
          </div>
        </div>
        <% end %>

      </div>
    </section>
  </div>
</div>
