<div class="container big-section-padding">
  <div class="col-md-9">
    <div class="col-md-6">
      <div class="col-md-12 medium-section-padding">
        <div class="product-img_principal center-block" style="padding:2em">
          <%= image_tag @product.avatar.url(), id: 'img_grande' %>
        </div>
      </div>
      <div class="col-md-12">
        <% @product_images.each do |pi| %>
            <div class="product-img_baja col-md-3">
              <a href="#" id="img_baja<%= pi.id %>">
                <%= image_tag pi.image.url(:baja) %>
              </a>
            </div>
            <script>
              $('#img_baja<%= pi.id %>').click(function(e){
                e.preventDefault();
                $('#img_grande').attr('src','<%=pi.image.url() %>')
              });
            </script>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-12">
        <div class="product-info">
          <h1><%= @product.name %></h1>
          <div class="sub-info">
            <i class="fa fa-star starred" aria-hidden="true"></i><i class="fa fa-star starred" aria-hidden="true"></i><i class="fa fa-star starred" aria-hidden="true"></i><i class="fa fa-star starred" aria-hidden="true"></i><i class="fa fa-star starred" aria-hidden="true"></i>

            <p class="stats">
              <%= @comments.count > 0 ? ' Comentario(s)' : '' %>
            </p>
          </div>
          <!--hr>
          < div class="product-price">
            Precio: <strong><%= number_to_currency(@product.price, delimiter: ".", precision: 0)%></strong>
          </div -->
          <hr>
          <div class="product-description small-section-padding">
            Modelo: <strong><%= @product.model %></strong>
          </div>
          <div class="product-description medium-section-padding">
            <%= @product.short_description %>
          </div>

        </div>
      </div>
      <div class="col-md-12">
        <div class="product-share">
          <!-- div class="wishlist">
            <a href="#">
              <i class="fa fa-heart" aria-hidden="true"></i>
            </a>
          </div-->
          <div class="share share-fb">
            <a href="#"   onclick="window.open('https://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.videocorp.com/product/<%= @product.id %>', 'newwindow', 'width=600, height=350'); return false;">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
          </div>
          <% if @product.pdf_file? %>
          <div class="pdf_file">
            <a href="<%= @product.pdf_file.url %>"  target="_blank">
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            </a>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-12" style="margin-top:5%">
      <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1default" data-toggle="tab">Descripción</a></li>
            <% if @product.info_add != nil && @product.info_add != ''  %>
              <li class=""><a href="#tab2default" data-toggle="tab">Información Adicional</a></li>
            <% end  %>
            <li><a href="#tab3default" data-toggle="tab">Comentarios  <%= @comments.count > 0 ? '('+@comments.count+')' : ''%></a></li>
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane fade active in" id="tab1default">
              <h3>Descripción de Producto</h3>
              <span class="product-description-tab">
                <%= @product.description %>
              </span>
            </div>

            <div class="tab-pane fade" id="tab2default">
              <h3>Información Adicional</h3>
              <span class="product-description-tab">
                <%= @product.info_add %>
              </span>
            </div>
            <div class="tab-pane fade" id="tab3default">
              <h3>Comentarios <%= @comments.count > 0 ? '('+@comments.count+')' : ''%></h3>
              <div class="comments">
                <div class="col-md-4">
                  <span>Deja tu comentario:</span>
                </div>
                <div class="col-md-8">
                  <form  method="post" action="/comment/create">
                    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                    <input type="hidden" name="product_id" id="product_id" value="<%= @product.id %>">
                    <input type="text" class="form-control" id="user" name="user" placeholder="Ingresa un nombre" required>
                    <textarea placeholder="Ingresa tu comentario" id="comment" class="form-control" name="comment" required></textarea>
                    <button type="submit" class="btn btn-primary purple"><i class="fa fa-paper-plane" aria-hidden="true"></i>
                       Enviar</button>
                  </form>
                  <hr>
                </div>
              </div>
              <% @comments.each do |c| %>
                  <div class="row">
                    <div class="col-sm-1">
                      <div class="thumbnail">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                      </div><!-- /thumbnail -->
                    </div><!-- /col-sm-1 -->
                    <div class="col-md-11">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <strong><%= c.user %></strong> <span class="text-muted">hace <%= (Date.current.day - c.created_at.day).to_i %> día(s) </span>
                        </div>
                        <div class="panel-body">
                          <%= c.comment %>
                        </div><!-- /panel-body -->
                      </div><!-- /panel panel-default -->
                    </div><!-- /col-sm-5 -->
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      </div>

    <div class="col-md-12">
      <!-- productios relacionados -->
    </div>
  </div>
  <div class="col-md-3">
    <div class="col-md-12">
      <h3>Especiales</h3>
      <hr>
      <img src="<%= asset_path('banner1.jpg') %>" alt="">
    </div>
  </div>
</div>
