<section class="flex-container big-section-padding">
  <div class="col-md-12 col-xs-12 col-sm-12 center-block interior-color no-paddings">
    <div class="tab-contenido no-float no-paddings mobile-section-title">
      <% if @project.previous_exec_project &&  @project.project_category_id == 2  ||  @project.previous_project &&  @project.project_category_id == 1%>
      <div class="previous-item">
        <%= link_to('<i class="fa fa-angle-left" aria-hidden="true"></i>'.html_safe,@project.previous_exec_project.url.to_s )   if  @project.project_category_id == 2%>
        <%= link_to('<i class="fa fa-angle-left" aria-hidden="true"></i>'.html_safe,@project.previous_project.url.to_s )    if @project.project_category_id == 1 %>
      </div>
      <% end %>
      <% if @project.next_exec_project &&  @project.project_category_id == 2  ||  @project.next_project &&  @project.project_category_id == 1%>
      <div class="next-item">
        <%= link_to('<i class="fa fa-angle-right" aria-hidden="true"></i>'.html_safe,@project.next_project.url.to_s ) if @project.project_category_id ==  1 %>
        <%= link_to('<i class="fa fa-angle-right" aria-hidden="true"></i>'.html_safe,@project.next_exec_project.url.to_s ) if @project.project_category_id ==  2 %>
      </div>
      <% end %>
      <h2 class="text-center "><strong>Proyecto: </strong><%= @project.name %></h2>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="carousel slide" id="Carousel">
        <ol class="carousel-indicators">
          <% @project_images.each_with_index  do |pi,index| %>
              <li data-target="#Carousel1" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>" contenteditable="false"></li>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <% @project_images.each_with_index do |pi,index| %>
              <div class="item <%= index == 0 ? 'active' : '' %>">
                    <a href="#">
                      <%= image_tag pi.image.url(:large) , class: "carousel-projects-img" %>
                    </a>
              </div>
          <% end %>
          <a class="left carousel-control a" data-slide="prev" href="#Carousel">
            ‹
          </a>
          <a class="right carousel-control a" data-slide="next" href="#Carousel">
            ›
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12"  style="padding:10px">
      <strong>Fecha: </strong> <span><%= @project.date %></span> <br><br>
      <strong>Cliente: </strong> <span><%= @project.customer_name %> <br> <%= image_tag @project.customer_logo(:thumb) , :style => 'max-width:200px' %></span> <br><br>
      <span style="display: inline-block;word-wrap: break-word;width: 100%;"><%= @project.description.html_safe %></span>
    </div>
  </div>
  <br>
  <div class=" interior-color">
    <% if @project.project_video != '' &&  !@project.project_video.nil? %>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <h3>Video del Proyecto</h3>
        <iframe src="<%= @project.project_video %>" style="width:100%;height:300px;" frameborder="0"></iframe>
      </div>
    <% end %>
    <% if  @project.testimonial_video != ''  && !@project.testimonial_video.nil?%>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <h3>Video Testimonial</h3>
        <iframe src="<%= @project.testimonial_video %>" style="width:100%;height:300px;" frameborder="0"></iframe>
      </div>
    <% end %>
  </div>
</section>
