<section class="flex-container">
  <div class="row tab-contenido no-float no-paddings no-border">
    <div class="col-sm-12 col-xs-12 no-paddings mobile-section-title d-md-none d-lg-none blue white-text text-center text-uppercase">
      <h3><%= @page.title %></h3>
    </div>
    <div class="col-sm-12 col-xs-12 no-paddings mobile-section-title d-md-none d-lg-none white-text text-center text-uppercase mobile-filters">
      <li class="dropdown">
        <a href="#" aria-expanded="false" class="dropdown-toggle plus">
          <i class="fa fa-plus"></i>
        </a>
        <ul class="dropdown-menu">
          <% @project_categories.each do |c|  %>
              <div class="check"><hr>
                <input type="checkbox"  id="checkbox<%= c.id %>" data-type="category" data-url="<%= request.base_url %>/proyectos-ejecutados/search?category=<%= c.id %><%= (@project != nil) ?  ['&project=',@project.id].join('')  : '' %>&sid=<%= @search_id %>"  <%= !@category.nil? ? @category.id == c.id ? 'checked' : '' : '' %>/>
                <label for="checkbox<%= c.id %>"><%= c.name.to_s.split.map(&:capitalize).join(' ') %></label>
              </div>
          <% end %>
        </ul>
        <h3>Categorías</h3>
      </li>
    </div>
      <% if @search_id == 2 %>
        <div class="col-md-3 col-xs-12 col-sm-12 filters no-paddings d-xs-none d-block">
          <h1>
            Categorías
          </h1>
          <% @project_categories.each do |c|  %>
              <div class="check">
                <input type="checkbox"  id="checkbox<%= c.id %>" data-type="category" data-url="<%= request.base_url %>/proyectos-ejecutados/search?category=<%= c.id %><%= (@project != nil) ?  ['&project=',@project.id].join('')  : '' %>&sid=<%= @search_id %>"  <%= !@category.nil? ? @category.id == c.id ? 'checked' : '' : '' %>/>
                <label for="checkbox<%= c.id %>"><%= c.name.to_s.split.map(&:capitalize).join(' ') %></label>
              </div>
          <% end %>
        </div>
      <% end %>
      <% if @projects != nil %>
      <div class="<%= @search_id == 1 ? "col-md-12 col-sm-12 no-paddings" : "col-md-9 col-sm-12 no-paddings" %>">
        <!--div class="project-titles col-md-12 hidden-xs">
          <div class="col-md-3 "><h4>Cliente</h4></div>
          <div class="col-md-5"><h4>Detalle</h4></div>
          <div class="col-md-2"></div>
        </div-->
          <% @projects.each do |p| %>
            <div class="project-list row">
              <div class="col col-lg-3">
                <%= image_tag p.avatar_projects.url(:large)  %>
              </div>
              <div class="col col-lg-2">
                <p>
                  <strong>Cliente: </strong> <%= p.customer_name %>
                </p>
                <p>
                  <strong>Fecha: </strong> <%= p.date %>
                </p>
              </div>
              <div class="col col-lg-7">
                <h4><strong>Descripción</strong></h4>
                <%= p.description.html_safe %>
              </div>
            </div>
          <% end %>
        <div class="row justify-content-end">
          <%= paginate @projects %>
        </div>
      </div>
      <% end  %>
  </div>
</section>

<script>
  $(':checkbox').change(function(){
    if($(this).is(':checked')){
      Turbolinks.visit($(this).data('url'));
    }else{
      if($(this).data('type')=='category'){

      }else{
        Turbolinks.visit($(this).data('url').split("&")[0]);
      }
    }
  });
</script>