<div class="container big-section-padding">
  <div class="row">
    <% if @products  %>
    <div class="col-md-3 filters">
      <h1>
        Marcas
      </h1>

        <% @brands.each do |pc|  %>
          <% if pc.products.count > 0  %>
          <div class="check">
            <input type="checkbox"  id="checkbox<%= pc.id %>" data-type="product_cat" data-url="<%= request.base_url %>/productos/<%= pc.name %>" <%= @brand != nil ? (@brand.id == pc.id) ?'checked' : '' : '' %> />
            <label for="checkbox<%= pc.id %>" ><%= pc.name.capitalize %></label>
          </div>
          <% end %>
        <% end %>
        <div class="check">
          <input type="checkbox"  id="checkbox0" data-type="product_cat" data-url="<%= request.base_url %>/productos" <%= @brand != nil ? (@brand.id == 0) ?'checked' : '' : 'checked' %> />
          <label for="checkbox0" >Todos</label>
        </div>
      <h1>
      </h1>
      <h1>
      </h1>
    </div>
    <div class="col-md-9">

      <!-- Productos -->
      <div class="col-md-12 productos ">
        <% @products.each do |product| %>
            <div class="products-box">
              <div class="product_img">
                <a href="/productos/<%= product.url %>" style="padding:10px">
                  <%= image_tag product.avatar.url(:medium) %>
                </a>
              </div>
              <div class="product-content">
                <a href="/productos/<%= product.url %>">
                 <h1><%= product.name.capitalize[0,40] %> <%= product.name.length > 40 ? '...' : '' %></h1>
                </a>
                <div class="product-sku">
                  <p><strong>Código </strong><%= product.sku %></p>
                </div>
                <!--div class="product-price">
                  <p id="price"><%=  number_to_currency(product.price, delimiter: ".", precision: 0) %></p>
                </div-->
              </div>
            </div>
        <% end %>
      </div>
      <div class="col-md-12">
        <div class="center-block no-float">
          <%= paginate @products %>
        </div>
      </div>
      <!-- //Productos -->
    </div>
  </div>
  <% else %>
    No hay productos disponibles
  <% end %>
</div>
</div>

<script>
  $(':checkbox').change(function(){
    if($(this).is(':checked')){
      Turbolinks.visit($(this).data('url'));
    }else{
      if($(this).data('type')=='category'){

      }else{
        Turbolinks.visit($(this).data('url').split("&")[0]);
      }
    }
  });
</script>