<div class="container big-section-padding">
    <div class="row">
        <div class="header-section header-<%= @category.slug %>">
            <h1>Servicios <%= @category.name.capitalize %></h1>
        </div>
    </div>
  <div class="row">
    <div class="col-md-12 tab-precont">
      <h1><%= @title %></h1>
      <p>
        <%= @service.description.capitalize %>
      </p>
    </div>
    <% @sub_services.each do |sub_s| %>
    <div class="col-md-12 tab-contenido ">
        <h1><%= sub_s.name.capitalize %></h1>
        <span>
          <%= sub_s.description %>
        </span>
      <div class="row">
        <div class="col-md-12 service-form" style="margin-top:25px">
          <a href="#" id="service-form">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            APLICAR FORMULARIO DE CONTACTO</a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>