<div class="container big-section-padding">
  <div class="row">
    <div class="header-section">
      <h1><%= @page.title %></h1>
    </div>
    <hr>

    <section class="big-section-padding text-center">
      <h3>Ingresa <a href="https://docs.google.com/forms/d/e/1FAIpQLScRUOuWwqDlHaIGuTB60ZTKfhVL0uuQvVh20zFaQSREIYvRHQ/viewform">Aquí</a>
        y llena tus datos para Postulación Videocorp Online</h3>
      <!--form  action="/trabaja-con-nosotros" method="post" enctype="multipart/form-data" id="send_form">
        <div class="col-md-12 tab-contenido">
          <div class="col-md-6 tab-contenido">
              <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
              <div class="col-md-6 small-section-padding">
                <label for="name" class="info">Nombre <strong>*requerido</strong></label>
                <input type="text" name="applicant[name]" id="name" placeholder="Nombre" class="form-control">
              </div>
              <div class="col-md-6 small-section-padding">
                <label for="email" class="info">Correo electrónico <strong>*requerido</strong></label>
                <input type="text" name="applicant[email]" id="email" placeholder="Correo Electrónico" class="form-control">
              </div>
              <div class="col-md-6 small-section-padding">
                <label for="phone" class="info">Teléfono <strong>*requerido</strong></label>
                <input type="text" name="applicant[phone]" id="phone" placeholder="Teléfono" class="form-control">
              </div>
              <div class="col-md-6 small-section-padding">
                <label for="rut" class="info">RUT Sin puntos ni guiones <strong>*requerido</strong></label>
                <input type="text" name="applicant[rut]" id="rut" placeholder="RUT" class="form-control">
              </div>
          </div>
          <div class="col-md-6 tab-contenido">
            <div class="col-md-6 small-section-padding">
              <label for="work_area" class="info">Área de Trabajo <strong>*requerido</strong></label>
              <input type="text" name="applicant[work_area]" id="work_area"  placeholder="Área de trabajo" class="form-control">
            </div>
            <div class="col-md-6 small-section-padding">
              <label for="cv" class="info">Curriculum</label>
              <input id="cv" name="applicant[pdf_file]" type="file" class="file">
            </div>
            <br>
            <div class="col-md-12">
              <div class="g-recaptcha" data-sitekey="6LfL3x8UAAAAAPZNJKBHomFMRgHzGFbvSCuiG7MH" data-callback="check"></div>

              <button style="width:100%" href=#" class="btn blue white-text" disabled="true"  id="send_btn">Enviar</button>
            </div>
          </div>
        </div>
      </form-->
      <script type="text/javascript" charset="utf-8">
          $(document).on('ready',function(){
             $('#send_btn').on('click',function(e){
                 e.preventDefault();
                 if(!$('#cv').val()){
                     alert('Debe ingresar un cv en formato PDF para continuar. Gracias');
                 }else{
                     var file_type = $('#cv').val().substr($('#cv').val().lastIndexOf('.')).toLowerCase();
                     if(file_type === '.pdf'){
                         $('#send_form').submit();
                     }else{
                         alert('Debe ingresar un cv en formato PDF.')
                     }
                 }
             });
          });
      </script>
    </section>
  </div>
</div>