<p id="notice"><%= notice %></p>

<h1>Listing Slider Images</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slider_images.each do |slider_image| %>
      <tr>
        <td><%= link_to 'Show', slider_image %></td>
        <td><%= link_to 'Edit', edit_slider_image_path(slider_image) %></td>
        <td><%= link_to 'Destroy', slider_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slider image', new_slider_image_path %>
