<%= javascript_include_tag Ckeditor.cdn_url %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <%= form_for(@page) do |f| %>
          <div class="col-md-12 ">
            <button type="submit" class="btn btn-success pull-right" id="save_button">
              <i class="material-icons">save</i>
              Guardar</button>

          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="blue">
                <h4 class="title"><%= @title %></h4>
                <p class="category"></p>
              </div>
              <div class="card-content">
                <% if @page.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this product from being saved:</h2>

                      <ul>
                        <% @page.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-6">
                      <div class="form-group label-floating is-empty">
                        <label class="label">Titulo </label>
                        <%= f.text_field :title, class: 'form-control' %>
                        <span class="material-input"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group label-floating is-empty">
                        <label class="label">Slug </label>
                        <%= f.text_field :slug, class: 'form-control' %>
                        <span class="material-input"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                      <input type="hidden" name="page[principal_page]" value="0">
                      <input type="hidden" name="page[in_footer]" value="<%= @page.in_footer.nil? ? 0 : @page.in_footer %>">
                      <input type="checkbox" class="in_footer" value="1" id="in_footer" name="in_footer"<%=  @page.in_footer != nil ?   @page.in_footer == 1 ? 'checked' : '': ''  %>/><label for="in_footer">¿Poner página en footer?</label><br />
                      <span class="material-input"></span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                    <label class="label">Slider </label>
                    <%= select("page","slider_id",Slider.all.collect {|b| [b.name , b.id] } , {include_bank: "Seleccione una opción"} , {:class => "form-control"} )%>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group label-floating is-empty">
                      <label class="label">Contenido</label>

                      <%= f.cktext_area :content,class: 'form-control', :style =>  'border: 1px solid #ccc;border-top:none' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <input type="hidden" name="page[status]" value="1">
      <% end %>
    </div>

  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).on('ready',function(){
    $('.in_footer').change(function(){
      var c = $(this).is(':checked') ? "1" : "0";
      $('input[name="page[in_footer]"]').val(c);
    });
  });
</script>
