<div class="content">
  <div class="container-fluid">
    <div class="row">
      <%= render "layouts/admin/search" %>
      <div class="col-md-12">
        <div class="card">
          <div class="option_buttons">
            <%= link_to  new_page_path, class: 'white-text pull-right', :'title'=>'Nuevo Página' do %>
                <i class="material-icons">edit</i>
                Nueva Página
                <div class="ripple-container"></div>
            <% end %>
          </div>
          <div class="card-header" data-background-color="blue">
            <h4 class="title">Listado de Páginas</h4>
          </div>
          <div class="card-content">
            <div id="typography">
              <% if @pages.count < 1 %>
                  <div class="col-md-6 alert alert-warning center-block no-float alert-with-icon">
                    <i data-notify="icon" class="material-icons">info_outline</i>
                    <span class="message">
                      <b> Oops! - </b> No hay páginas para mostrar,
                      <%= link_to 'haga click aquí para crear una nuevo', new_page_path %></span>
                  </div>
              <% else %>
                  <div class="title">
                  </div>
                  <div class="row">
                    <table class="table">
                      <thead class="text-primary">
                      <tr>
                        <th>Título</th>
                        <th>Slug</th>
                        <th>Página en footer</th>
                        <th>Opciones</th>
                      </tr></thead>
                      <tbody>
                      <% @pages.each do |page| %>
                        <% page.principal_page == 1 ? @class = 'principal_page' : @class = '' %>
                          <tr class="<%= @class %>">
                            <td><%= page.title %></td>
                            <td><%= page.slug %></td>
                            <td><%= page.in_footer == 1 ?  '<i class="material-icons">start</i>'.html_safe :  '' %></td>
                            <td><%= link_to 'Ver', page ,{class: 'btn btn-success'} %>
                              <%= link_to 'Editar', edit_page_path(page) ,{class: 'btn btn-info'} %>
                              <%= link_to 'Eliminar', page, method: :delete, data: { confirm: '¿Esta seguro?' }, class: 'btn btn-danger' %></td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                  <%= paginate @pages %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

