<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 center-block no-float">
        <div class="card card-profile">

          <div class="content" style="padding: 5px 2em;">
            <p class="card-content" >
              <span>Título <strong> <%= @page.title %></strong></span>
            <hr>
            <span>Slug <strong> <%= @page.slug %></strong></span>
            <hr>
            <%= link_to 'EDITAR', edit_page_path(@page),{class: 'btn btn-info'} %> |
            <%= link_to 'VOLVER', '/admin/pages',{class: 'btn btn-alert'} %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
