<div class="content">
  <div class="container-fluid">
    <div class="row">
      <%= form_for(@project) do |f| %>
          <div class="col-md-12 ">
            <button type="submit" class="btn btn-success pull-right" id="save_button">
              <i class="material-icons">save</i>
              Guardar</button>

          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="blue">
                <h4 class="title"><%= @title %></h4>
                <p class="category"></p>
              </div>
              <div class="card-content">
                <% if @project.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this product from being saved:</h2>

                      <ul>
                        <% @project.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>
                <div class="col-md-8">
                  <div class="col-md-12">
                    <div class="form-group label-floating is-empty">
                      <label class="label">Titulo </label>
                      <%= f.text_field :name, class: 'form-control' %>
                      <span class="material-input"></span>
                    </div>
                  </div>
                  <!--div class="col-md-12">
                    <div class="form-group label-floating is-empty">
                      <label class="label">Imagenes</label>
                    </div>
                    <div class="label-floating is-empty">
                      <%= file_field_tag "images[]", type: :file, multiple: true %>
                    </div>
                    <span class="info">
                        800x600
                      </span>
                    <hr>
                  </div-->
                  <div class="col-md-12">
                    <div class="form-group label-floating is-empty">
                      <label class="label">Cliente </label>
                      <%= f.text_field :customer_name, class: 'form-control' %>
                      <span class="material-input"></span>
                    </div>
                  </div>
                  <!--div class="col-md-12">
                    <div class="form-group label-floating  is-empty">
                      <label class="label">Logo cliente</label>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="label-floating is-empty">
                      <% if @project.customer_logo.url != nil %>
                          <div class="col-md-4">
                            <%= image_tag  @project.customer_logo.url %>
                          </div>
                      <% end %>
                      <%= f.file_field :customer_logo, id: 'customer_logo' %>
                    </div>
                  </div-->
                  <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                      <label class="label">Tipo de proyecto</label>
                      <input type="hidden" id="selected_categories" name="project[project_category_id]" value="<%= @project.project_category_id == nil ? 3 : @project.project_category_id  %>">
                      <br>
                      <form id="check_form">
                        <% @project_categories.each do |c|  %>
                          <input type="radio" class="project_category_id" value="<%= c.id %>" id="<%= c.name %>" name="project_category_id"<%= @project.project_category_id != nil ?   @project.project_category_id == c.id ? 'checked' : '': c.id == 3 ? 'checked' : '' %>/><label for="<%= c.name %>"> <%= c.name %></label>
                          <br />
                        <% end %>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                      <label class="label">Fecha del proyecto</label>
                      <div class='input-group date' id=''>
                        <%= f.text_field :date, class:"form-control", placeholder:"DD/MM/AAAA (05/10/2016)"%>
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>
                    </div>
                  </div>

                  <!--div class="col-md-12">
                    <div class="col-md-6">
                      <div class="form-group label-floating is-empty">
                        <label class="label">Video del proyecto </label>
                        <%= f.text_field :project_video, class: 'form-control', placeholder: 'URL del video', id: 'project-video' %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group label-floating is-empty">
                        <label class="label">Video testimonial </label>
                        <%= f.text_field :testimonial_video, class: 'form-control', placeholder: 'URL del video' , id: 'testimonial-video' %>
                      </div>
                    </div>
                  </div-->
                  <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                      <label class="label">Área relacionada</label>
                    </div>
                    <input type="hidden" name="project[involved_areas]" >
                    <form id="check_form">

                      <% @categories.each do |c| %>
                        <input type="radio" class="involved_area" value="<%= c.id %>" id="<%= c.name %>" name="involved_area" <%= @project.involved_areas.to_i == c.id.to_i ? 'checked' : '' %>/><label for="<%= c.name %>"> &nbsp;&nbsp;  <%=c.name.capitalize %></label><br />
                      <% end %>
                    </form>
                  </div>
                  <!--div class="col-md-6">
                    <div class="form-group label-flaoting is-empty">
                      <input type="checkbox" id="check_featured" value="" <%= @project.is_featured == 1 ? 'checked'  : '' %>>
                      <label for="check_featured">Proyecto destacado</label>
                      <input type="hidden" name="project[is_featured]" id="input_feat" value="<%= @project.is_featured == 1 ? '1'  :'0' %>">
                    </div>
                  </div-->
                  <div class="col-md-12">
                    <div class="form-group label-floating is-empty">
                      <label class="label">Descripción</label>
                      <%= f.cktext_area :description,class: 'form-control', :style =>  'border: 1px solid #ccc;border-top:none' %>

                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="card">
                    <div class="card-header" data-background-color="blue">
                      <h4 class="title">Imagen Principal</h4>
                    </div>
                    <div class="card-content">
                      <div class="col-md-12">
                        <%= image_tag @project.avatar_projects.url, {class: 'thumbnail img form_img no-float center-block',id:'img_form'} %>
                        <%= f.file_field :avatar_projects, id: 'file_img' %>
                        <br>
                      </div>
                      <hr>
                      <span class="info">
                            800x600
                          </span>
                      <hr>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <input type="hidden" name="project[status]" value="1">
      <% end %>
    </div>

  </div>
</div>

<script type="text/javascript" charset="utf-8">
  document.getElementById("file_img").onchange = function () {
    var reader = new FileReader();

    reader.onload = function (e) {
      // get loaded data and render thumbnail.
      document.getElementById("img_form").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
  };
  $(document).ready(function(){

      var data = <%= @project.project_category_id.nil? ? 3 : @project.project_category_id %>
          $('input[name="project[project_category_id]"]').val(data);

      $('.project_category_id').change(function(){
        $('input[name="project[project_category_id]"]').val($(this).val());
      });

    $('#check_featured').change(function(){
      var c = this.checked ? '1' : '0';
      $('#input_feat').val(c);
    });



    var data = <%= @project.project_category_id.nil? ? '' : @project.project_category_id %>
        $('input[name="project[project_category_id]"]').val(data);

    $('.involved_area').change(function(){
      $('input[name="project[involved_areas]"]').val($(this).val());
    });

    $('#project-video').focusout(function(){
      var str = $('#project-video').val();
      var res = str.replace("watch?v=", "embed/");
      $('#project-video').val(res);
    });
    $('#testimonial-video').focusout(function(){
      var str = $('#testimonial-video').val();
      var res = str.replace("watch?v=", "embed/");
      $('#testimonial-video').val(res);
    });
  });
</script>
