<div class="content">
  <div class="container-fluid">
    <div class="row">
      <%= render "layouts/admin/search" %>
      <div class="col-md-12">
        <div class="card">
          <div class="option_buttons">
            <%= link_to  new_project_path, class: 'white-text pull-right', :'title'=>'Nuevo Proyecto' do %>
                <i class="material-icons">edit</i>
                Nuevo Proyecto
                <div class="ripple-container"></div>
            <% end %>
            <div class="col-md-6 white-text pull-right" >
              <a href="/admin/projects?project_type=1" class="filter-button">Proyectos en Ejecución</a>
                &nbsp;/&nbsp;
              <a href="/admin/projects?project_type=2" class="filter-button">Proyectos Ejecutados</a>
                &nbsp;/&nbsp;
              <a href="/admin/projects?project_type=3" class="filter-button">Sin Categoría</a>
                &nbsp;/&nbsp;
              <a href="/admin/projects" class="filter-button">Todo</a>
            </div>
          </div>
          <div class="card-header" data-background-color="blue">
            <h4 class="title">Listado de Proyectos</h4>
          </div>
          <div class="card-content">
            <div id="typography">
              <% if @projects.count < 1 %>
                  <div class="col-md-6 alert alert-warning center-block no-float alert-with-icon">
                    <i data-notify="icon" class="material-icons">info_outline</i>
                    <span class="message">
                      <b> Oops! - </b> No hay proyectos para mostrar,
                      <%= link_to 'haga click aquí para crear uno nuevo', new_project_path %></span>
                  </div>
              <% else %>
                  <div class="title">
                  </div>
                  <div class="row">
                    <table class="table">
                      <thead class="text-primary">
                      <tr>
                        <th>Título</th>
                        <th>Tipo</th>
                        <th>Destacado</th>
                        <th>Imagen</th>
                        <th>Opciones</th>
                      </tr></thead>
                      <tbody>
                      <% @projects.each do |project| %>
                          <tr>
                            <td><%= project.name %></td>
                            <td><%= project.project_category.name %></td>
                            <td><%= project.is_featured == 1 ? 'Si' : 'No' %></td>
                            <td><%= image_tag project.avatar_projects.url(:icon), class:'thumbnails list-icon' %></td>
                            <td><%= link_to 'Ver', project ,{class: 'btn btn-success'} %>
                              <%= link_to 'Editar', edit_project_path(project) ,{class: 'btn btn-info'} %>
                              <%= link_to 'Eliminar', project, method: :delete, data: { confirm: '¿Esta seguro?' }, class: 'btn btn-danger' %></td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                  <%= paginate @projects %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
