<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 center-block no-float">
        <div class="card card-profile">
          <div class="card-avatar">
            <%= image_tag @project.avatar_projects.url, {class: 'thumbnail form_img'} %>
          </div>
          <div class="content" style="padding: 5px 2em;">
            <p class="card-content" >
              <span>Producto <strong> <%= @project.name %></strong></span>
            <hr>
            <span>Tipo <strong> <%= @project.project_category.name %></strong></span>

            <hr>
            <span>Descripción <strong> <%= @project.description.to_s[0,55]  %> ...</strong></span>
            <hr>
            <%= link_to 'EDITAR', edit_project_path(@project),{class: 'btn btn-info'} %> |
            <%= link_to 'VOLVER', '/admin/projects',{class: 'btn btn-alert'} %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

