<footer>
  <div class="container footer-container">
    <div class="row justify-flex-end">
      <div class="col-md-5 right">
          <form  id="search_footer_form"action="<%= request.base_url %>/proyectos/search" method="get" >
            <input class="form-control searchfooter" name="keywords" id="search_footer" placeholder="">
            <button class="btn btn-default btn-footer-search"  id="btn_search3"  type="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3 col-sm-6 ">
        <ul class="footer-ul">
          <li>
            <a href="/"><img class="footer-logo" src="<%= asset_path('logo-alt.png') %>" alt=""></a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 ">
        <ul class="footer-ul footer-links">
          <% @footer_pages.each do |ip| %>
            <% if ip.title? %>
              <li>
                <a href="/<%= ip.slug%>"><%= ip.title %></a>
              </li>
            <% end %>
          <% end %>
          <li>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScRUOuWwqDlHaIGuTB60ZTKfhVL0uuQvVh20zFaQSREIYvRHQ/viewform" class="link" data-uri="/trabaja-con-nosotros">Trabaja con Nosotros</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 ">
        <ul class="footer-ul footer-info">
          <li>
            <img class="banderas"  src="<%= asset_path('/assets/header/1Chile.png')%>" alt=""> Chile <br>
            Dirección <br> Av Boulevard Aeropuerto 9646, Pudahuel, ENEA
          </li>
          <li>
            Teléfono Central <br> (56-2) 2431 61 00
          </li>
          <li>
            Contacto <br> contacto@videocorp.com
          </li>
          <div class="social-links">
            <a href="https://www.facebook.com/videocorpsa/" class="facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/company/videocorp-s.a?trk=biz-companies-cym" class="twitter">
              <i class="fa fa-linkedin"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCm_3HQyszGXoH7aixyytVKg" class="youtube">
              <i class="fa fa-youtube"></i>
            </a>
            <a href="https://www.instagram.com/videocorp_latinoamerica/" class="instagram">
              <i class="fa fa-instagram"></i>
            </a>
          </div>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 ">
        <ul class="footer-ul footer-info">
          <li>
            <img class="banderas"  src="<%= asset_path('/assets/header/2peru.png')%>" alt=""> Perú <br>
            Dirección <br> Andrés Reyes 360, Oficina 302-B, San Isidro.
          </li>
          <li>
            Teléfono Central <br> (511) 680 3003
          </li>
          <li>
            Contacto <br> ventasperu@videocorp.com
          </li>
          <div class="social-links">
            <a href="https://www.facebook.com/videocorpsa/" class="facebook">
              <i class="fa fa-facebook"></i>
            </a>
          </div>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 ">
        <ul class="footer-ul footer-info">
          <li>
            <img class="banderas"  src="<%= asset_path('/assets/header/3colombia.png')%>" alt=""> Colombia <br>
            Dirección <br> Calle Bis 83 24-48, Bogotá, Colombia
          </li>
          <li>
            Teléfono Central <br> (57-1) 6168 25 5
          </li>
          <li>
            Contacto <br> vmatamala@videocorp.com
          </li>
          <div class="social-links">
            <a href="https://www.facebook.com/videocorpsa/" class="facebook">
              <i class="fa fa-facebook"></i>
            </a>
          </div>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <div class="container">
    <div class="col-md-10 center-block no-float">
      <div class="col-md-6">
        <p class="grey-text copy-text">Videocorp © 2019. Todos los derechos reservados </p>
      </div>
      <div class="col-md-6">
        <!-- p class="grey-text copy-text">Desarrollado por <a href="https://www.pronueva.com">Pronueva</a>  & Diseñado por <a href="http://www.syrup.cl">Syrup</a></p-->
      </div>
    </div>
  </div>
</div>