<div class="navbar navbar-default" id="nav-default">
  <div class="col-md-12">
    <div class="container-fluid ">
        <button type="button" data-toggle="collapse" data-target="#navbar-collapse-2" class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="col-md-3 col-sm-10 col-xs-10">
          <a href="/" class="navbar-brand"><img src="<%= asset_path('logo.png') %>" alt=""></a>
          <div class="hidden-lg mobile-search">
            <a type="button" href="#" class="btn-mobile-search" data-no-turbolink>
              <i class="fa fa-search"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 text-center search_header_form1">
          <form  id="search_header_form1"action="<%= request.base_url %>/proyectos/search" method="get">
            <div class="form-group">
              <input class="form-control searchheader" name="keywords" id="search_header1" placeholder="">
            </div>
              <button class="btn btn-default btn-header-search"  id="btn_search1" type="submit">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
          </form>
        </div>
        <div class="col-md-3">
          <div class="logos-vcgroup col-md-12 hidden-xs">
            <% @videocorp_partners.each do |vp| %>
              <% if vp.in_header == 1 %>
                <div class="<%= vp.custom_class %> top-partners" %><a href="<%= vp.url %>">
                  <% if vp.title != nil  %>
                    <h2><%= vp.title %></h2>
                  <% end %>
                  <img class="center-block no-float" src="<%= vp.logo.url(:medium) %>" alt="<%= vp.name %> "></a></div>
              <% end %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
  <div class="col-md-12 ">
    <div class="container">
      <div id="navbar-collapse-2" class="navbar-collapse collapse">
        <ul class="nav navbar-nav  ">
          <% @menu.each do |m| %>
              <% if m.menu_id == nil %>
                  <%= m.url %>aa
                <li class="header-option dropdown  top-menu">
                  <%if m.url == 'contacto' || m.url == 'trabaja-con-nosotros' %>
                      <a href="#" data-uri="<%= m.url %>" aria-expanded="false" class="dropdown-toggle link" >
                        <%= m.name.mb_chars.upcase %>
                      </a>
                  <%else%>
                      <a href="<%= m.url != 'porque-videocorp' ? '/'+m.url : '#' %>" onclick="<%= m.url == 'porque-videocorp' ? 'javascript:return false;':'' %>" aria-expanded="false" class="dropdown-toggle">
                        <%= m.name.mb_chars.upcase %>
                      </a>
                      <%if m.child_menu(m.id).count > 0 ||  m.url == 'productos' %>
                          <a href="#" aria-expanded="false" class="dropdown-toggle plus hidden-lg">
                            <i class="fa fa-plus"></i>
                          </a>
                      <% end %>
                  <%end%>
                  <%if m.child_menu(m.id).count > 0
                      @sub_menus = m.child_menu(m.id)
                  %>
                      <ul class="dropdown-menu">
                        <% @sub_menus.each do |sm| %>
                            <li>
                              <a href="/<%= sm.url %>"> <%= sm.name %></a>
                            </li>
                        <% end %>
                      </ul>
                  <% end %>
                  <% if m.url == 'productos' %>
                      <ul class="dropdown-menu ">
                        <% @brands.each do |b| %>
                            <li>
                              <a href="<%= request.base_url %>/productos/<%= b.name %>"> <%= b.name %></a>
                            </li>
                        <% end %>
                        <li><a href="/productos">Todos</a></li>
                      </ul>
                  <% end %>
                </li>
              <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-fixed-top" id="nav-sticky" style="display: none;">
  <div class="col-md-12" style="float:none">
      <div id="navbar-collapse-2" class="navbar-collapse collapse">
        <ul class="nav navbar-nav ul-fixed">
          <!-- Media Example -->
          <li class="header-option">
            <a href="/" class="navbar-brand"><img src="<%= asset_path('logo.png') %>" alt="" style="max-width:180px;margin-top:-15px"></a>
          </li>
          <% @menu.each do |m| %>
              <% if m.menu_id == nil %>
                  <li class="header-option dropdown yamm-fullwidth">
                    <%if m.url == 'contacto' || m.url == 'trabaja-con-nosotros' %>
                        <a href="#" onclick="javascript:link('/<%= m.url %>')" aria-expanded="false" class="dropdown-toggle link">
                          <%= m.name.mb_chars.upcase %>
                        </a>
                    <%else%>
                        <a href="/<%= m.url %>" aria-expanded="false" class="dropdown-toggle">
                          <%= m.name.mb_chars.upcase %>
                        </a>
                    <%end%>
                    
                    <%if m.child_menu(m.id).count > 0
                        @sub_menus = m.child_menu(m.id)
                    %>
                        <ul class="dropdown-menu ">
                          <% @sub_menus.each do |sm| %>
                              <li>
                                <a href="/<%= sm.url %>"> <%= sm.name %></a>
                              </li>
                          <% end %>
                        </ul>
                    <% end %>
                    <% if m.url == 'productos' %>
                        <ul class="dropdown-menu ">
                          <% @brands.each do |b| %>
                              <li>
                                <a href="<%= request.base_url %>/productos/<%= b.name %>"> <%= b.name %></a>
                              </li>
                          <% end %>
                          <li><a href="/productos">Todos</a></li>
                        </ul>
                    <% end %>
                  </li>
              <% end %>
          <% end %>
        </ul>
      </div>
  </div>
</div>