<section id="home_slider" class="big-section-padding">
  <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      <% @home_slider.slider_images.each_with_index do  |hs,index |%>
        <li data-target="#myCarousel" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>" contenteditable="false"></li>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% @home_slider.slider_images.each_with_index do  |hs,index |%>
          <div class="item <%= index == 0 ? 'active' : '' %>" style="">
            <%= image_tag hs.image.url(:home_slider) %>
            <div class="carousel-caption">
              <h4 class=""></h4>
              <p class="">
              </p>
            </div>
          </div>
      <% end %>
    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    <div class="bottom_banner ">
      <div class="container">
        <div class="col-md-12 text-center medium-padding ">
          <p class="white-text fsize-20 bold">SOLUCIONES TECNOLOGICAS DE CALIDAD</p>
        </div>
      </div>
    </div>
  </div>
</section>