/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./dashboard
 *= require_ ./material-icons
 *= require ../front/fonts.scss
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap_notify";
@import 'bootstrap-datetimepicker';
@import "https://fonts.googleapis.com/css?family=PT+Sans";
@import "https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons";

.form-control:focus{
  border: none;
}
.form-control{
  border-right: none !important;
}
.col-home{
  padding: 0;
  height: 60px;
}
span{
  font-size: 12px;
}
//
body{
  background: #f9f9f9;
  font-family: 'Colab','Gill Sans','PT Sans',sans-serif!important;
}
.no-float{
  float:none;
}
footer , .copyright{
  background: transparent!important;
}

.btn-primary:hover,.btn-primary,.btn-default,.btn-info,.btn-info:hover,.btn-default:hover{
  border-color: transparent;
}


.option_buttons{
  margin-right: 25px;
}

.form_img{
  max-width:300px;
}

// --- COLORES --- //
$purple: #552576;
$purple-int: #392B68;
$white: #fff;
$grey: #a0a3a4;
$blue: #193159;
$black : #1f1f1f;

// --- Colores --- //
.purple-int{
  background-color: $purple-int;
}
.purple-int-text{
  color: $purple-int;
}
.purple{
  background-color: $purple;
}
.purple-text{
  color: $purple;
}
.white{
  background-color: $white;
}
.white-text{
  color: $white;
}
.grey{
  background-color: $grey;
}
.grey-text{
  color: $grey!important;
}
.blue{
  background-color: $blue;
}
.blue-text{
  color: $blue;
}

.list-icon{
  max-width:100px;
}

.card-content>span>strong{
  text-transform: capitalize;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  background-color:rgba(255,255,255,0.2)
}
#cm_status{
  border:none;
  background:transparent;
  padding:5px 15px;
  line-height: 1.8;
}
.preloader-2{
  position: absolute;
  width:100%;
  height:100%;top: 0;
  background:rgba(255,255,255,0.2);
}
.preloader-2>img{
  width:80px;
  height:80px;position: absolute;
  left: calc(100% - 60%);top: 25%;
}

.principal_page{
  background: #33436b;
  color: #fff;
  font-size: 15px;
}
.patner_{
  background: #eee;
  color: #333;
  font-size: 15px;
}

span.info{
  background: #999;
  color:#f9f9fa;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  padding:2px 8px;
  font-weight:600;
}

.filter-button{
  color : #fff;

}

.btn-edit:before{
  font-family:"FontAwesome";
  content:"\f2b9"
}

.child{
  background: #f9f9f9;
}
.child .material-icons{
  padding:0 10px 0 0;
  font-size: 12px;
  color:#666;
}
.table > tbody > tr.child > td  {
  padding: 10px 3em
}