// --- COLORES --- //
$purple: #552576;
$purple-int: #392B68;
$white: #fff;
$grey: #a0a3a4;
$blue: #193159;
$black : #1f1f1f;
/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 *
 * @geedmo - Licensed under the MIT license
 */

//-----------------------------
//  Yamm Styles
//-----------------------------

.yamm {
  // reset positions
  .nav, .collapse, .dropup, .dropdown {
    position: static;
  }
  // propagate menu position under container for fw navbars
  .container {
    position: relative;
  }

  // by default aligns menu to left
  .dropdown-menu {
    left: 0;
    width:100%;
    border-radius: 0px !important;
  }

  // Content with padding
  .yamm-content {
    padding: 10px 15px;
  }

  // Fullwidth menu
  .dropdown.yamm-fw .dropdown-menu {
    left: 0; right: 0;
  }
}
// --- CAROUSEL ---
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
display: block;
height: 480px;
min-width: 100%;
width: 100%;
max-width: 100%;
line-height: 1;
}
.item{
max-height:480px;
}

// --- MEGAMENU --- //
.category{
  text-decoration: none;
  list-style-type: none;
  line-height: 1.8;
  height:60px;
}
.category-text{
  position: relative;
  width:100%;
  float: left;
  margin-bottom:5px;
  text-transform: uppercase;
  color:$grey;
}
.category-text:after{
  font-family: "FontAwesome";
  content:"\f054";
  font-size:8px;
  float: right;
  margin-top: 5px;
}
.category-text>a{
  color:$grey;
  font-size: 13px;
  display:flex;
  font-weight:300;
}
.text-cat{
 width:95%;float:left
}
.category-text>a:hover,.category-text>a:focus, .category-text:hover , .category:hover, .category-text>a:hover  .category-text:hover , .category:hover{
  color: $purple;
  text-decoration:none;
  font-weight:600;
}
.category-text>a>i{
  margin-right:15px;
}
.icon-broadcast{
  content:url('images/megamenu/broadcast-off.png');
  max-width: 36px;
  max-height: 29px;
}
.icon-broadcast-on{
  content:url('images/megamenu/broadcast-on.png')!important
}
.icon-integracion{
  content:url('images/megamenu/integracion-off.png');
  max-width: 36px;
  max-height: 29px;
}
.icon-integracion-on{
  content:url('images/megamenu/integracion-on.png')
}
.icon-seguridad{
  content:url('images/megamenu/seguridad-off.png');
  max-width: 36px;
  max-height: 29px;
}
.icon-seguridad-on{
  content:url('images/megamenu/seguridad-on.png')
}
.icon-aulanova{
  content:url('images/megamenu/aulanova-off.png');
  max-width: 36px;
  max-height: 29px;
}
.icon-aulanova-on{
  content:url('images/megamenu/aulanova-on.png')
}

.submenu{
  display: flex;
}

#img_block{
  padding: 0 0 2em 0;
}
#img_services{
  padding: 0 0 2em 0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background-color: transparent!important;
  color: $purple!important;
  text-decoration: underline;
  font-weight: bold;
}