// --- COLORES --- //
$purple : #552576;
$purple-int : #392B68;
$white  : #fff;
$grey : #a0a3a4;
$blue : #193159;
$black : #1f1f1f;
$purple2 : #6841DC;
$broadcast-color :  #f1045d;
$seguridad-color :  #ab04f1;
$aulanova-color :  #87e011;
$integracion-color :  #04a0f1;
$interior-color : #F3F5F9;

// --- Logos || Imagenes --- //
.logo{
}
.sub-logo{
  width:50%;
  margin-top:-20px;
}

// --- HOME SLIDER --- //

.bottom_banner{
  position: absolute;
  bottom: -20px;
  width: 100%;
}
// ---Paddings --- //
.small-padding{
  padding:0  0 8px 0 ;
}
.medium-padding{
  padding:1em;
}
.big-padding{
  padding:3em;
}
.small-section-padding{
  padding: 0px 0px 1em 0px;
}
.medium-section-padding{
  padding: 0px 0px 2.5em 0px;
}
.big-section-padding{
  padding: 0px 0px 4em 0px;
}
.footer-container{
  padding: 4em 0px;
}
// --- Colores --- //
.purple-int{
  background-color: $purple-int;
}
.purple-int-text{
  color: $purple-int;
}
.purple{
  background-color: $purple;
}
.purple-text{
  color: $purple;
}
.purple2{
  background-color: $purple2;
}
.purple2-text{
  color: $purple2;
}
.white{
  background-color: $white;
}
.white-text{
  color: $white;
}
.grey{
  background-color: $grey;
}
.grey-text{
  color: $grey!important;
}
.blue{
  background-color: $blue;
}
.blue-text{
  color: $blue;
}
.interior-color{
  background-color: $interior-color;
}
.broadcast-background{
  background: $broadcast-color;
}
.integracion-background{
  background: $integracion-color;
}
.aulanova-background{
  background: $aulanova-color;
}
.seguridad-background{
  background: $seguridad-color;
}
// ---  Fuentes --- //
.fsize-12{
  font-size: 12px!important;
}
.fsize-16{
  font-size: 16px
}
.fsize-20{
  font-size: 20px
}
.fsize-30{
  font-size: 30px!important;
}
.fsize-40{
  font-size: 40px!important;
}
.text-center{
  text-align: center;
}
.bold{
  font-weight:bold!important;
}
// --- PAGINAS INTERIORES --- //
.tab-contenido{
  padding: 0 100px 30px 100px;
  text-align: justify;
}
.header-section{
  background-color: #F3F5F9 ;
}
.header-section>h1{
  font-size:30px;
  font-weight:bold;
  color:$blue;
  padding: 1em 1em;
  text-align: center;
  margin-bottom:0px!important;
}
.tab-precont{
  background: white;
  padding: 2em;
}
.service-form>a{
  color: $purple!important;
  font-weight:bold;
}
.service-form>a>i{
  font-size:28px;
  margin-right:10px;
}
.tab-contenido>h1, .tab-partners>h1 ,.tab-precont>h1{
  font-size:18px;
  font-weight:bold;
}
.tab-contenido>span,.tab-partners>span{
  font-size:14px;
  font-weight:300;
}
.tab-partners{
  background: $white;
  padding: 1em;
}
.interior-page {
  padding: 1rem 11rem 4rem 11rem;
}
#banner_bottom .carousel-inner{
  max-height:200px;
}
.partner-logo{
  margin: 5rem 0;
  height: 130px ;
  text-align: center;
  a{
    height: 100%;
    img{
      max-width: 300px;
      max-height: 100px;
    }
  }
}
// --- FOOTER --- //
footer {
  background-color: #26272B;
  font-family: 'PT Sans', sans-serif;
}
.copyright {
  border-top: solid 1px rgba(255,255,255,0.08);
  min-height: 50px;
  padding: 8px 0;
  background-color: #26272B;
}.copy-text{padding: 9px 0 0 0;}
.bottom_ul {
  list-style-type: none;
  float: right;
  margin-bottom: 0px;
}.bottom_ul li {
   float: left;
   line-height: 40px;
 }.bottom_ul li:after {
   content: "|";
   color: $grey;
   margin-right: 8px;
   margin-left: 8px;
 }.bottom_ul>li>a{
       cursor: pointer;
        color:$grey;
     }
.footer-ul>li>a,.footer-ul>li{
  color:$white;
}
ul.footer-ul{
  list-style: none;
}
input.form-control.searchfooter {
  background: #313131;
  border: none;
  width:90%;
  float: left;
  border-radius:0px!important;
}
.btn-footer-search {
  width:10%;
  float: left;
  background: #313131!important;
  border: 1px solid #313131!important;
  border-radius:0px!important;
  color: #999!important;
}
input.form-control.searchfooter:focus {
  box-shadow: 0px 0px 0px #111;
}
input.form-control.searchheader {
  background: #fff;
  border: none;
  float: left;
  width:85%;
  height: 40px;
  margin-top: 10px;
  border: 1px solid #eeeeee;
  border-radius:5px 0px 0px 5x!important;
  box-shadow:none;
}
.btn-header-search{
  height: 25px;
  margin-top: 10px;
  padding: 0 0 0 0 !important;
}
.banderas{
  width:25px;    margin: 0 5px 0px 0;
}
.btn-header-search {
  background: #eee!important;
  border: 1px solid #eee!important;
  border-radius:0px 5px 5px 0px!important;
  height: 40px;
  color: $purple!important;
  width:15%;
  float: left;
}
input.form-control.searchheader:focus {
  box-shadow: 0px 0px 0px #eee;
}
.logos-vcgroup img{
  height: 30px;
  max-width: 100%;
}
.logos-vcgroup {
  width:100%;
  margin-top:12px;
}
/*CONTENEDORES*/
.flex-container{
  display: flex;
  width:100%;
  justify-content: center;
}
// --- OTROS --- //
  /* HEADER */
    .top-partners{
      cursor:pointer;
      border: 1px solid rgba(0,0,0,0.08);
      height: 40px;
      padding:5px 0 ;
      width: 17%;
      float: left;
      border-radius: 2px;
      &:hover{
        border: 1px solid rgba(0,0,0,0.28);
      }
    }
    a.active  {
      background:rgba(0,0,0,0.06);
      color:#a0a3a4;
    }
    .center-header{
      margin-left:15%!important;
    }
    .navbar-brand > img{
      width:280px;
    }
  /* FIXED HEADER */
    .navbar-fixed-top{
      background: $white;    box-shadow: 0 0px 12px -1px rgba(6,6,6,0.2);
    }
    .nav .navbar-nav .ul-fixed{
      margin-bottom:5px!important;
    }
    .ul-fixed>li.header-option {
      margin: 5px;
    }
    li.header-option>a{
      font-weight:bold;
      color:$blue;
    }
  /* HOME BANNER */
    .img_home_banner{
      width:866px;height:216px;margin-left:calc(50% - 425px)!important
    }
    .carousel {
      margin-bottom: 0;
      padding: 0 0 30px 0;
    }
    /* The controls */
    .carousel-control{
      font-size: 30px !important;
    }
    .carousel-control.a {
      left: -12px;
      width: 33px !important;
      /* background: none repeat scroll 0 0 #666; */
      background-image: none !important;
      border: 4px solid #FFFFFF;
      border-radius: 5px;
      margin-top: 4%;
      font-size: 5em !important;
      margin-bottom: 12%;
      color: #333;
    }
    .carousel-control.right.a {
      right: 0px;
      top:25%;
      height: 55px;
      border:none;
    }
    .carousel-control.left.a {
      left: 0px;
      top:25%;
      height: 55px;
      border:none;
    }
    /* The indicators */
    .carousel-indicators.a {
      right: 50%;
      top: auto;
      bottom: -10px;
      margin-right: -19px;
    }
    /* The colour of the indicators */
    .carousel-indicators li {
      background: #cecece;
    }
    .carousel-indicators .active {
      background: #428bca;
    }
  /* MENU 3 IMAGENES */
    /* Post */
    .post-container {
      margin: 0px -10px;
    }
    .post
    {
      background-color: #FFF;
      overflow: hidden;
      width:306px;
      box-shadow: 0 0 1px #CCC;
    }
    .post .content
    {
      padding: 15px;
    }
    .post .author
    {
      font-size: 11px;
      color: #737373;
      padding: 25px 30px 20px;
    }
    .post .post-img-content
    {
      height: 268px;
      position: relative;
    }
    .post .post-img-content img
    {
      position: absolute;
    }
    .post img {
      top: 29px;
      width: 100%;
      filter: inherit;
      -webkit-filter: inherit;
      -moz-filter: inherit;
      -o-filter: inherit;
      -ms-filter: inherit;
    }
    .post-img-footer{
      position:absolute;
      bottom:0px;
      right:0px;
    }
    .post .post-title
    {
      width:100%;
      text-align: center;
      display: table-cell;
      vertical-align: bottom;
      z-index: 2;
      top:-9px;
      position: absolute;
    }
    .post .post-title b
    {
      width: 100%;
      display: inline-block;
      /* margin-bottom: 5px; */
      color: #FFF;
      padding: 5px;
      margin-top: 8px;
    }
    .btn-vermas{
      background: rgba(255,255,255,0.8);
      -webkit-border-radius:0!important;
      -moz-border-radius:0!important;
      border-radius:0!important;
    }
  /* Redes Sociales */
    .redes-sociales, .redes-sociales>p ,.redes-sociales>a{
      display: inline-block;
      float: left;
      position: relative;
      padding: 5px 0px;
      margin-right: 5px;
      font-size: 20px;
    }
    .redes-sociales>a{
      width:35px;
      height:35px;
      color:#fff;
      text-align: center;
    }
    .facebook{
      cursor: pointer;
      text-align: center;
      background-color: #3B5998;
      padding: 2px 25px;
    }
    .facebook>i{
      color: $white;
    }
    .facebook:hover, .facebook>i:hover,.facebook .facebook>i:hover{
      background:rgba(59,89,152,0.8);
      color: $white;
    }
    .twitter{
      cursor: pointer;
      text-align: center;
      background-color: #1A93DE;
      padding: 2px 25px;
    }
    .twitter>i{
      color: $white;
    }
    .twitter:hover, .twitter>i:hover,.twitter .twitter>i:hover{
      background:rgba(26,147,222,0.8);
      color: $white;
    }
    .youtube{
      cursor: pointer;
      text-align: center;
      background-color: #E62117;
      padding: 2px 25px;
    }
    .youtube>i{
      color: $white;
    }
    .youtube:hover, .youtube>i:hover,.youtube .youtube>i:hover{
      background:rgba(230,33,23,0.8);
      color: $white;
    }
    .instagram{
      cursor: pointer;
      text-align: center;
      background-color: #E51231;
      font-size: 27px !important;
      padding: 0 !important;
    }
    .instagram>i{
      color: $white;
    }
    .instagram:hover, .instagram>i:hover,.instagram .instagram>i:hover {
      background: rgba(252, 204, 99,0.8);
      color: $white;
    }
  /* -- PANEL -- */
  .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0px !important;
  }
  .panel-heading{
    padding:0px!important;
  }
  .panel-default {
    border-color: #f6f6f6!important;
  }
  .panel-default > .panel-heading {
    color: $grey!important;
    background-color: $white!important;
    border-color: #f6f6f6!important;
    border-bottom:none!important;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    background-color: #fff!important;
    border-top:3px solid $purple!important;
    border-radius:0px!important;
  }
  .nav-tabs > li > a {
    color: #333!important;
    background: #f3f3f3!important;
    border-radius:0px!important;
  }
  /* -- Filtros -- */
  .check:hover {
    background: rgba(0,0,0,0.08);
  }.check label:hover{color: #2E2F30;}
.nums{
  text-align: center;
  font-size: 45px;
  font-weight:600;
}
.que-hacemos-tabs{
  background: #F3F5F9;
  padding: 5px 1em;
  margin: 10px 0;
}
a:hover, a:focus{
  color:$grey;
}
  /* --- PRODUCTOS --- */
  .products-box{
    border: 1px solid rgba(9,9,9,0.2);
    min-height: 365px;
    float: left;
    margin: 5px;
    padding: 0 25px;
    width: 32%;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease ;
    -ms-transition: all 0.2s ease ;
    -o-transition: all 0.2s ease ;
    transition: all 0.2s ease ;
  }
  .products-box:hover{
    -webkit-box-shadow: 3px 2px 6px -2px rgba(6,6,6,0.6);
    -moz-box-shadow: 3px 2px 6px -2px rgba(6,6,6,0.6);
    box-shadow: 3px 2px 6px -2px rgba(6,6,6,0.6);

  }
  /* --- PROJECTS -- */
  .previous-item {
    width:auto;
    font-size: 100px;
    float: left;
    height: 10px;
    margin-top: -60px;
    border-radius: 4px;
  }.previous-item a { color: #ccc;font-size:75px}.previous-item a:hover { color :#fff; text-decoration:none}

  .next-item {
    width:auto;
    font-size: 100px;
    float: right;
    height: 10px;
    margin-top: -60px;
    border-radius: 4px;
  }.next-item a  { color: #ccc;font-size:75px}.next-item a:hover { color :#fff; text-decoration:none}

  .img-principal{width:100%;max-height:260px;}

  .project-title-img{position:relative;width:100%;left:0;bottom:160px;}
  .project-title-img>a{
    color: #fff;
    background: rgba(6, 6, 6, 0.55);
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 5px 1em;
    margin: 0 55px;
  }
  .carousel-projects-img{
    max-height:500px;margin-left: calc(140px - 60px);width:400px;
  }
  .project-list{
    img{
      max-width:100%;
    }
  }
// SECCIONES //
.home{
  margin: 0 4rem;
}
// modals
#contactModal{
  z-index: 9999;
  top: 40%;
}