@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=PT+Sans';


//
body{
  font-family: 'Colab','Gill Sans','PT Sans',sans-serif!important;
  overflow: inherit;
}
@media (min-width: 1200px){
  .container {
    width: 1200px;
  }
}
.no-float{
  float:none;
}

.no-paddings{
  padding-right:0;
  padding-left:0;
}

.no-display{
  display: none;
}
.display-inline{
  display:inline-table;
}
.right{
  float: right;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{

   background-color: #392B68;
   border-color: #392B68;
}
.pagination > li > a, .pagination > li > span{
  color : #6841dc;
}
.copy-text a {
  color:#fff;
}

//CUSTOM CSS
.vcorp-equipos {
  height: 75px;
  width:100%;
  margin-bottom:-20px;
}
.vcorp-equipos img {
  width: 160px;
  height: auto;
  padding: 0;
  margin-top:-3px;
}
.vcorp-equipos h2 {
  background: grey;
  color: #fff;
  text-align: center;
  margin: 0;
  margin-top: -5px;
  font-size: 12px;
  padding: 2px;
  font-weight: bold;
}