// --- COLORES --- //
$purple : #552576;
$purple-int : #392B68;
$white  : #fff;
$grey : #a0a3a4;
$blue : #193159;
$black : #1f1f1f;
$broadcast-color :  #f1045d;
$seguridad-color :  #ab04f1;
$aulanova-color :  #87e011;
$integracion-color :  #04a0f1;
$interior-color : #F3F5F9;


@media (min-width: 768px){
  .chat-tab{
    background: #3372b9;
    display: block;
    height: initial;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 25px;
    border-radius: 4px;
    padding: 5px 30px;
    position: fixed;
    bottom: -5px;
    right: 5%;
    z-index: 999999;
    text-align: center;
  }
  .chat-tab>a{color:$white;text-decoration:none;}
  .chat-tab>a:hover,.chat-tab>a:active,.chat-tab>a:focus{color:#e9e9e9;text-decoration:none;}
}
.chat-form{
  margin-top:1em;
  padding:15px 2em;
  background:#f9f9f9;
}
.preloader{
  margin-left: auto;
  margin-right: auto;
  float: none;
  width:100px;
}

.message-form{
  position: absolute!important;
  background: #f9f9f9;
  bottom: 0;
  width:100%;
  padding:15px;
}

.messages-box{
  height:445px;
  overflow-y: scroll;
  padding:10px 4em;
  background: #f9f3f6;
}

#new_message_form>.message-input{
  width:80%;
  background-color: #fff;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
  padding: 5px 20px;
}
#new_message_form>.message-button{
  width:16%;
  float: right;
  background:$blue;
  color:#fff;
  padding:5px 25px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}



.chat
{
  list-style: none;
  margin: 0;
  padding: 0;
  background: rgba(255,255,255,0.7);
  padding:10px;
}

.chat li
{
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
  margin-left: 60px;
  margin-right: 20px;
}

.chat li.right .chat-body
{
  margin-right: 60px;
  margin-left: 20px;
}
.hora{
  font-weight: 600;
  color:#b6b6bf;

}
.chat li .chat-body p
{
  margin: 0;
  color: #777777;
}
.left .hora ,  .right .data {
  float: right;
}
.left .data{
  background: $purple;
  color:$white;
  padding:2px 10px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}
.left .msg{
  float: left;
  text-align: left;
  width:100%;
  padding: 10px;
}
.right .hora , .left .data  {
  float: left;
}
.right .data{
  background: $blue;
  color:$white;
  padding:2px 10px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}
.right .msg{
  float: right;
  text-align: right;
  width:100%;
  padding: 10px;
}
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}


.preloader-2{
  position: fixed;
  width:100%;
  height:100%;top: 0;
  background:rgba(255,255,255,0.2);
}
.preloader-2>img{
  width:120px;
  height:120px;position: absolute;
  left: calc(100% - 60%);top: 25%;
}

.logo-vc{
  max-width:200px;
}