/*
Estilo de filtros de las paginas de busqueda
*/

// --- COLORES --- //
$purple: #552576;
$purple-int: #392B68;
$white: #fff;
$grey: #a0a3a4;
$blue: #193159;
$black : #1f1f1f;
$broadcast-color :  #f1045d;
$seguridad-color :  #ab04f1;
$aulanova-color :  #87e011;
$integracion-color :  #04a0f1;
$interior-color : #F3F5F9;

/* --- TITULOS --- */
.filters>h1{
  font-family: 'PT Sans',sans-serif;
  font-size:18px;
  font-weight:bold;
}
.filters>.check>label{
  color: #535c6b;
  transition: 0.5s all ease;
  font-size: 17px;
  line-height: 1.4;
  font-weight: 400;
}

input[type=checkbox] + label:before {
  color: $grey;
  font-family: FontAwesome;
  display: inline-block;
  font-size: 16px;
  transition: 0.5s all ease;
}
input[type="checkbox"]{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
input[type=checkbox] + label:before {
  content: "\f096";
  letter-spacing: 10px;
}

input[type=checkbox]:checked + label:before  {
  color: $purple;
  content: "\f00c";
}
.header-broadcast_video{
  background: $broadcast-color!important;
}

.header-integracion_audiovisual{
  background: $integracion-color!important;
}

.header-seguridad_electronica{
  background: $seguridad-color!important;
}

.header-aulanova{
  background: $aulanova-color!important;
}


.order-by{
  position: relative;
  float: left;
  font-size: 20px;
  margin:0px 10px;
  padding: 5px 10px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  cursor: pointer;
  background: $white;
  color : $purple;
  transition: all 0.5s;
}
.order-by >a{
    color:$blue
}
.order-by:hover,.order-by:active,.order-by:focus{
  background : $blue;
  a{
    color: $white!important;
  }
}
.order-by.selected{
  background: $blue;
  color: $white;
}
.selected>a{
  color:$white!important;
}
.order-dropdown {
  border-radius: 5px;
  position: relative;
  padding: 2px 10px;
  float: left;
  background-color: $interior-color;
  color: $grey;
}
.dropdown-menu.drop-search{
  margin-left: -8px;
  padding:5px 15px;  background: $interior-color!important;
}
.drop-search>a{
  color: $grey;
  width:100%;
}
.check>label, .check>input {
  cursor: pointer;
}

