//-- FONTS -- //
// COLAB
@font-face{
  font-family: 'Colab';
  src: url(font-path('colab/ColabReg.otf')) format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: 'Colab';
  src: url(font-path('colab/ColabLig.otf')) format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family: 'Colab';
  src: url(font-path('colab/ColabThi.otf')) format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face{
  font-family: 'Colab';
  src: url(font-path('colab/ColabBol.otf')) format('opentype');
  font-weight: 600;
  font-style: normal;
}
// GILL
@font-face{
  font-family: 'Gill Sans';
  src: url(font-path('gill/GillSans.ttc')) format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: 'Gill Sans';
  src: url(font-path('gill/GillSansMTItalic.ttf')) format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face{
  font-family: 'Gill Sans';
  src: url(font-path('gill/GillSansMTBold.ttf')) format('opentype');
  font-weight: bold;
  font-style: normal;
}