// --- COLORES --- //
$purple: #552576;
$purple-int: #392B68;
$white: #fff;
$grey: #a0a3a4;
$blue: #193159;
$black : #1f1f1f;
/* Smartphones (portrait) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  /* STYLES GO HERE */
  .hidden-xs{
    display: none;
  }
  /*general*/
  .home {
    margin-left: 0px;
    margin-right: 0px;
    padding: 8rem 0 0 0;
  }
  .row{
    margin-right:0px;
  }
  .breadcrumb{
    margin-bottom:0px;
  }
  .header-section > h1{
    margin:0px;
    background: $blue;
    color:$white;
    font-size:18px;
  }
  .g-recaptcha{
    width: 0;
  }
  #youtube-mobile a img{
    width:100%
  }
  /*carousel*/
  .carousel{
    padding:0;
  }
  .carousel-inner {
    height: auto;
    text-align: center;
  }
  #home_slider{
    padding: 0rem 0px 4em 0px;
  }
  .carousel-inner > .item > img, .carousel-inner > .item > a > img{
    height:220px;
  }
  #myCarousel .carousel-control.right , #myCarousel .carousel-control.left {
    display: none;
  }
  .carousel-indicators {
    position: absolute;
    bottom: -3em;
  }
  .carousel-indicators .active {
    background-color: #032e5a;
  }
  .carousel-indicators li{
    border: 1px solid #032e5a;
    background-color: #eee;
  }
  #banner_home{
    display: none;
  }
  #CarouselCompanies .carousel-control.right , #CarouselCompanies .carousel-control.left {
    background-image: none;
    color: #333;
    height:80px;
  }
  #CarouselCompanies .carousel-inner{
    width:70%;
    margin: 0 auto;
    img{
      width:100%;
    }
  }
  .carousel-control.right.a,.carousel-control.left.a{
    top: -15%!important;
  }
  .bottom_banner p {
    font-size:16px
  }
    /*header*/
  .navbar-default{
    background: #fff;
    min-height: 80px;
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease ;
    -ms-transition: height 1s ease ;
    -o-transition: height 1s ease ;
    transition: height 1s ease ;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #333;
  }
  .navbar-toggle{
    float: left;
    margin: 2rem 0 0 0;
    border: none;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
  }
  .navbar-brand > img {
    width: 145px;
  }
  .navbar-default {
    position: fixed;
    z-index: 999;
    width:100%;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-top:none;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
    cursor: pointer;
  }
  .navbar-nav {
    margin: 3rem 0px;
  }
  #nav-default {
    padding-bottom: 1rem ;
  }
  #navbar-collapse-2 {
    position: absolute;
    width: 100%;
    z-index: 33333;
    background: #fff;
    margin-left: -30px;
  }
  .mobile-search{
    float: left;
    margin: 2rem 0 0 2rem;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
  .icon-bar{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease ;
    -ms-transition: all 0.3s ease ;
    -o-transition: all 0.3s ease ;
    transition: all 0.3s ease ;
  }
  .mobile-search a{
    color: #333;
    font-size: 20px;
    text-decoration: none;
  }
  .btn-header-search {
    height: 25px;
    margin-top: 1.5rem;
    width: 8%;
  }
  input.form-control.searchheader {
    background: #eee;
    border: none;
    float: left;
    width: 80%;
    height: 25px;
    margin-top: 1.5rem;
    border-radius: 0px !important;
  }
  .search_header_form1{
    display: none;
  }
  .header-option {
    color: #333;
    font-weight: 100;
    opacity: 0;
    border-top:1px solid rgba(3,3,3,0.1);

    -webkit-transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
    transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
    transition: opacity 0.35s ease-out, transform 0.35s ease-out;
    transition: opacity 0.35s ease-out, transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
  }
  .header-option:last-child{
    border-bottom:1px solid rgba(3,3,3,0.1);
  }
  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .35s ease;
    -o-transition: height .35s ease;
    transition: height .35s ease;
  }
  .nav > li{
    overflow: auto;
    max-height: 180px;
  }
  /*home who  */
  #who .container-home {
    margin-left:0 !important;
  }
  .post {
    width: 85%;
    margin: 0 auto;
    padding: 0 0 2rem 0;
  }
  .post .post-img-content{
    max-height: 190px;
  }
  .post img{
    max-height: 160px;
    object-fit: cover;
  }
  /*home nums / youtube */
  #nums{
    display: none;
  }
  /*companies*/
  #companies{
    height: 200px;
  }
  /*footer*/
  #search_footer_form{
    display: none;
  }
  .footer-container {
    padding: 2em 0px;
  }
  .footer-ul img {
    width: 120px;
    padding:0 0 2rem 0;
  }
  ul.footer-ul {
    margin-bottom: 0px;
    margin-top: 0;
    padding: 0 3rem;
  }
  .footer-ul > li {
    color: #fff;
    padding: 0.5rem 0;
  }
  .footer-links > li{
    border-top:1px solid #fff;
    border-right:0;
    border-left:0;
  }
  .footer-links > li:last-child{
    border-bottom:1px solid #fff;
  }
  .footer-info{
    padding: 1rem 3rem 5rem 3rem !important;
  }
  .footer-info .redes-sociales{
    width:100%;
    padding:0 0 1rem 0;
  }
  .footer-flags {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-flags li:first-child{
    border-top:1px solid #fff;
    flex:100%;
    min-width:100%;
    padding: 1rem 0 2rem 0;
  }
  .footer-flags li.flag{
    flex:5%;
    min-width:5%;
    padding:0 5px;
  }
  .footer-flags li.flag img{
    width:100%;
  }
  .footer-flags li.flag span {
    display: none;
  }
  .copyright{
    background-color: #fff;
  }
  .copyright p {
    color: #333 !important;
    font-weight: bold;
    font-size: 12px;
  }
  .copy-text a {
    color: #5f5f5f;
    font-size: 12px;
  }
  /*Projects*/
  .project-list {
    background: rgba(240,240,240,0.2);
    padding: 1.5rem 0;
    border-bottom: 1px dashed rgba(0,0,0,0.4);
    text-align: center;
  }
  .project-list img {
    padding: 0.6rem 3rem;
    max-width: 90%;
  }
  .project-customer-mobile p {
    margin: 0 auto;
    background: #193159;
    margin-top: 1rem;
    float: none;
    color: #fff;
    padding: 1rem 2rem;
    font-weight: 600;
    display: inline-block;
  }
  .project-description-mobile p {
    background: #eee;
    padding: 1.5rem 2.5rem;
    text-align: left;
    font-weight: 400;
    color: #222;
  }
  .carousel-projects-img{
    width:100px;
    margin-left: 0px;
  }
  .mobile-section-title h2{
    background: $blue;
    color: $white;
    font-size: 18px;
    padding: 1rem 2rem;
    text-align: center;
    margin:0px;
  }
  .next-item {
    width: auto;
    font-size: 100px;
    float: right;
    height: 10px;
    margin-top: -75px;
    border-radius: 4px;
  }
  .previous-item {
    width: auto;
    font-size: 100px;
    float: left;
    height: 10px;
    margin-top: -75px;
    border-radius: 4px;
  }
  .previous-item a , .next-item a {
    color: #ccc;
    font-size: 35px;
  }
  .carousel-inner>.item>img, .carousel-inner>.item>a>img{
    height:185px;
  }
  /*project filters*/
  .mobile-filters{
    margin-bottom: 1rem;
    display: flex;
    background: #772076;
  }
  .mobile-filters li{
    display: flex;
    list-style-type: none;
    width:100%;
  }
  .mobile-filters ul{
    padding: 1.5rem;
  }
  .mobile-filters li h3{
    width:70%;
    flex:70%;
    justify-content: center;
    text-align: left;
  }
  .mobile-filters li a{
    text-decoration: none;
    display: flex;
    list-style-type: none;
    width:30%;
    flex:30%;
    padding: 2rem;
  }
  .mobile-filters li a{
    color: #fff;
    font-size:20px;
  }
  .mobile-filters .dropdown-menu{
    width:100%;
    background: #942a93;
    border:none;
    margin-top: 0;
    border-radius: 0;
  }
  .mobile-filters .dropdown-menu .check {
    padding: 1rem;
  }
  .mobile-filters .dropdown-menu .check hr {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 85%;
  }
  /*contact*/
  .contact-info {
    padding: 1rem 4rem;
  }
  .contact-info h4 {
    border-top: 1px solid rgba(3,3,3,0.2);
    padding: 1rem 0;
  }
  /*interior pages*/
  .interior-page {
    padding: 1rem 2rem 2rem 2rem;
  }
  .interior-page img, .interior-page iframe, .interior-page video {
    width: 100%!important;
    max-height: 250px;
  }
  #banner_bottom img {
    margin-left: 10px !important;
    width: 100%!important;
    height: 100px!important;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (max-width: 767px) and (orientation: landscape){
  /* STYLES GO HERE */
  .hidden-xs{
    display: none;
  }
  /*general*/
  .home {
    margin-left: 0px;
    margin-right: 0px;
    padding: 8rem 0px;
  }
  .row{
    margin-right:0px;
  }
  .breadcrumb{
    margin-bottom:0px;
  }
  .header-section > h1{
    margin:0px;
    background: $blue;
    color:$white;
    font-size:18px;
  }
  .g-recaptcha{
    width: 0;
  }
  /*carousel*/
  .carousel{
    padding:0;
  }
  .carousel-inner {
    height: auto;
    text-align: center;
  }
  #home_slider{
    padding: 0rem 0px 4em 0px;
  }
  .carousel-inner > .item > img, .carousel-inner > .item > a > img{
    height:220px;
  }
  #myCarousel .carousel-control.right , #myCarousel .carousel-control.left {
    display: none;
  }
  .carousel-indicators {
    position: absolute;
    bottom: -3em;
  }
  .carousel-indicators .active {
    background-color: #032e5a;
  }
  .carousel-indicators li{
    border: 1px solid #032e5a;
    background-color: #eee;
  }
  #banner_home{
    display: none;
  }
  #CarouselCompanies .carousel-control.right , #CarouselCompanies .carousel-control.left {
    background-image: none;
    color: #333;
    height:100px;
  }
  #CarouselCompanies .carousel-inner{
    width:70%;
    margin: 0 auto;
    img{
      width:100%;
    }
  }
  /*header*/
  .navbar-default{
    background: #fff;
    min-height: 80px;
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease ;
    -ms-transition: height 1s ease ;
    -o-transition: height 1s ease ;
    transition: height 1s ease ;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #333;
  }
  .navbar-toggle{
    float: left;
    margin: 2rem 0 0 0;
    border: none;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
  }
  .navbar-brand > img {
    width: 145px;
    margin-left: 50%;
  }
  .navbar-default {
    position: fixed;
    z-index: 999;
    width:100%;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-top:none;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
    cursor: pointer;
  }
  .navbar-nav {
    margin: 3rem 0px;
    max-height:80vh;
  }
  #nav-default {
    padding-bottom: 1rem ;
  }
  #navbar-collapse-2 {
    position: absolute;
    width: 100%;
    z-index: 33333;
    background: #fff;
    margin-left: -30px;
  }
  .mobile-search{
    float: right;
    margin: 2rem 0 0 2rem;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
  .icon-bar{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease ;
    -ms-transition: all 0.3s ease ;
    -o-transition: all 0.3s ease ;
    transition: all 0.3s ease ;
  }
  .mobile-search a{
    color: #333;
    font-size: 20px;
    text-decoration: none;
  }
  .btn-header-search {
    height: 25px;
    margin-top: 1.5rem;
    width: 8%;
  }
  input.form-control.searchheader {
    background: #eee;
    border: none;
    float: left;
    width: 80%;
    height: 25px;
    margin-top: 1.5rem;
    border-radius: 0px !important;
  }
  .search_header_form1{
    display: none;
  }
  .header-option {
    color: #333;
    font-weight: 100;
    opacity: 0;
    border-top:1px solid rgba(3,3,3,0.1);

    -webkit-transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
    transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
    transition: opacity 0.35s ease-out, transform 0.35s ease-out;
    transition: opacity 0.35s ease-out, transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
  }
  .header-option:last-child{
    border-bottom:1px solid rgba(3,3,3,0.1);
  }
  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .35s ease;
    -o-transition: height .35s ease;
    transition: height .35s ease;
  }
  .nav > li{
    overflow: auto;
    max-height: 150px;
  }
  /*companies*/
  #companies{
    height: 200px;
  }
  /*home who  */
  #who .container-home {
    margin-left:0 !important;
  }
  .post {
    width: 85%;
    margin: 0 auto;
    padding: 0 0 2rem 0;
  }
  .post .post-img-content{
    max-height: 190px;
  }
  .post img{
    max-height: 160px;
    object-fit: cover;
  }
  /*home nums / youtube */
  #nums{
    display: none;
  }
  /*footer*/
  #search_footer_form{
    display: none;
  }
  .footer-container {
    padding: 2em 0px;
  }
  .footer-ul img {
    width: 120px;
    padding:0 0 2rem 0;
  }
  ul.footer-ul {
    margin-bottom: 0px;
    margin-top: 0;
    padding: 0 3rem;
  }
  .footer-ul > li {
    color: #fff;
    padding: 0.5rem 0;
  }
  .footer-links > li{
    border-top:1px solid #fff;
    border-right:0;
    border-left:0;
  }
  .footer-links > li:last-child{
    border-bottom:1px solid #fff;
  }
  .footer-info{
    padding: 1rem 3rem 5rem 3rem !important;
  }
  .footer-info .redes-sociales{
    width:100%;
    padding:0 0 1rem 0;
  }
  .footer-flags {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-flags li:first-child{
    border-top:1px solid #fff;
    flex:100%;
    min-width:100%;
    padding: 1rem 0 2rem 0;
  }
  .footer-flags li.flag{
    flex:5%;
    min-width:5%;
    padding:0 5px;
    text-align:center;
  }
  .footer-flags li.flag img {
    width: 45%;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    display: flex;
  }
  .footer-flags li.flag span {
    font-size: 10px;
    text-align:center;
  }
  .copyright{
    text-align:center;
    background-color: #fff;
  }
  .copyright p {
    color: #333 !important;
    font-weight: bold;
    font-size: 12px;
  }
  .copy-text a {
    color: #5f5f5f;
    font-size: 12px;
  }/*Projects*/
  .project-list {
    background: rgba(240,240,240,0.2);
    padding: 1.5rem 0;
    border-bottom: 1px dashed rgba(0,0,0,0.4);
    text-align: center;
  }
  .project-list img {
    padding: 0.6rem 3rem;
    max-width: 90%x;
  }
  .project-customer-mobile p {
    margin: 0 auto;
    background: #193159;
    margin-top: 1rem;
    float: none;
    color: #fff;
    padding: 1rem 2rem;
    font-weight: 600;
    display: inline-block;
  }
  .project-description-mobile p {
    background: #eee;
    padding: 1.5rem 2.5rem;
    text-align: left;
    font-weight: 400;
    color: #222;
    width: 75%;
    margin: 0 auto;
  }
  .carousel-projects-img{
    width:250px;
    margin-left: 0px;
  }
  .mobile-section-title h2{
    background: $blue;
    color: $white;
    font-size: 18px;
    padding: 1rem 2rem;
    text-align: center;
    margin:0px;
  }
  .next-item {
    width: auto;
    font-size: 100px;
    float: right;
    height: 10px;
    margin-top: -75px;
    border-radius: 4px;
  }
  .previous-item {
    width: auto;
    font-size: 100px;
    float: left;
    height: 10px;
    margin-top: -75px;
    border-radius: 4px;
  }
  .previous-item a , .next-item a {
    color: #ccc;
    font-size: 35px;
  }
  .carousel-inner>.item>img, .carousel-inner>.item>a>img{
    height:185px;
  }
  /*project filters*/
  .mobile-filters{
    margin-bottom: 1rem;
    display: flex;
    background: #772076;
  }
  .mobile-filters li{
    display: flex;
    list-style-type: none;
    width:100%;
  }
  .mobile-filters ul{
    padding: 1.5rem;
  }
  .mobile-filters li h3{
    width:62%;
    flex:62%;
    justify-content: center;
    text-align: left;
  }
  .mobile-filters li a{
    text-decoration: none;
    display: flex;
    list-style-type: none;
    width:38%;
    flex:38%;
    padding: 2rem 5rem;
  }
  .mobile-filters li a{
    color: #fff;
    font-size:20px;
  }
  .mobile-filters .dropdown-menu{
    width:100%;
    background: #942a93;
    border:none;
    margin-top: 0;
    border-radius: 0;
  }
  .mobile-filters .dropdown-menu .check {
    padding: 1rem;
  }
  .mobile-filters .dropdown-menu .check hr {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 92%;
  }
  /*contact*/
  .contact-info {
    padding: 1rem 4rem;
  }
  .contact-info h4 {
    border-top: 1px solid rgba(3,3,3,0.2);
    padding: 1rem 0;
  }
  /*interior pages*/
  .interior-page {
    padding: 1rem 2rem 2rem 2rem;
  }
  .interior-page img, .interior-page iframe {
    width: 100%!important;
    max-height: 400px;
  }
  #banner_bottom img {
    margin-left: 0 !important;
    width: 100%!important;
    height: 100px!important;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen
and  (max-device-width: 480px) and (orientation: portrait){
  /* STYLES GO HERE */
  .hidden-xs{
    display: none;
  }

}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  /* STYLES GO HERE */
  .hidden-xs{
    display: none;
  }
  .project-list{
    padding: 2rem 0;
    background-color:rgba(240,240,240,0.2);
    border-bottom:1px dashed rgba(0,0,0,0.2);
  }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  /* STYLES GO HERE */
  #companies{
    display: none;
  }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  /* STYLES GO HERE */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  /* STYLES GO HERE */
  .hidden-lg{
    display: none;
  }
  #youtube-mobile{
    display: none;
  }
  #companies{
    display: none;
  }
  .logo-vc{
    max-width:200px;
  }
  .navbar{
    width:100%!important;
    z-index: 3000!important;
    height:auto!important;
    -webkit-border-radius:0px !important;
    -moz-border-radius:0px !important;
    border-radius:0px !important;
    margin-bottom:0px!important;
  }
  .navbar-nav > li > a {
    padding-bottom: 15px;
  }.navbar
   .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
     margin-left:5px!important;
   }
  .header-megamenu{
    margin-top:8px;
  }
  .navbar-brand{
    padding: 15px 15px!important;
  }
  .navbar-default .navbar-nav > li > a{
    font-weight:bold;
    font-size:15px;
  }
  .navbar-default{
    background-color: rgba(255,255,255,0.91)!important;
    border:none!important;
  }
  .navbar-default .navbar-nav > li > a{
    color: $blue!important;
  }
  .navbar-default .navbar-nav > li > a:hover{
    color: $purple!important;
    text-decoration:underline;
  }
  ul.navbar-nav{
    margin-left: 25px;
    margin-bottom:5px;
  }
  .header-option{
    margin-left:0px;
  }
  .header-option:hover{
    background: #f8f8f8;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    padding: 2rem 0 0 0;
  }
  //Estilo dropdown menu
  .dropdown-menu{
    background-color:#fff !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175)!important;
    -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.175)!important;
    border: inherit!important;
    transition:height 1s ease;
  }
  /*projects*/
  .item {
    height: auto;
  }
  .carousel-inner>.item>img, .carousel-inner>.item>a>img{
    height: auto;
    margin-left: 0px;
  }
  /* --- header banner ---*/
  .bottom_banner {
    height: 50px;
    background: $blue;
    z-index: 2000;
  }

  /* -- service search -- */
  .service_img{
    margin-bottom: 10px;
  }
  .service-content>h1{
    font-size:20px;
    font-weight: bold;
    width:100%;

  }
  .service-description{
    width:100%;
  }
  .service-description>p{
    color:$grey;
  }
  .service-subservice>p{
    font-weight:bold;
  }

  /* -- productos search -- */
  .product_img{
    margin-bottom: 10px;
    height: 180px;
    margin-top: 20px;
    border-bottom:1px dashed rgba(0,0,0,0.1);
  }
  .product-img_principal{
    border:1px solid #eee;
  }
  .product-img_principal>img{
    width:100%;
  }
  .product-img_baja{
    border:1px solid #eee;
    padding:10px;
  }
  .product_img>a>img {
    width: 100%;
    max-height:180px;
  }
  .product-content>a{
    text-decoration: none;
  }
  .product-content>a>h1{
    font-size:20px;
    color: $black;
    font-weight: bold;
    width:100%;
  }
  .product-info>h1{
    font-weight: bold;
    width:100%;
  }
  .product-sku{
    width:100%;
  }
  .product-sku>p{
    color:$grey;
  }
  .product-price{
    width:100%;
    color:$purple-int;
    font-size:16px;
    font-weight:bold;
  }
  .product-subservice>p{
    font-weight:bold;
  }
  .product-description{
    color:$grey;
    pading: 10px 0;
  }
  .product-share{
    width:100%;
  }
  h1.special-products{
    font-weight:bold;
    font-size:18px;
  }
  .wishlist>a,.share>a,.pdf_file>a{
    position: relative;
    float: left;
    font-size: 20px;
    margin:0px 10px;
    padding: 5px 10px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background: $purple;
    color : $white;
    transition: all 0.5s;
  }
  .wishlist>a:hover,.wishlist>a:focus,.wishlist>a:active, .share>a:hover,.share>a:focus,.share>a:active, .pdf_file>a:hover, .pdf_file>a:active, .pdf_file>a:focus{
    background:$white;
    color :  $purple;
  }
  .sub-info{
    width:100%;
  }
  .sub-info>.stats{
    float:right;
    color:$grey;
  }
  .starred{
    color:$purple!important;
  }
  .fa-star{
    color:$grey;
  }

  /* --- Panel Comentarios --- */

  .panel {
    position:relative;
  }
  .panel>.panel-heading:after,.panel>.panel-heading:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
  }
  .panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
  }
  .panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
  }
  /* --- OTROS --- */
  .col-md-4 {
    margin-bottom: 20px;
  }

  .project-titles>div{
    height:55px;
    padding:10px 1em;
    color: $white;
  }
  .project-titles{
    background: $blue;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    margin-bottom:10px;
  }
  .project-list  p {
    display: inline-block;word-wrap: break-word;width: 100%;
  }
  .project-list{
    background: rgba(240,240,240,0.2);
    border-bottom:1px dashed rgba(0,0,0,0.2);
    padding:1em;
  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  /* STYLES GO HERE */
  .hidden-lg{
    display: none;
  }
  #companies{
    display: none;
  }
  .logo-vc{
    max-width:200px;
  }
  .navbar{
    width:100%!important;
    z-index: 3000!important;
    height:auto!important;
    -webkit-border-radius:0px !important;
    -moz-border-radius:0px !important;
    border-radius:0px !important;
    margin-bottom:0px!important;
  }
  .navbar-nav > li > a {
    padding-bottom: 15px;
  }.navbar
   .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
     margin-left:5px!important;
   }
  .header-megamenu{
    margin-top:8px;
  }
  .navbar-brand{
    padding: 15px 15px!important;
  }
  .navbar-default .navbar-nav > li > a{
    font-weight:bold;
    font-size:15px;
  }
  .navbar-default{
    background-color: rgba(255,255,255,0.91)!important;
    border:none!important;
  }
  .navbar-default .navbar-nav > li > a{
    color: $blue!important;
  }
  .navbar-default .navbar-nav > li > a:hover{
    color: $purple!important;
    text-decoration:underline;
  }
  ul.navbar-nav{
    margin-left: 25px;
    margin-bottom:5px;
  }
  .header-option{
    margin-left:0px;
  }
  .header-option:hover{
    background: #f8f8f8;
  }
  //Estilo dropdown menu
  .dropdown-menu{
    background-color:#fff !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175)!important;
    -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.175)!important;
    border: inherit!important;
    transition:height 1s ease;
  }

  /* --- header banner ---*/
  .bottom_banner {
    height: 50px;
    background: $blue;
    z-index: 2000;
  }

  /* -- service search -- */
  .service_img{
    margin-bottom: 10px;
  }
  .service-content>h1{
    font-size:20px;
    font-weight: bold;
    width:100%;

  }
  .service-description{
    width:100%;
  }
  .service-description>p{
    color:$grey;
  }
  .service-subservice>p{
    font-weight:bold;
  }

  /* -- productos search -- */
  .product_img{
    margin-bottom: 10px;
    height: 180px;
    margin-top: 20px;
    border-bottom:1px dashed rgba(0,0,0,0.1);
  }
  .product-img_principal{
    border:1px solid #eee;
  }
  .product-img_principal>img{
    width:100%;
  }
  .product-img_baja{
    border:1px solid #eee;
    padding:10px;
  }
  .product_img>a>img {
    width: 100%;
    max-height:180px;
  }
  .product-content>a{
    text-decoration: none;
  }
  .product-content>a>h1{
    font-size:20px;
    color: $black;
    font-weight: bold;
    width:100%;
  }
  .product-info>h1{
    font-weight: bold;
    width:100%;
  }
  .product-sku{
    width:100%;
  }
  .product-sku>p{
    color:$grey;
  }
  .product-price{
    width:100%;
    color:$purple-int;
    font-size:16px;
    font-weight:bold;
  }
  .product-subservice>p{
    font-weight:bold;
  }
  .product-description{
    color:$grey;
    pading: 10px 0;
  }
  .product-share{
    width:100%;
  }
  h1.special-products{
    font-weight:bold;
    font-size:18px;
  }
  .wishlist>a,.share>a,.pdf_file>a{
    position: relative;
    float: left;
    font-size: 20px;
    margin:0px 10px;
    padding: 5px 10px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background: $purple;
    color : $white;
    transition: all 0.5s;
  }
  .wishlist>a:hover,.wishlist>a:focus,.wishlist>a:active, .share>a:hover,.share>a:focus,.share>a:active, .pdf_file>a:hover, .pdf_file>a:active, .pdf_file>a:focus{
    background:$white;
    color :  $purple;
  }
  .sub-info{
    width:100%;
  }
  .sub-info>.stats{
    float:right;
    color:$grey;
  }
  .starred{
    color:$purple!important;
  }
  .fa-star{
    color:$grey;
  }

  /* --- Panel Comentarios --- */

  .panel {
    position:relative;
  }
  .panel>.panel-heading:after,.panel>.panel-heading:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
  }
  .panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
  }
  .panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
  }
  /* --- OTROS --- */
  .col-md-4 {
    margin-bottom: 20px;
  }

  .project-titles>div{
    height:55px;
    padding:10px 1em;
    color: $white;
  }
  .project-titles{
    background: $blue;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    margin-bottom:10px;
  }
  .project-list  p {
    display: inline-block;word-wrap: break-word;width: 100%;
  }
  .project-list{
    background: rgba(240,240,240,0.2);
    padding: 1em;
    div:nth-child(2){
      padding: 1rem 1em;
    }
    img{
      width:100%;
    }
  }
}

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  /* STYLES GO HERE */
  .hidden-xs{
    display: none;
  }
}

/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
  /* STYLES GO HERE */
  .hidden-xs{
    display: none;
  }
}

/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
  /* STYLES GO HERE */
  .hidden-xs{
    display: none;
  }
}
/* MONITORES */
@media (min-width: 768px){


}
