<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
    h1,p{
      font-weight: 100;
      line-height: 1.6;
      color:#09173c;
    }
      .logo-vc{
        max-width:200px;
      }
      hr{
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(2, 16, 185, 0.18), rgba(0, 0, 0, 0));
      }
  </style>
</head>
<body>
<img src="http://www.videocorp.com/<%= asset_path("logo.png") %>" class="logo-vc" alt="">
<h1>Hemos recibido un correo!</h1>
<p>
  La persona <%= @name %> quiere contactarse con nosotros.
  <br>
  Correo electrónico: <%= @email %>
  <br>
  Teléfono: <%= @phone %>
  <br>
</p>
<hr>
<p>
  <%= @msg %>
</p>
</body>
</html>