  <% @messages.each do |m|  %>
      <% if m.user_type_id == "5" %>
          <li class="left clearfix">
            <div class="chat-body clearfix">
              <div class="header">
                <strong class="data"><%= m.chat.customer.customer_name %> / <%= m.chat.customer.customer_email %>  </strong>
                <div class="hora"><i class="fa fa-clock-o"></i> <%= m.timestamp %></div>
              </div>
              <p class="msg">
                <%= m.body %>
              </p>
            </div>
          </li>
      <% else %>
          <li class="right clearfix">
            <div class="chat-body clearfix">
              <div class="header">
                <strong class="data"><%= m.chat.user.name %> / <%= m.chat.user.email %>  </strong>
                <div class="hora"><i class="fa fa-clock-o"></i> <%= m.timestamp %></div>
              </div>
              <p class="msg">
                <%= m.body %>
              </p>
            </div>
          </li>
      <% end %>
  <% end %>
