<div class="chat_container">
    <input type="hidden" id="chat_room" value="<%=  @room.room_name %>">
    <input type="hidden" id="customer" value="<%=  @customer.id %>">
    <input type="hidden" id="cm" value="<%=  @cm.id %>">
    <input type="hidden" id="current" value="<%=  current_user.user_type_id %>">

    <div class="col-md-12 col-sm-12 purple">
      <div class="col-md-6 col-sm-6">
        <h4 class="white-text"><i class="fa fa-comments"></i> Chat Videocorp</h4>
      </div>
      <div class="col-md-6 col-sm-6 pull-right">
          <h5 class="pull-right">
            <a href="#" class="white-text" id="disconnect">
                <i class="fa fa-close"></i>
               Desconectar
            </a>
          </h5>
      </div>
    </div>
  <div class="col-md-12 messages-box" >
    <ul class="chat" id="messages-box">
      <% if @messages != nil %>
        <%= render "chat/messages" %>
      <% end %>
    </ul>
  </div>
  <div class="col-md-12 message-form">
    <form id="new_message_form">
      <i class="fa fa-send"></i>
      <input type="text" id="message" class="message-input" name="message" placeholder="Escriba su mensaje ...">
      <input type="submit" value="Enviar" class="message-button send">
    </form>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  var room_channel = pusher.subscribe('private-channel-chat_' + $('#chat_room').val());
  room_channel.bind('new-message',function(data){
    $('.messages-box').append('<div class="preloader-2"> <img src="<%= asset_path('preloader.gif') %>" /> </div>');
    var data = {
      message : $('#message').val(),
      customer : $('#customer').val(),
      cm : $('#cm').val(),
      user_type: $('#current').val(),
      room: $('#chat_room').val(),
      socket_id: pusher.connection.socket_id

    };
    $.post('<%= request.base_url %>/chat/get_messages/', data)
        .success(function(data){
          $('.preloader-2').remove();
          $('#messages-box').html(data);
          $(".messages-box").animate({ scrollTop: $('.messages-box').prop("scrollHeight")}, 650);
        });
  });
  room_channel.bind('chat-finish',function(data){
    alert(data.message);
    setTimeout(window.close(), 3000);
  })

$(document).on('click','#disconnect',function(e){
  var data = {
    customer : $('#customer').val(),
    cm : $('#cm').val(),
    room: $('#chat_room').val(),
    socket_id: pusher.connection.socket_id
  };
  $.post('<%= request.base_url %>/chat/disconnect', data)
      .success(function(data){
        window.close('<%= request.base_url %>/room/'  + $('#chat_room').val());
        return false
      });
});
$(document).on('click','.send',function(e){
  e.preventDefault();
  if( $('#message').val() == null || $('#message').val() == '') {
    alert('Por favor, ingrese un mensaje');
  }else{
    $('#messages-box').append('<div class="preloader-2"> <img src="<%= asset_path('preloader.gif') %>" /> </div>');
    var data = {
      message : $('#message').val(),
      customer : $('#customer').val(),
      cm : $('#cm').val(),
      user_type: $('#current').val(),
      room: $('#chat_room').val(),
      socket_id: pusher.connection.socket_id
    };
      $.post('<%= request.base_url %>/chat/send_message/', data)
          .success(function(data){
            $('#message').val('') ;
            $('.preloader-2').remove();
            $('#messages-box').html(data);
            $(".messages-box").animate({ scrollTop: $('.messages-box').prop("scrollHeight")}, 650);
          });
  }
});

</script>