<div class="col-md-12" id="chat-container">
  <div class="container center-block no-float">
    <img src="<%= asset_path('logo.png') %>" class="logo-vc" alt="" style="width:200px">
  </div>
  <div class="chat-form">
    <% if @response_msg == nil%>
    <p>Lo atenderémos enseguida, ingrese sus datos para ponernos en contacto con usted.</p>
    <form  id="chat_form" class="center-block no-float" method="get" action="conectar">
      <input type="email" name="customer[email]" placeholder="Correo Electrónico" class="input form-control" id="customer_mail" value="" required>
      <input type="text" name="customer[name]" placeholder="Nombre" class="input form-control"  id="customer_name" value="" required>
      <input type="text" name="customer[company]" placeholder="Empresa" class="input form-control" id="customer_company" value="" required>
      <button type="submit" class="btn btn-primary" id="solicitar_chat">
        Contactar
        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
      </button>
    </form>
    <% else %>
        <% @status_msg == 1 ? @style = "alert alert-info" : @style = "alert alert-warning" %>
        <div class="<%= @style %>"><%= @response_msg %></div>
        <input type="hidden" id="customer_mail" value="<%= @customer_email %>">
        <% if @chat_room != nil %> <input type="hidden" id="chat_room" value="<%= @chat_room.room_name %>"> <% end %>

    <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">


//verificar si hay cm y dejar en espera
var channel_cm_status = pusher.subscribe('channel_cm_status-'+ $('#customer_mail').val()) ;
channel_cm_status.bind('cm_status',function(data){
    var message = data.message;
    var style = "alert alert-warning";
  $('.chat-form').html('<div class="'+style+'">'+message+'</div>');
});

//canal conexion con el cm
var channel_chat_connect = pusher.subscribe('channel_chat_requests-'+ $('#customer_mail').val());
//chat aceptado
channel_chat_connect.bind('accepted_connection',function(data){
  window.location='chat/room/'+data.room;
});
//chat rechazado
channel_chat_connect.bind('rejected_connection',function(data){
  var message = data.message;
  console.log(pusher.connection.socket_id)
  var style = "alert alert-warning";
  $('.chat-form').html('<div class="'+style+'">'+message+'</div>');

});
// canal chat
function private_chat(data){
  var channel_chat_user = pusher.subscribe('private-chat-room-'+$('#customer_mail').val());
  console.log($('#customer_mail').val());

}
</script>