<div class="chatboxcontent">
<% if @messages.any? %>
    <%= render @messages %>
<% end %>
</div>

<div class="chatboxinput">
<%= form_for([@conversation, @message], :remote => true, :html => {id: "conversation_form_# {@conversation.id}"}) do |f| %>
<%= f.text_area :body, class:"chatboxtextarea", "data-cid" => @conversation.id %>
<div class="chat-form-btns">
<%= f.submit "send", class: "btn btn-primary btn-sm btn-submit"%>
<%= f.submit "New Title!", class: "btn btn-success btn-sm btn-new-title"%>
</div>
<% end %>
</div>