<div class="col-md-1 center-block no-float" style="padding: 2em 0">
  <img src="<%= asset_path('logo.png') %>" alt="" style="width:100%">
</div>
<div class="col-md-4 center-block no-float">
  <div class="card card-profile">
    <div class="content">
      <h4 class="card-title">Iniciar Sesión</h4>
      <div class="card-content">
         <%= form_for(resource, as: resource_name, url: session_path(resource_name) , html: {role: "form"} )do |f| %>
             <div class="field">
               <div class="form-group">
                 <%= f.label :email %><br />
                 <%= f.email_field :email, autofocus: true, class: "form-control" %>
               </div>
             </div>

             <div class="field">
               <div class="form-group">
                 <%= f.label :password %><br />
                 <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
               </div>
             </div>

             <% if devise_mapping.rememberable? -%>
                 <div class="field">
                   <%= f.check_box :remember_me %>
                   <%= f.label :remember_me %>
                 </div>
             <% end -%>

             <div class="actions">
               <%= f.submit "Iniciar sesión" , class: "btn btn-info"%>
             </div>
         <% end %>
      </div>
    </div>
  </div>
</div>
