/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require ./front/_yamm
 *= require ./front/app
 *= require ./front/chat
 *= require ./front/filters
 *= require ./front/sweetalert
 *= require ./front/fonts
 *= require ./front/responsive
 *= require ./front/asd
 *= require font-awesome
 */

body{
    font-family: 'Colab','Gill Sans','PT Sans',sans-serif!important;
    overflow: inherit;
}
@media (min-width: 1200px){
    .container {
        width: 1200px;
    }
}
.no-float{
    float:none;
}

.no-paddings{
    padding-right:0;
    padding-left:0;
}

.no-display{
    display: none;
}
.display-inline{
    display:inline-table;
}
.right{
    float: right;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{

    background-color: #392B68;
    border-color: #392B68;
}
.pagination > li > a, .pagination > li > span{
    color : #6841dc;
}
.copy-text a {
    color:#fff;
}

.vcorp-equipos {
  height: 75px;
  width:100%;
  margin-bottom:-20px;
}
.vcorp-equipos img {
    width: 160px;
    height: auto;
    padding: 0;
    margin-top:-3px;
}
.vcorp-equipos h2 {
    background: grey;
    color: #fff;
    text-align: center;
    margin: 0;
    margin-top: -5px;
    font-size: 12px;
    padding: 2px;
    font-weight: bold;
}