/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require ./front/fonts
 *= require ./front/sweetalert
 */
/* ----------- Colors ----------- */
$purple : #552576;
$purple-int : #392B68;
$white  : #fff;
$grey : #a0a3a4;
$light-grey : #f3f3f3;
$dark-grey: #5d5d5f;
$blue : #193159;
$black : #1f1f1f;
$purple2 : #6841DC;
$broadcast-color :  #f1045d;
$seguridad-color :  #ab04f1;
$aulanova-color :  #87e011;
$integracion-color :  #04a0f1;
$interior-color : #F3F5F9;

/* ----------- Screen Sizes ----------- */
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

/* ----- General ----- */
body{
  font-family: 'Colab','Gill Sans','PT Sans',sans-serif!important;
  overflow: inherit;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: transparent;
  box-shadow: none;
  outline: 0 none;
}
.row-f-100 {
  flex: 100%;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-flex-end {
  justify-content: flex-end;
}
// font & colors
.blue {
  background-color: $blue;
}
.bg-grey {
  background-color: $grey !important;
}
.bg-light-grey {
  background-color: $light-grey !important;
}
.fsize-16 {
  font-size: 16px;
}
.purple-int-text {
  color: $purple-int;
}
.white-text {
  color: $white;
}
.grey-text {
  color: #a0a3a4 !important;
}
.purple2-text{
  color: $purple2;
}
// paddings
.small-section-padding {
  padding: 0.5rem;
}
// borders
.no-border {
  border: none !important;
}
/* ----- Navbar ----- */
.navbar-flex {
  display: flex;
  flex: 100%;
  flex-flow: row wrap;
  padding: 1rem 2rem;
  justify-content: space-between;
  .navbar-brand , .logos-vcgroup {
    flex: 0 1 14%;
  }
  .navbar-brand {
    margin: -2rem 0 0 0;
    @media(max-width: 767px) {
      margin: 0;
    }
    img {
      @media(max-width: 1024px)  {
        width: 160px;
      }
      width: 100%;
    }
  }
  .navbar-form {
    flex: 0 1 60%;
    padding: 0 1.5rem;
    margin-top: -2rem;
    @media(max-width: 1024px) {
      flex: 0 1 100%;
      padding: 0;
      margin: 0.5rem 0;
      flex-flow: row wrap;
    }
    .header-flags {
      width: 65%;
      display: flex;
      justify-content: space-between;
      margin-right: 1rem;
      @media(max-width: 1024px) {
        width: 100%;
        margin-right: 0;
      }
      .flag {
        @media(max-width: 1024px) {
          padding: 1rem;
        }
        a {
          color: #000000;
          display: flex;
          align-items: center;
          @media(max-width: 767px) {
            font-size: 12px;
            img {
              width: 30px;
            }
          }
          img {
            width: 50px;
            margin-right: 1rem;
          }
        }
      }
    }
    .header-search-form {
      width: 35%;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      @media(max-width: 1024px) {
        width: 100%;
      }
      input {
        flex: 1;
        max-width: 380px;
        color: #212529;
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        margin: 0;
      }
      .btn-search {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        outline: 0;
        box-shadow: none;
        padding: 0.2rem;
        i {
          color: $purple;
          font-size: 25px;
        }
      }
    }
  }
  .navbar-toggler {
    background-color: $light-grey;
  }
  .logos-vcgroup {
    h2 {
      background: $dark-grey;
      color: $white;
      text-align: right;
      padding: 0.3rem 1rem;
      font-size: 16px;
      width: 260px;
    }
    img {
      width: 180px;
    }
  }
  .navbar-collapse {
    flex: 0 0 80%;
    width: 80%;
    @media(max-width: 767px)  {
      flex: 0 0 100%;
      width: 100%;
    }
    &.overlay {
      position: absolute;
      top: 6.2rem;
      @media(max-width: 767px)  {
        position: relative;
        top: 0;
      }
    }
    .top-menu {
      a {
        display: block;
        color: $blue;
        font-size: 15px;
        font-weight: bold;
      }
      &:hover {
        a {
          color: $purple;
          text-decoration: underline;
        }
      }
      .dropdown-menu {
        width: 100%;
        top: 2rem;
        padding: 1rem;
        text-align: right;
        border-radius: 0;
        border-top: none;
        box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
        li {
          transition: all 0.3s ease;
          &.active {
            background: $light-grey;
            a {
              color: $purple;
            }
          }
          a {
            color: $blue;
            font-size: 15px;
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
    }
    ul.nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .nav-item {
        line-height: 2;
        text-align: center;
      }
    }
  }
}

/* ----- Home slider ----- */
#home_slider {
  position: relative;
  height: 800px;
  @media(max-width: 767px) {
    height: 220px;
  }
  @media(max-width: 1024px) {
    height: 360px;
  }
  .carousel-inner {
    position: relative;
    height: 100%;
    .carousel-item {
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
      .video-slide {
        width: 100%;
        height: 100%;
        background: #151515;
      }
    }
  }
  .carousel-control-next, .carousel-control-prev {
    max-height: 50%;
    margin-top: auto;
    margin-bottom: auto;
  }
}

/* ----- Home Modal ----- */
#service_modal, #service_modal_1 {
  .modal-dialog {
    max-width: 70%;
    .modal-content {
      border-radius: 0;
      background: #000;

      .modal-body {
        padding: 5px;
      }
    }
  }
}
/* ----- Home info ----- */
.home-info {
  background-color: #25242b;
  color: $white;
  .title {
    position: relative;
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    h2 {
      font-size: 45px;
      font-weight: 100;
      @media(max-width: 767px) {
        font-size: 25px;
      }
    }
    &:after {
      content: '';
      position: absolute;
      background-color: #552576;
      width: 10%;
      height: 2.5px;
      left: 45%;
      bottom: 5%;
    }
  }
  .content {
    padding: 2rem;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-size: 25px;
    font-weight: 300;
    @media(max-width: 767px) {
      padding: 0.5rem;
    }
    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      .item {
        margin: 0 1rem;
        @media(max-width: 767px) {
          margin: 0;
        }
        img{
          transition: all 0.3s ease;
          @media(max-width: 767px) {
            width: 70px;
          }
          &:hover {
            border-radius: 50%;
            outline: 0;
            box-shadow: inset 40px 50px 50px rgba(255, 255, 255, 0.065);
          }
        }
      }
    }
    p {
      @media(max-width: 767px) {
        font-size: 18px;
        font-weight: 100;
      }
    }
  }
}
/* ----- Home services ----- */
.home-services {
  margin: 2.5rem 0;
  padding: 0;
  @media(max-width: 767px) {
    margin: 0;
  }
  .service-container {
    background-color: $light-grey;
    margin: 1rem 0;
    @media(max-width: 767px) {
      margin: 0;
    }
    .title {
      img {
        width: 60px;
      }
    }
    .image {
      flex: 1 1 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        max-height: 500px;
        object-fit: cover;
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.1)
        }
      }
    }
    .content {
      width: 80%;
      padding: 2rem 0;
      float: right;
      @media(max-width: 767px) {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        padding: 2rem;
        float: none;
      }
      .title {
        color: $blue;
      }
      .list {
        display: inline-block;
        padding: 1rem 0;
        line-height: 1.8;
        overflow: hidden;
        .item {
          cursor: pointer;
          @media(max-width: 767px) {
            font-size: 16px;
          }
          a {
            font-size: 18px;
            color: $grey;
            text-decoration: none;
            @media(max-width: 767px) {
              font-size: 16px;
            }
          }
          .fa {
            margin-left: -10px;
            transition: all 0.3s ease;
          }
          &.active {
            a {
              color: $purple-int;
              text-decoration: underline;
            }
            .fa {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
/* ----- Home Blocks ----- */
.home-blocks {
  padding: 2rem;
  @media (min-width: 1025px) {
    padding: 2rem 5rem;
  }
  @media(max-width: 767px) {
    padding: 0 15px;
  }
  .block {
    position: relative;
    flex: 0 0 30%;
    max-width: 30%;
    @media(max-width: 767px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .block-title {
      width: 100%;
      text-align: center;
      h3 {
        color: #ffffff;
        font-size: 22px;
        padding: 0.5rem;
        margin: 0;
      }
      &.blue {
        background-color: $blue;
      }
      &.purple-int {
        background-color: $purple-int;
      }
      &.purple {
        background-color: $purple;
      }
    }
    .block-content {
      display: block;
      overflow: hidden;
      @media (min-width: 1025px) {
        height: 400px;
      }
      .block-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
        @media(max-width: 767px) {
          max-height: 300px;
        }
      }
    }
    &:hover{
      .block-image {
        transform: scale(1.1);
      }
    }
  }
}
/* ----- Home Numbers ----- */
.home-numbers {
  .nums {
    text-align: center;
    font-size: 45px;
    font-weight:600;
  }
  .cube {
    display: inline-block;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: rotatecube 10s infinite;
    -moz-transform-style: preserve-3d;
    -moz-animation: rotatecube 10s infinite;
    img {
      width: 100%;
    }
  }
  .bottom-numbers {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }
}
.flip-card-container {
  height: 400px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  .flip-card-content {
    position: relative;
    width: 400px;
    height: 300px;
    margin: auto 0;
    transform-style: preserve-3d;
    perspective: 1000px;
    @media(max-width: 480px) {
      width: 200px;
      height: 200px;
    }
    .flip-card-face {
      height: 100%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
    }
  }
  .flip-card-side-a,
  .flip-card-side-b {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-origin: 50% 50%;
    transition: all 4s ease-in-out;
  }

  .flip-card-side-a {
    transform: rotateY(0deg) translateZ(200px);
    z-index: 1;
    @media(max-width: 480px) {
      transform: rotateY(0deg) translateZ(100px);
    }
  }
  .flip-card-side-b {
    transform: rotateY(90deg) translateZ(200px);
    @media(max-width: 480px) {
      transform: rotateY(90deg) translateZ(100px);
    }
  }
  .flip .flip-card-side-a {
    transform: rotateY(-90deg) translateZ(200px);
    @media(max-width: 480px) {
      transform: rotateY(-90deg) translateZ(100px);
    }
  }
  .flip .flip-card-side-b {
    transform: rotateY(0deg) translateZ(200px);
    z-index: 1;
    @media(max-width: 480px) {
      transform: rotateY(0deg) translateZ(100px);
    }
  }
}

/* ----- Footer ----- */
footer {
  background-color: #26272B;
  margin-top: 2rem;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  .footer-container {
    padding: 4em 0px;
    @media(max-width: 767px){
      padding: 1rem 2rem;
    }
    .form-control {
      &.searchfooter {
        background: #313131;
        border: none;
        width: 90%;
        float: left;
        border-radius: 0px;
      }
    }
    .btn-footer-search {
      width: 10%;
      float: left;
      background: #313131;
      border: 1px solid #313131;
      border-radius: 0px;
      color: #999;
    }
  }
  .footer-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    @media(max-width: 767px) {
      padding: 1rem 0;
    }
    li {
      color: #fff;
      a {
        color: #fff;
      }
    }
    &.footer-links {
      li {
        @media(max-width: 767px) {
          border-bottom: 1px solid rgba(255,255,255,0.5);
          border-right: 0;
          border-left: 0;
        }
      }
    }
    &.footer-info {
      .banderas {
        width: 35px;
      }
      @media(max-width: 767px) {
        padding: 1rem 0;
      }
    }
    &.footer-flags {
      @media(max-width: 767px) {
        li {
          &:first-child {
            border-top: 1px solid #fff;
            padding: 1rem 0 ;
          }
        }
      }
      .banderas {
        width: 25px;
        margin: 0.25rem 0.5rem 0.5rem 0;
      }
    }
  }
  .social-links {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    margin-right: 5px;
    font-size: 20px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 45px;
      height: 40px;
      color: #fff;
      text-align: center;
      text-transform: none;
    }
    .facebook {
      background-color: #3B5998;
    }
    .twitter {
      background-color: #1A93DE;
    }
    .youtube {
      background-color: #E62117;
    }
    .instagram {
      background-color: #E51231;
    }
  }
}
.copyright {
  border-top: solid 1px rgba(255, 255, 255, 0.08);
  padding: 1rem 0;
  background-color: #26272B;
  display: flex;
  height: 57px;
  @media(max-width:767px) {
    height: 100%;
    font-size: 14px;
    padding: 1rem 0 0.25rem 0;
  }
}

/* ----- Breadcrumbs ----- */
.breadcrumb {
  background: #fbfbfb;
  padding: 0.25rem 0rem;
  margin: 0rem 2rem;
  a {
    color: #183659;
    padding: 0 0.5rem;
  }
}
/* ----- Content ----- */
.content {
  margin: 0 2.5rem;
  @media(max-width:767px) {
    margin: 0;
  }
  .header-section {
    background: $interior-color;
    color: $blue;
    text-align: center;
    padding: 1.5rem;
  }
  .tab-contenido {
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: 1px solid rgba(0,0,0,0.25);
    .banderas {
      width: 30px;
    }
  }
  /* -- contacto --*/
  .contact-info {
    h4 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
  }
  /* -- interior page -- */
  .interior-page {
    margin: 2rem 0;
    .associated-brands {
      padding: 2rem;
    }
    .partner-logo {
      width: 100%;
      margin: 2rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-width: 300px;
        max-height: 100px;
      }
    }
    .holding {
      display: flex;
      justify-content: space-around;
      align-content: end;
      flex-flow: row wrap;
      margin: 1rem 0;
      .holding-brand {
        flex: 0 1 15%;
      }
    }
  }
}

/* ----- Projects ----- */
.project-list {
  background: rgba(240,240,240,0.2);
  padding: 1em;
  border-bottom: 1px dashed rgba(0,0,0,0.2);
  text-align: justify;
  @media(max-width: 767px) {

  }
  img {
    width: 100%;
  }
  h4 {
    font-size: 18px;
  }
  p {
    display: inline-block;
    word-wrap: break-word;
    width: 100%;
    font-size: 14px;
    text-align: left;
  }
}
  /* -- filtros -- */
  .filters {
    .check {
      &:hover {
        background: rgba(0, 0, 0, 0.08);
        label {
          &:hover {
            color: #2E2F30;
          }
        }
      }
      label {
        color: #535c6b;
        transition: 0.5s all ease;
        font-size: 17px;
        line-height: 1.4;
        font-weight: 400;
        cursor: pointer;
        &:hover {
          color: $purple;
        }
      }
      input:checked + label {
        color: $purple-int;
      }
    }
    h1 {
      font-size: 18px;
      font-weight: bold;
    }
  }
  /* -- pagination -- */
  .pagination {
    .page-item {
      .page-link {
        color: $purple-int;
        font-weight: 100;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      }
      &.active {
        .page-link {
          color: $white;
          background-color: $purple-int;
          border-color: $purple-int;
        }
      }
    }
  }