<div class="content">
  <div class="container-fluid">
    <div class="row">
      <%= form_for(@brand) do |f| %>
          <div class="col-md-12 ">
            <button type="submit" class="btn btn-success pull-right" id="save_button">
              <i class="material-icons">save</i>
              Guardar</button>

          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="blue">
                <h4 class="title"><%= @title %></h4>
                <p class="category"></p>
              </div>
              <div class="card-content">
                <% if @brand.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

                      <ul>
                        <% @brand.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-6">
                      <div class="form-group label-floating is-empty">
                        <label class="label">Nombre </label>
                        <%= f.text_field :name, class: 'form-control' %>
                        <span class="material-input"></span>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>

  </div>
</div>

