<div class="content">
  <div class="container-fluid">
    <div class="row">
      <%= render "layouts/admin/search" %>
      <div class="col-md-12">
        <div class="card">
          <div class="option_buttons">
            <%= link_to  new_brand_path, class: 'white-text pull-right', :'title'=>'Nueva Marca' do %>
                <i class="material-icons">edit</i>
                Nueva Marca
                <div class="ripple-container"></div>
            <% end %>
          </div>
          <div class="card-header" data-background-color="blue">
            <h4 class="title">Listado de Marcas</h4>
          </div>
          <div class="card-content">
            <div id="typography">
              <% if @brands.count < 1 %>
                  <div class="col-md-6 alert alert-warning center-block no-float alert-with-icon">
                    <i data-notify="icon" class="material-icons">info_outline</i>
                    <span class="message">
                      <b> Oops! - </b> No hay marcas para mostrar,
                      <%= link_to 'haga click aquí para crear una nuevo', new_brand_path %></span>
                  </div>
              <% else %>
                  <div class="title">
                  </div>
                  <div class="row">
                    <table class="table">
                      <thead class="text-primary">
                      <tr>
                        <th>Nombre</th>
                        <th>Opciones</th>
                      </tr></thead>
                      <tbody>
                      <% @brands.each do |brand| %>
                          <tr>
                            <td><%= brand.name %></td>
                            <td><%= link_to 'Ver', brand ,{class: 'btn btn-success'} %>
                              <%= link_to 'Editar', edit_brand_path(brand) ,{class: 'btn btn-info'} %>
                              <%= link_to 'Eliminar', brand, method: :delete, data: { confirm: '¿Esta seguro?' }, class: 'btn btn-danger' %></td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                  <%= paginate @brands %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

