<div class="content">
  <div class="container-fluid">
    <div class="row">
      <%= form_for(@category) do |f| %>
          <div class="col-md-12 ">
            <button type="submit" class="btn btn-success pull-right">
              <i class="material-icons">save</i>
              Guardar</button>

          </div>
          <div class="col-md-8">
            <div class="card">
              <div class="card-header" data-background-color="blue">
                <h4 class="title"><%= @title %></h4>
                <p class="category"></p>
              </div>
              <div class="card-content">
                <% if @category.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

                      <ul>
                        <% @category.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                      <label class="label">Nombre </label>
                      <%= f.text_field :name, class: 'form-control' %>
                      <span class="material-input"></span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                      <label class="label">URL </label>
                      <%= f.text_field :slug, class: 'form-control' %>
                      <span class="material-input"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                      <% if @category != nil %>
                        <%  if @category.id != nil  and @category.id > 4 %>
                        <label class="label">Categoría Padre</label>
                        <input type="hidden" id="selected_categories"  name="category[category_id]" value="">
                        <select id="select_cat"  class="selectpicker"data-live-search="true" required>
                          <% @categories.each do |c|  %>
                              <% if c.category_id == 0 %>
                                  <option data-tokens="<%= c.name%>" value="<%= c.id %>"><%= c.name%></option>
                                  <% @childrens = c.childrens(c.id) %>
                                  <% if @childrens.count > 0  %>
                                      <% @childrens.each do |child|  %>
                                          <option data-tokens="<%= child.name%>"  value="<%= child.id %>" style="border-top:1px dashed #eee;margin-left:5%"><%= child.name%></option>
                                      <% end %>
                                  <% end %>
                              <% end %>
                          <% end %>
                        </select>
                        <% else %>
                          <% if @action != "edit" %>
                              <label class="label">Categoría Padre</label>
                              <input type="hidden" id="selected_categories"  name="category[category_id]" value="">
                              <select id="select_cat"  class="selectpicker"data-live-search="true" required>
                                <% @categories.each do |c|  %>
                                    <% if c.category_id == 0 %>
                                        <option data-tokens="<%= c.name%>" value="<%= c.id %>"><%= c.name%></option>
                                        <% @childrens = c.childrens(c.id) %>
                                        <% if @childrens.count > 0  %>
                                            <% @childrens.each do |child|  %>
                                                <option data-tokens="<%= child.name%>"  value="<%= child.id %>" style="border-top:1px dashed #eee;margin-left:5%"><%= child.name%></option>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                <% end %>
                              </select>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group label-floating is-empty">
                      <label class="label">Descripcion</label>
                      <%= f.text_area :description, class: 'form-control', rows: '10' %>
                      <span class="material-input"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header" data-background-color="blue">
                <h4 class="title">Imagen</h4>
              </div>
              <div class="card-content">
                <div class="col-md-12">
                  <%= image_tag @category.image.url, {class: 'thumbnail img form_img no-float center-block',id:'img_form'} %>
                  <%= f.file_field :image, id: 'file_img' %>
                  <br>
                </div>
              </div>

            </div>
          </div>
          <input type="hidden" name="category[status]" value="1">
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  document.getElementById("file_img").onchange = function () {
    var reader = new FileReader();

    reader.onload = function (e) {
      // get loaded data and render thumbnail.
      document.getElementById("img_form").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
  };
</script>
