<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="option_buttons">
            <%= link_to  new_category_path, class: 'white-text pull-right', :'title'=>'Nueva Categoría' do %>
                <i class="material-icons">edit</i>
                Nuevo Categoría
                <div class="ripple-container"></div>
            <% end %>
          </div>
          <div class="card-header" data-background-color="blue">
            <h4 class="title">Listado de Categorías</h4>
          </div>
          <div class="card-content">
            <div id="typography">
              <% if @categories.count < 1 %>
                  <div class="col-md-6 alert alert-warning center-block no-float alert-with-icon">
                    <i data-notify="icon" class="material-icons">info_outline</i>
                    <span class="message">
                      <b> Oops! - </b> No hay categorías para mostrar,
                      <%= link_to 'haga click aquí para crear uno nuevo', new_category_path %></span>
                  </div>
              <% else %>
                  <div class="title">
                  </div>
                  <div class="row">
                    <table class="table">
                      <thead class="text-primary">
                      <tr>
                        <th>Nombre</th>
                        <th>slug</th>
                        <th>Imagen</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                      </tr></thead>
                      <tbody>
                      <% @categories.each do |category| %>
                          <tr>
                            <td><%= category.name %></td>
                            <td><%= category.slug %></td>
                            <td><%= image_tag category.image.url(:thumb), class:'thumbnails list-icon' %></td>
                            <td><%= category.status %></td>
                            <td><%= link_to 'Ver', category ,{class: 'btn btn-success'} %>
                              <%= link_to 'Editar', edit_category_path(category) ,{class: 'btn btn-info'} %>
                              <% if category.id > 4%>
                              <%= link_to 'Eliminar', category, method: :delete, data: { confirm: '¿Esta seguro?' }, class: 'btn btn-danger' %>
                              <% end%>
                            </td>
                          </tr></tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                  <%= paginate @categories %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


