<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 center-block no-float">
        <div class="card card-profile">
          <div class="card-avatar">
            <%= image_tag @category.image.url, {class: 'thumbnail form_img avatar-thumb'} %>
          </div>
          <div class="content" style="padding: 5px 2em;">
            <p class="card-content">
              <span>Categoría <strong> <%= @category.name %></strong></span>
            <hr>
            <span>Slug <strong> <%= @category.slug %></strong></span>
            <hr>
            <%= link_to 'EDITAR', edit_category_path(@category),{class: 'btn btn-info'} %> |
            <%= link_to 'VOLVER', '/admin/categories',{class: 'btn btn-alert'} %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



