<%
  slides_total = @slider.slider_videos.count
  i = 0
%>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <%= form_for(@slider_video) do |f| %>
        <div class="col-md-12 ">
          <button type="submit" class="btn btn-success pull-right">
            <i class="material-icons">save</i>
            Guardar</button>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-header" data-background-color="blue">
              <h4 class="title"><%= @title %></h4>
              <p class="category"></p>
            </div>
            <div class="card-content">
              <div class="col-md-10">
                <%= video_tag @slider_video.video.url, {class: 'thumbnail img form_img no-float center-block',id:'img_form'} %>
                <%= f.file_field :video, id: 'file_img' %>
                <hr>
                <span class="info">
                    <%= @slider.slider_type_id == 1 ? "1920x800 px":"1000x200 px" %>
                  </span>
                <hr>
              </div>
              <div class="col-md-2">
                <div class="form-group label-floating is-empty">
                  <label class="label">Posición: </label>
                  <select class="form-control" name="order">

                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <input type="hidden" name="slider_video[slider_id]" value="<%= @slider.id %>">
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    $(document).on('ready',function(){
        $('#product_price').val('0');
    })
    document.getElementById("file_img").onchange = function () {
        var reader = new FileReader();

        reader.onload = function (e) {
            // get loaded data and render thumbnail.
            document.getElementById("img_form").src = e.target.result;
        };

        // read the video file as a data URL.
        reader.readAsDataURL(this.files[0]);
    };
</script>