<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"data-background-color="blue">
        <h4 class="title">Comentarios</h4>
        <p class="category"></p>
      </div>
      <div class="card-content">
        <div class="row">
          <table class="table">
            <thead class="text-primary">
              <tr>
                <th>Usuario</th>
                <th>Commentario</th>
                <th>Fecha</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <% @comments.each do |c| %>
                <tr>
                  <td><%= c.user %></td>
                  <td><%= c.comment[0..120].capitalize %></td>
                  <td><%= c.created_at.to_date %></td>
                  <td>
                  <%= link_to 'Eliminar', ['../../../comment/delete/' + c.id.to_s ].join(''), method: :delete, data: { confirm: '¿Esta seguro?' }, class: 'btn btn-danger' %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>