<div class="content">
  <div class="container-fluid">
    <div class="row">
      <%= form_for(@product) do |f| %>
          <div class="col-md-12 ">
            <button type="submit" class="btn btn-success pull-right">
              <i class="material-icons">save</i>
              Guardar</button>

          </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header" data-background-color="blue">
            <h4 class="title"><%= @title %></h4>
            <p class="category"></p>
          </div>
          <div class="card-content">
            <% if @product.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

                <ul>
                <% @product.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
              <div class="row">
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="form-group label-floating is-empty">
                      <label class="label">Nombre </label>
                      <%= f.text_field :name, class: 'form-control' , :requried => 'required' %>
                      <span class="material-input"></span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                      <label class="label">SKU </label>
                      <%= f.text_field :sku, class: 'form-control' , :requried => 'required' %>
                      <span class="material-input"></span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                      <label class="label">Modelo </label>
                      <%= f.text_field :model, class: 'form-control' , :requried => 'required' %>
                      <span class="material-input"></span>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group label-floating is-empty">
                      <label class="label">Precio</label>
                         <%= f.number_field :price, class: 'form-control' , :requried => 'required' %>
                      <span class="material-input"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="label-floating is-empty">
                      <label class="label">Imagenes complementarias</label>
                      <%= file_field_tag "images[]", type: :file, multiple: true %>
                    </div>
                  </div>
                  <hr>
                  <span class="info">
                        680x400
                  </span>
                  <hr>
                  <div class="col-md-12">
                    <div class="label-floating is-empty">
                      <h4>Subir PDF del Producto  <i class="material-icons">picture_as_pdf</i></h4>
                      <%= f.file_field :pdf_file %>
                    </div>
                  </div>
                  <br>
                  <br>
                  <hr>
                  <hr>
                  <br>

                  <div class="col-md-12">
                    <div class="form-group label-floating is-empty">
                      <label class="label">Marca</label>
                      <%= select("product","brand_id",Brand.all.collect {|b| [b.name , b.id] } , {include_bank: true} , {:class => "form-control"} )%>
                      <span class="material-input"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card card-nav-tabs">
                    <div class="card-header" data-background-color="green">
                      <span class="nav-tabs-title">Información: </span>
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="active">
                          <a href="#descripcion" data-toggle="tab" aria-expanded="true">
                            Descripcion
                          </a>
                        </li>
                        <li class="">
                          <a href="#info_add" data-toggle="tab" aria-expanded="false">
                            Información Adicional
                          </a>
                        </li>
                        <li class="">
                          <a href="#short_description" data-toggle="tab" aria-expanded="false">
                            Descripción corta
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="card-content">
                      <div class="tab-content ">
                        <div class="tab-pane active" id="descripcion">
                          <%= f.text_area :description, class: 'form-control', rows: '10'  , :requried => 'required'%>
                        </div>
                        <div class="tab-pane" id="info_add">
                          <%= f.text_area :info_add, class: 'form-control', rows: '10' %>
                        </div>
                        <div class="tab-pane" id="short_description">
                          <%= f.text_area :short_description, class: 'form-control', rows: '10' %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header" data-background-color="blue">
            <h4 class="title">Imagen Principal</h4>
          </div>
          <div class="card-content">
            <div class="col-md-12">
              <%= image_tag @product.avatar.url, {class: 'thumbnail img form_img no-float center-block',id:'img_form'} %>
              <%= f.file_field :avatar, id: 'file_img' %>
              <hr>
              <span class="info">
                680x400
              </span>
              <hr>
            </div>
          </div>

        </div>
      </div>
          <input type="hidden" name="product[status]" value="1">
      <% end %>
    </div>
    <% if not @action == "new" %>
      <%= render "comment" %>
    <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).on('ready',function(){
    $('#product_price').val('0');
  })
  document.getElementById("file_img").onchange = function () {
    var reader = new FileReader();

    reader.onload = function (e) {
      // get loaded data and render thumbnail.
      document.getElementById("img_form").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
  };
</script>