<div class="content">
  <div class="container-fluid">
    <div class="row">
      <%= render "layouts/admin/search" %>
      <div class="col-md-12">
        <div class="card">
          <div class="option_buttons">
            <%= link_to  new_product_path, class: 'white-text pull-right', :'title'=>'Nuevo Producto' do %>
                <i class="material-icons">edit</i>
                Nuevo Producto
                <div class="ripple-container"></div>
            <% end %>
          </div>
          <div class="card-header" data-background-color="blue">
            <h4 class="title">Listado de Productos</h4>
          </div>
          <div class="card-content">
            <div id="typography">
              <% if @products.count < 1 %>
                  <div class="col-md-6 alert alert-warning center-block no-float alert-with-icon">
                    <i data-notify="icon" class="material-icons">info_outline</i>
                    <span class="message">
                      <b> Oops! - </b> No hay productos para mostrar,
                      <%= link_to 'haga click aquí para crear uno nuevo', new_product_path %></span>
                  </div>
              <% else %>
              <div class="title">
              </div>
              <div class="row">
                <table class="table">
                  <thead class="text-primary">
                  <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                    <th>sku</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                  </tr></thead>
                  <tbody>
                  <% @products.each do |product| %>
                      <tr>
                        <td><%= product.name %></td>
                        <td><%= product.price %></td>
                        <td><%= image_tag product.avatar.url(:icon), class:'thumbnails list-icon' %></td>
                        <td><%= product.sku %></td>
                        <td><%= product.status %></td>
                        <td><%= link_to 'Ver', product ,{class: 'btn btn-success'} %>
                        <%= link_to 'Editar', edit_product_path(product) ,{class: 'btn btn-info'} %>
                        <%= link_to 'Eliminar', product, method: :delete, data: { confirm: '¿Esta seguro?' }, class: 'btn btn-danger' %></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
                  <%= paginate @products %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

