<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 center-block no-float">
        <div class="card card-profile">
          <div class="card-avatar">
            <%= image_tag @product.avatar.url, {class: 'thumbnail form_img'} %>
          </div>
          <div class="content" style="padding: 5px 2em;">
            <p class="card-content" >
              <span>Producto <strong> <%= @product.name %></strong></span>
            <hr>
              <span>Precio <strong> <%= @product.price %></strong></span>
            <hr>
              <span>SKU <strong> <%= @product.sku %></strong></span>

            <hr>
              <span>Descripción <strong> <%= @product.description[0,100] %>...</strong></span>
            <hr>
            <%= link_to 'EDITAR', edit_product_path(@product),{class: 'btn btn-info'} %> |
            <%= link_to 'VOLVER', '/admin/products',{class: 'btn btn-alert'} %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
