<!DOCTYPE html>
<html>
<head>
  <title>Admin - VideoCorp</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag 'admin/admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin.js', 'data-turbolinks-track' => true %>
  <meta name="csrf-token" content="<%= form_authenticity_token %>">  <%= csrf_meta_tags %>

  <script src="//js.pusher.com/3.2/pusher.min.js"></script>
  <script>
    $.ajaxSetup({ headers: { 'csrftoken' :$('meta[name="csrf-token"]').attr('content')} });

  </script>
</head>
<body data-no-turbolink="true">

<% if notice != nil %>
    <script type="text/javascript" charset="utf-8">
          demo = {
            showNotification: function (from, align) {

              $.notify({
                icon: "notifications",
                message: "<%= notice %>"

              }, {
                type: 'success',
                timer: 4000,
                placement: {
                  from: from,
                  align: align
                }
              });
            }
          }
          demo.showNotification('top','right');
    </script>
<% end %>
<% if alert != nil %>
    <script type="text/javascript" charset="utf-8">
          demo = {
            showNotification: function (from, align) {

              $.notify({
                icon: "notifications",
                message: "<%= alert %>"

              }, {
                type: 'warning',
                timer: 4000,
                placement: {
                  from: from,
                  align: align
                }
              });
            }
          }
          demo.showNotification('top','right');
    </script>
<% end %>

<div class="wrapper">
  <% if user_signed_in? %>
       <%= render "layouts/admin/sidebar" %>
      <div class="main-panel">
        <%= render "layouts/admin/header" %>
        <%= yield %>
        <%= render "layouts/admin/footer" %>
      </div>
  <% else %>
      <%= yield %>
  <% end %>
</div>
</body>
</html>
