<!--  DESARROLLADO POR PRONUEVA../fonts/colab/ColabReg.otf
      www.pronueva.com
      Santiago, Chile.
      contacto@pronueva.com -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Videocorp</title>
  <%= stylesheet_link_tag    'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="<%= !@product.nil? ? @product.name.to_s + ' - VideoCorp' : 'VideoCorp' %>" />
  <meta property="og:description" content="<%= !@product.nil? ? @product.short_description.to_s : 'VideoCorp' %>" />
  <meta property="og:url" content="<%= !@product.nil? ? 'http://www.videocorp.com/product/' + @product.id.to_s  :  URI(request.url).to_s %>" />
  <meta property="og:image" content="<%= !@product.nil? ? URI(request.url) + @product.avatar.url : URI(request.url) + asset_path('logo.png')  %>" />

  <script id="recaptcha" src="https://www.google.com/recaptcha/api.js"></script>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-98467312-1', 'auto');
      ga('send', 'pageview');

  </script>
</head>
<body>
<!--script type="text/javascript" charset="utf-8">

  $('#chat-button').click(function(){
    window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=800,height=550');
    return false
  });
</script-->
<%= csrf_meta_tags %>
  <%= render "layouts/common/header" %>
  <div class="home">
    <% unless @no_breadcrumb %>
    <ol class="breadcrumb">
      <%= render_breadcrumbs  :separator => ' / '  %>
    </ol>
    <% end %>
    <%= yield %>
  </div>

<% if notice %>
  <div class="modal" id="contactModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <span><%= notice %></span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
  <%= render "layouts/common/footer" %>
<!-- script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: 'fa6a2d1a-d6a9-42a0-a2e7-7e88948c3c8a', f: true }); done = true; } }; })();</script -->
</body>
</html>
