<!DOCTYPE html>
<html>
<head>
  <title>VideoCorp - Chat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//js.pusher.com/3.2/pusher.min.js"></script>
  <%= csrf_meta_tags %>
  <script>
    $.ajaxSetup({ headers: { 'csrftoken' :$('meta[name="csrf-token"]').attr('content')} });
    // Added Pusher logging
    var pusher = new Pusher('<%= Pusher.key %>',{
      encrypted: true,
      authEndpoint: '<%= request.base_url %>/pusher/auth', // just a helper method to create a link
      auth: {
        headers: {
          'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') // CSRF token
        }
      }
    });
  </script>

</head>
<body>
  <%= yield %>
  <!--Start of Tawk.to Script-->

  <!--End of Tawk.to Script-->
</body>
</html>
