<!--  DESARROLLADO POR PRONUEVA
      www.pronueva.com
      Santiago, Chile.
      contacto@pronueva.com -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Videocorp</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="<%= !@product.nil? ? @product.name.to_s + ' - VideoCorp' : 'VideoCorp' %>" />
  <meta property="og:description" content="<%= !@product.nil? ? @product.short_description.to_s : 'VideoCorp' %>" />
  <meta property="og:url" content="<%= !@product.nil? ? 'http://www.videocorp.com/product/' + @product.id.to_s  :  URI(request.url).to_s %>" />
  <meta property="og:image" content="<%= !@product.nil? ? URI(request.url) + @product.avatar.url : URI(request.url) + asset_path('logo.png')  %>" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <!-- Assets -->
  <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track': 'reload'%>
  <%= javascript_include_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>

  <script id="recaptcha" src="https://www.google.com/recaptcha/api.js"></script>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-98467312-1', 'auto');
      ga('send', 'pageview');

  </script>
</head>
<body>
<%= csrf_meta_tags %>
<% if notice %>
  <script>
    swal("<%= notice %>");
  </script>
<% end %>
  <!-- Header -->
  <nav class="navbar navbar-expand-lg navbar-flex navbar-light">
    <a href="/" class="navbar-brand text-center">
      <img src="<%= asset_path('logo.png') %>" alt="">
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-form d-flex justify-content-space-between">
      <div class="header-flags">
        <div class="flag">
          <a href="#" class="contact-link link" data-uri="/contacto">
            <img class="banderas" src="<%= asset_path('/assets/header/1Chile.png')%>" alt="">
            <span>Chile</span></a>
        </div>
        <div class="flag">
          <a href="#" class="contact-link link" data-uri="/contacto">
            <img class="banderas"  src="<%= asset_path('/assets/header/2peru.png')%>" alt="">
            <span>Perú</span></a>
        </div>
        <div class="flag">
          <a href="#" class="contact-link link" data-uri="/contacto">
            <img class="banderas"  src="<%= asset_path('/assets/header/3colombia.png')%>" alt="">
            <span>Colombia</span></a>
        </div>
      </div>
      <form id="search_header_form1" class="header-search-form form-inline" action="<%= request.base_url %>/proyectos/search" method="get">
        <input id="search_header1" class="form-control text-right bg-light" name="keywords" type="search" placeholder="Buscar">
        <button class="btn btn-default btn-search bg-light" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
    <div class="logos-vcgroup text-right d-none d-lg-block">
      <% @videocorp_partners.each do |vp| %>
        <% if vp.in_header == 1 %>
          <% if vp.title != nil  %>
            <h2><%= vp.title %></h2>
          <% end %>
          <a href="<%= vp.url %>">
            <img class="center-block no-float" src="<%= vp.logo.url(:medium) %>" alt="<%= vp.name %> "></a>
        <% end %>
      <% end %>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse overlay">
      <ul class="navbar-nav mr-auto">
        <% @menu.each do |m| %>
          <% if m.menu_id == nil %>
            <li class="nav-item top-menu <%= m.child_menu(m.id).count > 0 ? "dropdown" : ""%>">
              <%if m.url == 'contacto' || m.url == 'trabaja-con-nosotros' %>
                <a href="/<%= m.url %>" data-uri="/<%= m.url %>" aria-expanded="false" class="nav-link link" >
                  <%= m.name.mb_chars.upcase %>
                </a>
              <%else%>
                <a href="<%= !m.url.empty?  ? '/'+m.url : '#' %>"
                   class="nav-link <%= m.child_menu(m.id).count > 0 ? "dropdown-toggle" : "" %>"
                   <%= m.child_menu(m.id).count > 0 ? 'id="navbarDropdown-'+m.id.to_s+'" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"' : '' %>>
                  <%= m.name.mb_chars.upcase %>
                </a>
              <%end%>
              <%if m.child_menu(m.id).count > 0
                  @sub_menus = m.child_menu(m.id)
              %>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown-<%= m.id %>">
                  <% @sub_menus.each do |sm| %>
                    <li>
                      <a href="/<%= sm.url %>"> <%= sm.name %></a>
                    </li>
                  <% end %>
                </ul>
              <% end %>
              <% if m.url == 'productos' %>
                <ul class="dropdown-menu ">
                  <% @brands.each do |b| %>
                    <li>
                      <a href="<%= request.base_url %>/productos/<%= b.name %>"> <%= b.name %></a>
                    </li>
                  <% end %>
                  <li><a href="/productos">Todos</a></li>
                </ul>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </nav>

  <div id="nav-sticky" class="navbar navbar-fixed-top" style="display: none">
    <div class="col-md-12">
      <div id="navbar-collapse-2" class="navbar-collapse collapse">
        <ul class="nav navbar-nav ul-fixed">
          <!-- Media Example -->
          <li class="header-option">
            <a href="/" class="navbar-brand"><img src="<%= asset_path('logo.png') %>" alt="" style="max-width:180px;margin-top:-15px"></a>
          </li>
          <% @menu.each do |m| %>
            <% if m.menu_id == nil %>
              <li class="header-option dropdown yamm-fullwidth">
                <%if m.url == 'contacto' || m.url == 'trabaja-con-nosotros' %>
                  <a href="#" onclick="javascript:link('/<%= m.url %>')" aria-expanded="false" class="dropdown-toggle link">
                    <%= m.name.mb_chars.upcase %>
                  </a>
                <%else%>
                  <a href="/<%= m.url %>" aria-expanded="false" class="dropdown-toggle">
                    <%= m.name.mb_chars.upcase %>
                  </a>
                <%end%>

                <%if m.child_menu(m.id).count > 0
                    @sub_menus = m.child_menu(m.id)
                %>
                  <ul class="dropdown-menu ">
                    <% @sub_menus.each do |sm| %>
                      <li>
                        <a href="/<%= sm.url %>"> <%= sm.name %></a>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
                <% if m.url == 'productos' %>
                  <ul class="dropdown-menu ">
                    <% @brands.each do |b| %>
                      <li>
                        <a href="<%= request.base_url %>/productos/<%= b.name %>"> <%= b.name %></a>
                      </li>
                    <% end %>
                    <li><a href="/productos">Todos</a></li>
                  </ul>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <!-- // Header -->
  <!-- Breadcrumbs -->
  <% unless @no_breadcrumb %>
    <ol class="breadcrumb">
      <%= render_breadcrumbs  :separator => ' / '  %>
    </ol>
  <% end %>
  <!-- // Breadcrumbs -->
  <% if !current_page?(root_path)  %>
  <div class="content">
    <%= yield %>
  </div>
  <% else %>
    <%= yield %>
  <% end %>
<% if notice %>
  <div class="modal" id="contactModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <span><%= notice %></span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
  <%= render "layouts/common/footer" %>
</body>
</html>
